<template>
  <q-card class="q-mb-md">
    <q-card-title>
      <div class="row content-center items-center justify-between">
        <p class="q-ma-none">Character</p>
        <!-- <q-btn label="Save Character" color="primary" @click="save" icon="save"/> -->
      </div>
    </q-card-title>
    <q-card-main>
      <q-field label="Name">
        <q-input v-model="model.name" />
      </q-field>
      <q-field label="Description">
        <q-input
          v-model="model.description"
          type="textarea"
          float-label="Textarea"
          :max-height="100"
          rows="7"
        />
      </q-field>
      <q-field label="Author">
        <q-input v-model="model.credit.author" />
      </q-field>
      <q-field
        label="Pictures Credit"
        helper="Credit person that made the pictures"
      >
        <q-input v-model="model.credit.pictures" />
      </q-field>
      <q-field label="Coder">
        <q-input v-model="model.credit.coder" />
      </q-field>
      <q-field label="Picture">
        <q-input v-model="model.picture" />
      </q-field>
      <q-field label="Anime">
        <q-input v-model="model.anime" />
      </q-field>
      <q-field label="Arena">
        <q-select v-model="model.arena" float-label="Arena" :options="arenas" />
      </q-field>
      <q-field label="Enable">
        <q-toggle v-model="model.enable" />
      </q-field>
      <q-field label="Show Usage">
        <q-toggle v-model="model.isShowUsage" />
      </q-field>

      <q-card-separator class="q-my-md" />

      <p>
        <b>Create Skills</b>
      </p>
      <q-field label="Skill Name">
        <div class="row col-12 justify-between">
          <q-input v-model="create.skill" class="col-8" />
          <q-btn
            label="Add"
            color="primary"
            @click="fnSkill('add')"
            icon="save"
          />
        </div>
      </q-field>

      <p v-for="(item, index) in skills" :key="'skill' + index">
        {{ item.name }} -
        <span @click="fnView('add', item.id)">add to view</span> |
        <span
          @click="fnSkill('charge', { name: item.name, picture: item.picture })"
          >add to charge</span
        >
        |
        <span @click="fnSkill('remove', { index })">delete</span>
      </p>

      <p>
        <b>Skill View</b>
      </p>
      <p v-for="(item, index) in view" :key="'view' + index + viewKey">
        {{ viewtoSkill(item) }} -
        <span @click="fnView('up', item)">move up</span> |
        <span @click="fnView('down', item)">move down</span> |
        <span @click="fnView('remove', item)">remove</span>
      </p>

      <q-card-separator class="q-my-md" />

      <p class="row justify-between items-center">
        <b>Create Charge</b>
        <q-btn
          label="Add"
          color="primary"
          @click="fnCharge('add')"
          icon="save"
        />
      </p>
      <q-field label="Charge Name">
        <div class="row col-12 justify-between">
          <q-input v-model="charge.name" class="col-8" />
        </div>
      </q-field>
      <q-field label="Charge Picture">
        <div class="row col-12 justify-between">
          <q-input v-model="charge.picture" class="col-8" />
        </div>
      </q-field>

      <p v-for="(item, index) in charges" :key="'charges' + index">
        {{ item.name }} -
        <span @click="fnCharge('remove', item.id)">delete</span>
      </p>
    </q-card-main>

    <q-page-sticky position="top-right" :offset="[18, 18]"></q-page-sticky>
  </q-card>
</template>

<script>
import _ from 'lodash'
import uniqid from 'uniqid'
import char from '../../definitions/char'
import skill from '../../definitions/skill'
import charge from '../../definitions/charge'

export default {
  name: 'BuilderChar',
  data() {
    return {
      // model: char,
      initiated: false,
      create: {
        skill: ''
      },
      charge: {
        name: '',
        picture: ''
      },
      viewKey: 0      
    }
  },
  computed: {
    model: {
      get: function() {
        return this.$store.getters['builder/char']
      }
    },
    skills: function() {
      return this.$store.getters['builder/skills']
    },
    charges: function() {
      return this.$store.getters['builder/charge']
    },
    view: {
      get: function() {
        let data = this.$store.getters['builder/view']
        console.log(data)
        return data
      }
    },
    arenas: function() {
      return this.$store.getters['builder/arenas'].map(x => {
        return {
          label: x.name,
          value: x._id
        }
      })
    }
  },
  methods: {
    save: function() {
      let payload = this.model
      this.$store.commit('builder/char', payload)
      this.initiated = true
    },
    fnView: function(type, val) {
      if (type === 'add') {
        let payload = {
          type: 'VIEW_ADD',
          val: val
        }
        this.$store.commit('builder/view', payload)
      }
      if (type === 'remove') {
        let payload = {
          type: 'VIEW_REMOVE',
          val: val
        }
        this.$store.commit('builder/view', payload)
      }
      if (type === 'up') {
        let payload = {
          type: 'VIEW_UP',
          val: val
        }
        this.viewKey = this.viewKey + 1
        this.$store.commit('builder/view', payload)
      }
      if (type === 'down') {
        let payload = {
          type: 'VIEW_DOWN',
          val: val
        }
        this.$store.commit('builder/view', payload)
      }
    },
    viewtoSkill: function(id) {
      return this.skills.filter(x => x.id === id)[0].name
    },
    fnCharge: function(type, val) {
      if (type === 'add') {
        console.log('woot')
        let prep = _.cloneDeep(charge)
        prep.name = this.charge.name
        prep.picture = this.charge.picture
        prep.id = uniqid.time()

        let payload = {
          type: 'CHARGE_ADD',
          pkg: prep
        }
        this.$store.commit('builder/charge', payload)
      }
      if (type === 'remove') {
        let payload = {
          type: 'CHARGE_REMOVE',
          pkg: { id: val }
        }
        this.$store.commit('builder/charge', payload)
      }
    },
    fnSkill: function(type, pkg) {
      if (type === 'add') {
        let prep = _.cloneDeep(skill)
        prep.name = this.create.skill
        prep.id = uniqid.time()
        let payload = {
          type: 'SKILL_ADD',
          pkg: prep
        }
        this.$store.commit('builder/skill', payload)

        let viewPayload = {
          type: 'VIEW_ADD',
          val: prep.id
        }
        this.$store.commit('builder/view', viewPayload)
      } else if (type === 'remove') {
        let payload = {
          type: 'SKILL_REMOVE',
          pkg: pkg
        }
        this.$store.commit('builder/skill', payload)

        let viewPayload = {
          type: 'VIEW_REMOVE',
          val: pkg.index
        }
        this.$store.commit('builder/view', viewPayload)
      } else if (type === 'charge') {
        console.log('lol')
        let prep = _.cloneDeep(charge)
        prep.name = pkg.name
        prep.picture = pkg.picture
        prep.id = uniqid.time()

        let payload = {
          type: 'CHARGE_ADD',
          pkg: prep
        }
        this.$store.commit('builder/charge', payload)
      }
    }
  }
}
</script>

<style></style>
