<template>
  <div>
    <q-card class="q-mb-md">
      <q-card-title>
        <div class="row content-center items-center justify-between">
          <p class="q-ma-none">Create - {{ arena.name }}</p>
          <q-btn
            label="Create Character"
            color="primary"
            @click="save"
            icon="save"
          />
        </div>
      </q-card-title>
      <q-card-main>
        <q-field label="Name">
          <q-input v-model="model.name" />
        </q-field>
        <q-field label="Description">
          <q-input
            v-model="model.description"
            type="textarea"
            float-label="Textarea"
            :max-height="100"
            rows="7"
          />
        </q-field>
        <q-field label="Author">
          <q-input v-model="model.credit.author" />
        </q-field>
        <q-field
          label="Pictures Credit"
          helper="Credit person that made the pictures"
        >
          <q-input v-model="model.credit.pictures" />
        </q-field>
        <q-field label="Coder">
          <q-input v-model="model.credit.coder" />
        </q-field>
        <q-field label="Picture">
          <q-input v-model="model.picture" />
        </q-field>
        <q-field label="Anime">
          <q-input v-model="model.anime" />
        </q-field>
        <!-- <q-field label="Arena">
          <q-select
            v-model="model.arena"
            float-label="Arena"
            :options="arenas"
          />
        </q-field> -->
      </q-card-main>

      <q-page-sticky position="top-right" :offset="[18, 18]"></q-page-sticky>
    </q-card>
    <q-card class="q-mb-md">
      <q-card-title>
        <div class="row content-center items-center justify-between">
          <p class="q-ma-none">All Characters</p>
        </div>
      </q-card-title>
      <q-card-main>
        <div
          v-for="(char, index) in allChar"
          :key="index"
          class="row justify-between q-my-sm content-center items-center"
        >
          <p>{{ char.name }}</p>
          <div class="row">
            <q-btn label="Edit" @click="load(index)" />
            <q-btn label="Delete" @click="delPrompt(index)" />
          </div>
        </div>
      </q-card-main>
      <q-modal v-model="delInfo.modal">
        <div class="q-pa-md">
          <h5>Proceed With Delete?</h5>
          <q-btn color="red" @click="del(delInfo.index)">Yes</q-btn>
          <q-btn color="green" @click="delInfo.modal = false">No</q-btn>
        </div>
      </q-modal>
      <q-page-sticky position="top-right" :offset="[18, 18]"></q-page-sticky>
    </q-card>
  </div>
</template>

<script>
import uniqid from 'uniqid'
import char from '../../definitions/char'
import skill from '../../definitions/skill'

export default {
  name: 'BuilderCreate',
  props: ['enable'],
  created: function() {
    let self = this

    this.$axios.get(process.env.API + '/char/all').then(res => {
      console.log(res.data)
      self.storeChar = res.data
    })
  },
  data() {
    return {
      model: char,
      create: {
        skill: ''
      },
      storeChar: [],
      delInfo: {
        index: '',
        modal: false
      }
    }
  },
  computed: {
    arenas: function() {
      return this.$store.getters['builder/arenas'].map(x => {
        return {
          label: x.name,
          value: x._id
        }
      })
    },
    arena: function() {
      return this.$store.getters['builder/arena']
    },
    allChar: function() {
      let arena = this.arena
      console.log(arena)
      if (arena._id !== '') {
        return this.storeChar.filter(x => x.arena === arena._id)
      }
      return this.storeChar
    }
  },
  methods: {
    save: function() {
      let payload = {
        type: 'CHAR_CREATE',
        pkg: { ...this.model, id: uniqid.time(), arena: this.arena._id }
      }
      this.$store.commit('builder/char', payload)
      this.$emit('enable')
    },
    load: function(index) {
      let self = this
      let char = this.allChar[index]
      console.log(char._id)
      this.$axios.get(process.env.API + '/char/get/' + char._id).then(res => {
        let pkg = JSON.parse(res.data.data)
        let payload = {
          type: 'CHAR_UPDATE',
          pkg: { ...pkg, _id: char._id }
        }
        console.log('woot', payload)
        self.$store.commit('builder/char', payload)
        // self.model = pkg
        self.$emit('enable')
      })
      return
    },
    skill: function(type, pkg) {
      if (type === 'add') {
        let prep = skill
        prep.name = this.create.skill
        let payload = {
          type: 'SKILL_ADD',
          pkg: prep
        }
        this.$store.commit('builder/skill', payload)
      }
    },
    delPrompt: function(index) {
      this.delInfo.index = index
      this.delInfo.modal = true
    },
    del: function(index) {
      console.log('hi')
      this.delInfo.modal = false
      let self = this
      let char = this.allChar[index]
      this.$axios
        .post(process.env.API + '/char/delete/' + char._id, {
          char: char
        })
        .then(res => {
          self.allChar = self.allChar.filter((x, i) => i !== index)
          self.$q.notify({
            message: 'Data successfully deleted',
            type: 'positive',
            position: 'top'
          })
        })
      return
    }
  }
}
</script>

<style></style>
