<template>
  <q-card class="q-mb-md">
    <q-card-main>
      Choose Skills
      <q-field label="Choose Skill">
        <q-select v-model="skillActive" :options="skillsOption" />
      </q-field>
      <q-field label="Choose Effect" v-if="skillActive !== false">
        <q-select v-model="effectActive" :options="effectsOption" />
      </q-field>
    </q-card-main>
    <q-card-main v-if="skillActive !== false && effectActive !== false">
      <q-field label="Name" helper="For internal purpose only">
        <q-input v-model="model.name" />
      </q-field>
      <q-field label="Type" helper="Effect type">
        <q-select v-model="model.type" :options="types" />
      </q-field>
      <q-field label="Value" helper="Value" v-if="model.type !== 'transform'">
        <q-input v-model="model.val[0].value" />
        <q-btn label="Condition" color="primary" @click="evaluate({model: 'val'})" icon="save" />
        <div v-for="(item, index) in model.val" :key="'val'+index">
          <p v-if="item.type === 'condition'">
            When {{item.subject}} {{item.evaluator}} to {{item.direction}} in {{idToSkill(item.comparison)}}, this will be {{item.value}} -
            <span
              class="q-px-xs"
              @click="moveContent('up', 'val', index)"
            >Move Up</span>
            <span class="q-px-xs" @click="moveContent('down', 'val', index)">Move Down</span>
            <span @click="evaluateEdit({model: 'val', index: index})">edit</span> |
            <span @click="evaluateDelete({model: 'val', index: index})">delete</span>
          </p>
        </div>
      </q-field>
      <q-field label="Value" helper="Value" v-if="model.type === 'transform'">
        <q-select v-model="model.val[0].value" :options="skillsSelect" />
      </q-field>
      <q-field
        label="Target"
        helper="Self, All Allies, Other Allies, Enemy, All Enemies, Random Enemy"
      >
        <q-select v-model="model.target[0].value" :options="target.effect" />
        <q-btn
          label="Condition"
          color="primary"
          @click="evaluate({model: 'target', where: 'effect'})"
          icon="save"
        />
        <div v-for="(item, index) in model.target" :key="'target'+index">
          <p v-if="item.type === 'condition'">
            When {{item.subject}} {{item.evaluator}} to {{item.direction}} in {{idToSkill(item.comparison)}}, this will be {{item.value}} -
            <span
              class="q-px-xs"
              @click="moveContent('up', 'target', index)"
            >Move Up</span>
            <span class="q-px-xs" @click="moveContent('down', 'target', index)">Move Down</span>
            <span @click="evaluateEdit({model: 'target', index: index})">edit</span> |
            <span @click="evaluateDelete({model: 'target', index: index})">delete</span>
          </p>
        </div>
      </q-field>

      <q-field label="Duration" helper="Minimum 1, or -1 for Indefinite">
        <q-input v-model="model.duration[0].value" />
        <q-btn
          label="Condition"
          color="primary"
          @click="evaluate({model: 'duration'})"
          icon="save"
        />
        <div v-for="(item, index) in model.duration" :key="'duration'+index+keyIndex">
          <p v-if="item.type === 'condition'">
            When {{item.subject}} {{item.evaluator}} to {{item.direction}} in {{idToSkill(item.comparison)}}, this will be {{item.value}} -
            <span
              class="q-px-xs"
              @click="moveContent('up', 'duration', index)"
            >Move Up</span>
            <span class="q-px-xs" @click="moveContent('down', 'duration', index)">Move Down</span>
            <span @click="evaluateEdit({model: 'duration', index: index})">edit</span> |
            <span @click="evaluateDelete({model: 'duration', index: index})">delete</span>
          </p>
        </div>
      </q-field>

      <q-field
        label="During"
        helper="Effect take place during This Turn effect is applied or Next's Turn after effect is applied?"
      >
        <q-select v-model="model.during" :options="during" />
      </q-field>

      <q-field label="Persistence" helper="Instant, Action, Control">
        <q-select v-model="model.persistence" :options="persistence" />
      </q-field>

      <q-field label="Class" helper="Physical, Mental, Energy, Affliction, Strategic">
        <q-select v-model="model.class" :options="classes" />
      </q-field>

      <q-field label="Scope" helper="Set Class/Skill specific effect">
        <div class="row col-12">
          <q-select
            class="col-4"
            v-model="model.scope.type"
            float-label="Type"
            :options="scope.type"
          />
          <!-- Options -->
          <q-select
            class="col-4"
            v-model="model.scope.options"
            multiple
            :options="makeOptions(scope.options[0])"
            v-if="model.scope.type === 'classes'"
          />
          <q-select
            class="col-4"
            v-model="model.scope.options"
            multiple
            :options="effectsSelect"
            v-if="model.scope.type === 'effects'"
          />
          <q-select
            class="col-4"
            v-model="model.scope.options"
            :options="makeOptions(scope.options[1])"
            v-if="['energy', 'cost'].includes(model.scope.type)"
          />
          <q-select
            class="col-4"
            v-model="model.scope.options"
            multiple
            :options="skillsSelect"
            v-if="['skills', 'cooldown', 'remove'].includes(model.scope.type)"
          />
          <q-select
            class="col-4"
            v-model="model.scope.options"
            multiple
            :options="chargesSelect"
            v-if="model.scope.type === 'charge'"
          />
          <q-select
            class="col-4"
            v-model="model.scope.options"
            :options="skillsSelect"
            v-if="model.scope.type === 'transform'"
          />
          <!-- Detail -->
          <q-select
            class="col-4"
            v-model="model.scope.detail"
            :options="makeOptions(scope.detail[0])"
            v-if="['classes', 'effects', 'skills'].includes(model.scope.type)"
          />
          <q-select
            class="col-4"
            v-model="model.scope.detail"
            :options="makeOptions(scope.detail[1])"
            v-if="model.scope.type === 'energy'"
          />
          <q-select
            class="col-4"
            v-model="model.scope.detail"
            :options="makeOptions(scope.detail[2])"
            v-if="model.scope.type === 'transform'"
          />
          <q-select
            class="col-4"
            v-model="model.scope.detail"
            :options="makeOptions(scope.detail[3])"
            v-if="['cooldown', 'cooldown self', 'charge',  'cost'].includes(model.scope.type)"
          />
          <q-select
            class="col-4"
            v-model="model.scope.detail"
            :options="makeOptions(scope.detail[4])"
            v-if="model.scope.type === 'counter'"
          />
          <q-select
            class="col-4"
            v-model="model.scope.detail"
            :options="effectsSelect"
            v-if="['remove'].includes(model.scope.type)"
          />
        </div>
      </q-field>

      <q-field label="Orientation" helper="Orientation">
        <div class="row col-12">
          <q-select
            class="col-4"
            v-model="model.orientation.type"
            float-label="Type"
            :options="scope.orientation"
          />
          <!-- Options -->
          <q-select
            class="col-4"
            v-model="model.orientation.options"
            multiple
            :options="makeOptions(scope.options[0])"
            v-if="model.orientation.type === 'classes'"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.options"
            multiple
            :options="effectsSelect"
            v-if="model.orientation.type === 'effects'"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.options"
            :options="makeOptions(scope.options[1])"
            v-if="['energy', 'cost'].includes(model.orientation.type)"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.options"
            multiple
            :options="skillsSelect"
            v-if="['skills', 'cooldown', 'end'].includes(model.orientation.type)"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.options"
            multiple
            :options="chargesSelect"
            v-if="model.orientation.type === 'charge'"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.options"
            :options="skillsSelect"
            v-if="model.orientation.type === 'transform'"
          />
          <!-- Detail -->
          <q-select
            class="col-4"
            v-model="model.orientation.detail"
            :options="makeOptions(scope.detail[0])"
            v-if="['classes', 'effects', 'skills'].includes(model.orientation.type)"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.detail"
            :options="makeOptions(scope.detail[1])"
            v-if="model.orientation.type === 'energy'"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.detail"
            :options="makeOptions(scope.detail[2])"
            v-if="model.orientation.type === 'transform'"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.detail"
            :options="makeOptions(scope.detail[3])"
            v-if="['cooldown', 'cooldown self', 'charge',  'cost', 'duration'].includes(model.orientation.type)"
          />
          <q-select
            class="col-4"
            v-model="model.orientation.detail"
            :options="makeOptions(scope.detail[4])"
            v-if="['redirect'].includes(model.orientation.type)"
          />
          <!-- <q-select
            class="col-4"
            v-model="model.orientation.detail"
            :options="makeOptions(scope.detail[4])"
            v-if="['remove'].includes(model.orientation.type)"
          />-->
        </div>
      </q-field>

      <q-field label="Condition" helper="Effect activate if condition satisfied">
        <q-toggle v-model="model.condition[0].value" />
        <q-btn
          label="Condition"
          color="primary"
          @click="evaluate({model: 'condition'})"
          icon="save"
        />
        <div v-for="(item, index) in model.condition" :key="'condition'+index+keyIndex">
          <p v-if="item.type === 'condition'">
            When {{item.subject}} {{item.evaluator}} to {{item.direction}} in {{idToSkill(item.comparison)}}, this will be {{item.value}} -
            <span
              class="q-px-xs"
              @click="moveContent('up', 'condition', index)"
            >Move Up</span>
            <span class="q-px-xs" @click="moveContent('down', 'condition', index)">Move Down</span>
            <span @click="evaluateEdit({model: 'condition', index: index})">edit</span> |
            <span @click="evaluateDelete({model: 'condition', index: index})">delete</span>
          </p>
        </div>
      </q-field>

      <q-field label="Stack">
        <q-toggle v-model="model.isStack[0].value" />
      </q-field>
      <q-field label="Invisible">
        <q-toggle v-model="model.isInvisible[0].value" />
      </q-field>
      <q-field label="Multi">
        <q-toggle v-model="model.isMulti[0].value" />
      </q-field>
      <q-field label="Unremovable">
        <q-toggle v-model="model.isUnremovable[0].value" />
      </q-field>
      <q-field label="Harmful">
        <q-toggle v-model="model.isHarmful[0].value" />
      </q-field>
      <q-field label="Piercing">
        <q-toggle v-model="model.isPiercing[0].value" />
        <q-btn
          label="Condition"
          color="primary"
          @click="evaluate({model: 'isPiercing'})"
          icon="save"
        />
        <div v-for="(item, index) in model.isPiercing" :key="'val'+index">
          <p v-if="item.type === 'condition'">
            When {{item.subject}} {{item.evaluator}} to {{item.direction}} in {{idToSkill(item.comparison)}}, this will be {{item.value}} -
            <span
              class="q-px-xs"
              @click="moveContent('up', 'val', index)"
            >Move Up</span>
            <span class="q-px-xs" @click="moveContent('down', 'val', index)">Move Down</span>
            <span @click="evaluateEdit({model: 'val', index: index})">edit</span> |
            <span @click="evaluateDelete({model: 'val', index: index})">delete</span>
          </p>
        </div>
      </q-field>
      <q-field label="Unpierceable">
        <q-toggle v-model="model.isUnpierceable[0].value" />
      </q-field>
      <q-field label="Ignore Invulnerability">
        <q-toggle v-model="model.isIgnoreInvul[0].value" />
      </q-field>
      <q-field label="Refresh">
        <q-toggle v-model="model.isRefresh" />
      </q-field>
      <q-field label="Can't Kill">
        <q-toggle v-model="model.isCantKill" />
      </q-field>
      <q-field label="Consolidate">
        <q-toggle v-model="model.isConsolidate" />
      </q-field>
      <q-field label="End At Death">
        <q-toggle v-model="model.isEndAtDeath" />
      </q-field>

      <q-card-separator class="q-my-md" />

      <p>Watch</p>
      <q-field label="Watch">
        <q-toggle v-model="model.isWatch" />
      </q-field>
      <div v-if="model.isWatch">
        <q-field label="Type" helper="Scenario to check for">
          <q-select v-model="model.watch.type" :options="watch.type" />
        </q-field>
        <q-field label="Condition" helper="Scenario to check for">
          <q-select v-model="model.watch.condition" :options="watch.condition" />
        </q-field>
        <q-field
          label="Evaluator"
          helper="Scenario to check for"
          v-if="!['death', 'reflect'].includes(model.watch.condition)"
        >
          <q-select
            v-model="model.watch.evaluator"
            :options="watch.evaluator"
            v-if="!['hp', 'dd'].includes(model.watch.condition)"
          />
          <q-select
            v-model="model.watch.evaluator"
            :options="watch.evaluatorHp"
            v-if="['hp'].includes(model.watch.condition)"
          />
          <q-select
            v-model="model.watch.evaluator"
            :options="watch.dd"
            v-if="['dd'].includes(model.watch.condition)"
          />
        </q-field>
        <q-field
          label="Subject"
          helper="Subject to check for"
          v-if="!['death'].includes(model.watch.condition)"
        >
          <q-select
            v-model="model.watch.subject"
            :options="watch.subject"
            multiple
            v-if="['effect', 'no effect'].includes(model.watch.condition)"
          />
          <q-select
            v-model="model.watch.subject"
            :options="skillsSelect"
            multiple
            v-if="['dd', 'skill'].includes(model.watch.condition)"
          />
          <q-select
            v-model="model.watch.subject"
            :options="watch.subjectHp"
            multiple
            v-if="model.watch.condition === 'hp'"
          />
          <q-select
            v-model="model.watch.subject"
            :options="classes"
            multiple
            v-if="['class', 'class is', 'class is not'].includes(model.watch.condition)"
          />
        </q-field>
        <q-field label="Orientation" helper="Scenario to check for">
          <q-select
            v-model="model.watch.orientation"
            :options="watch.orientation.class"
            v-if="['class'].includes(model.watch.condition)"
          />
          <q-select
            v-model="model.watch.orientation"
            :options="types"
            v-if="['class is', 'class is not'].includes(model.watch.condition)"
          />
        </q-field>
        <q-field label="Direction" helper="Scenario to check for">
          <q-select v-model="model.watch.direction" :options="watch.direction" />
        </q-field>
        <q-field label="Option" helper="Options">
          <q-select v-model="model.watch.option" :options="watch.option" />
        </q-field>
        <q-field label="Watch Duration" helper="How long effect should watch">
          <q-input v-model="model.watchStore.duration" />
          <q-select v-model="model.watchStore.during" :options="during" />
        </q-field>
      </div>

      <p v-for="(item, index) in afters" :key="index">{{item.name}}</p>

      <evaluator ref="evaluator" v-on:send="register" />
    </q-card-main>
  </q-card>
</template>

<script>
import effect, { types } from '../../definitions/effect'
import target from '../../definitions/target'
import persistence from '../../definitions/persistence'
import classes from '../../definitions/classes'
import during from '../../definitions/during'
import scope from '../../definitions/scope'
import watch from '../../definitions/watch'

import evaluator from './evaluator'

Array.prototype.move = function(from, to) {
  this.splice(to, 0, this.splice(from, 1)[0])
}

export default {
  name: 'BuilderEffects',
  components: {
    evaluator
  },
  data() {
    return {
      types,
      target,
      persistence,
      classes,
      during,
      scope,
      skillActiveStore: false,
      effectActive: false,
      create: {
        after: ''
      },
      keyIndex: 0,
      watch: {
        ...watch,
        subject: [...types]
      }
    }
  },
  computed: {
    skillActive: {
      get: function() {
        return this.skillActiveStore
      },
      set: function(item) {
        this.skillActiveStore = item
        this.effectActive = false
      }
    },
    model: function() {
      if (this.skillActive === false) {
        return effect
      } else {
        return this.skills[this.skillActive].effects[this.effectActive]
      }
    },
    char: function() {
      return this.$store.getters['builder/char']
    },
    charges: function() {
      return this.$store.getters['builder/charge']
    },
    skills: function() {
      return this.char.skills
    },
    skillsOption: function() {
      return this.skills.map((x, i) => {
        return {
          label: x.name,
          value: i
        }
      })
    },
    effectsOption: function() {
      return this.skills[this.skillActive].effects.map((x, i) => {
        return {
          label: x.type,
          value: i
        }
      })
    },
    skillsSelect: function() {
      return this.skills.map((x, i) => {
        return {
          label: x.name,
          value: x.id
        }
      })
    },
    effectsSelect: function() {
      return types
    },
    chargesSelect: function() {
      return this.charges.map((x, i) => {
        return {
          label: x.name,
          value: x.id
        }
      })
    },
    afters: function() {
      return this.char.skills[this.skillActive].effects[this.effectActive].after
    }
  },
  methods: {
    moveContent: function(direction, model, from) {
      let content = this.char.skills[this.skillActive].effects[
        this.effectActive
      ][model].length
      let to
      if (direction === 'up') {
        to = from - 1 < 0 ? 0 : from - 1
      } else if (direction === 'down') {
        to = from + 1 > content.length - 1 ? content.length - 1 : from + 1
      }
      this.char.skills[this.skillActive].effects[this.effectActive][model].move(
        from,
        to
      )
    },
    idToSkill: function(id) {
      let skill = this.skills.filter(x => x.id === id)
      return skill.length === 1 ? skill[0].name : 'none'
    },
    register: function(payload) {
      console.log(payload)
      if (payload.type === 'EDIT') {
        this.model[payload.model][payload.index] = payload.pkg
        this.keyIndex = this.keyIndex + 1
        return
      }
      this.model[payload.model].push(payload.pkg)
    },
    evaluate: function(pkg) {
      this.$refs.evaluator.open(pkg)
    },
    save: function() {},
    makeOptions: function(options) {
      return options.map(x => {
        return {
          label: x,
          value: x
        }
      })
    },
    after: function(type, pkg) {
      if (type === 'add') {
        let prep = _.cloneDeep(effect)
        prep.name = this.create.after
        let payload = {
          type: 'AFTER_ADD',
          skill: this.skillActive,
          effect: this.effectActive,
          pkg: prep
        }
        this.$store.commit('builder/after', payload)
      }
    },
    evaluateEdit: function(pkg) {
      let model = pkg.model
      let index = pkg.index
      let data = this.model[model][index]
      let payload = {
        ...pkg,
        type: 'EDIT',
        data,
        where: 'effect'
      }
      this.$refs.evaluator.open(payload)
    },
    evaluateDelete: function(pkg) {
      let payload = {
        type: 'EVALUATE_EFFECT_DELETE',
        pkg: pkg,
        skill: this.skillActive,
        effect: this.effectActive
      }
      this.$store.commit('builder/evaluate', payload)
    }
  }
}
</script>

<style>
</style>
