<template>
  <q-modal v-model="opened">
    {{parent.model}}
    <q-field label="Condition">
      <q-select v-model="condition" :options="conditions" />
    </q-field>

    <q-field label="Subject">
      <q-select
        v-model="model.subject"
        :options="charges"
        v-if="['charge', 'multiply'].includes(condition)"
      />
      <q-select
        v-model="model.subject"
        :options="effects"
        v-if="['active', 'mark', 'toggle'].includes(condition)"
      />
      <q-select
        v-model="model.subject"
        :options="specific"
        v-if="['specific'].includes(condition)"
      />
      <q-select
        v-model="model.subject"
        multiple
        :options="skills"
        v-if="['usage', 'multiply usage'].includes(condition)"
      />
    </q-field>

    <q-field label="Direction">
      <q-select v-model="model.direction" :options="options.direction" />
    </q-field>

    <q-field label="Evaluator">
      <q-select
        v-model="model.evaluator"
        :options="evaluator.int"
        v-if="['charge', 'hp', 'usage'].includes(condition)"
      />
      <q-select
        v-model="model.evaluator"
        :options="evaluator.bool"
        v-if="['active','specific', 'toggle'].includes(condition)"
      />
      <q-select
        v-model="model.evaluator"
        :options="options.marking"
        v-if="['mark'].includes(condition)"
      />
      <q-select
        v-model="model.evaluator"
        :options="options.multiply"
        v-if="['multiply'].includes(condition)"
      />
      <q-select
        v-model="model.evaluator"
        :options="options.multiplyHp"
        v-if="['multiply hp'].includes(condition)"
      />
    </q-field>

    <q-field
      label="Comparison"
      :helper="['multiply'].includes(model.condition) ? 'Charge to be modified' : 'Comparison against'"
    >
      <q-select
        v-model="model.comparison"
        :options="options.int"
        v-if="['charge', 'multiply', 'hp', 'usage', 'multiply hp'].includes(condition)"
      />
      <q-select
        v-model="model.comparison"
        :options="skills"
        v-if="['active', 'mark', 'toggle'].includes(condition)"
      />
    </q-field>

    <q-field
      label="Value"
      :helper="['multiply', 'multiply usage', 'multiply hp'].includes(condition) ? 'Damage to be added' : 'Value returned if satisfied'"
    >
      <q-input
        v-model="model.value"
        v-if="!['multiply', 'charge', 'hp', 'usage', 'multiply usage', 'multiply hp'].includes(condition) && !['target', 'condition'].includes(parent.model)"
      />
      <q-select
        v-model="model.value"
        :options="target.skill"
        v-if="parent.model === 'target' && parent.where === 'skill'"
      />
      <q-select
        v-model="model.value"
        :options="target.effect"
        v-if="parent.model === 'target' && parent.where === 'effect'"
      />
      <q-select
        v-model="model.value"
        :options="options.int"
        v-if="['multiply', 'charge', 'hp', 'usage', 'multiply usage', 'multiply hp'].includes(condition) && !['condition', 'isAllowed'].includes(parent.model)"
      />
      <q-select
        v-model="model.value"
        :options="options.boolean"
        v-if="['charge', 'hp', 'usage', 'active','specific', 'toggle'].includes(condition) && ['condition', 'isAllowed'].includes(parent.model)"
      />
    </q-field>

    <q-btn color="primary" @click="close()" label="Close" />
  </q-modal>
</template>

<script>
import { condition, evaluator } from '../../definitions/evaluator'
import { types } from '../../definitions/effect'
import target from '../../definitions/target'
import _ from 'lodash'

export default {
  data() {
    return {
      opened: false,
      parent: {},
      condition: '',
      model: {
        condition: '',
        subject: '',
        direction: '',
        evaluator: '',
        comparison: '',
        value: true
      },
      target,
      options: {
        direction: [
          { label: 'caster', value: 'caster' },
          { label: 'target', value: 'target' }
        ],
        boolean: [
          { label: 'true', value: true },
          { label: 'false', value: false }
        ],
        marking: [
          { label: 'aim', value: 'aim' },
          { label: 'avoid', value: 'avoid' }
        ],
        multiply: [
          { label: 'consume all', value: 'consume all' },
          { label: 'consume some', value: 'consume some' },
          { label: 'consume none', value: 'consume none' }
        ],
        multiplyHp: [{ label: 'interval', value: 'interval' }],
        int: [
          { label: '0', value: 0 },
          { label: '1', value: 1 },
          { label: '2', value: 2 },
          { label: '3', value: 3 },
          { label: '4', value: 4 },
          { label: '5', value: 5 },
          { label: '10', value: 10 },
          { label: '15', value: 15 },
          { label: '20', value: 20 },
          { label: '25', value: 25 },
          { label: '30', value: 30 },
          { label: '35', value: 35 },
          { label: '40', value: 40 },
          { label: '45', value: 45 },
          { label: '50', value: 50 },
          { label: '55', value: 55 },
          { label: '60', value: 60 },
          { label: '65', value: 65 },
          { label: '70', value: 70 },
          { label: '75', value: 75 },
          { label: '80', value: 80 },
          { label: '85', value: 85 },
          { label: '90', value: 90 },
          { label: '95', value: 95 },
          { label: '100', value: 100 }
        ]
      }
    }
  },
  computed: {
    skills: function() {
      let skills = this.$store.getters['builder/skills']
      return skills.map(x => {
        return {
          label: x.name,
          value: x.id
        }
      })
    },
    specific: function() {
      let skills = this.$store.getters['builder/skills']
      let effects = []
      skills.forEach(x => {
        effects = effects.concat(x.effects)
      })
      console.log(effects)
      return effects.map(x => {
        return {
          label: x.name + ' - ' + x.id,
          value: x.id
        }
      })
    },
    charges: function() {
      let charge = this.$store.getters['builder/charge']
      return charge.map(x => {
        return {
          label: x.name,
          value: x.id
        }
      })
    },
    effects: function() {
      return types
    },
    conditions: function() {
      return condition.map(x => {
        return {
          label: x.type + ' of ' + x.owner,
          value: x.type
        }
      })
    },
    evaluator: function() {
      let evaluators = evaluator.map(x => {
        return {
          label: x.type,
          value: x.type,
          self: x
        }
      })

      return {
        int: evaluators.filter(x => x.self.eval === 'int'),
        bool: evaluators.filter(x => x.self.eval === 'bool')
      }
    }
  },
  methods: {
    open: function(pkg) {
      this.parent = pkg
      this.opened = true
      if (pkg.type === 'EDIT') {
        let payload = {
          ...pkg.data
        }
        console.log(payload)
        console.log(payload.condition)
        if (payload.condition === undefined) {
          payload.condition = 'active'
        }
        this.model = payload
        this.condition = payload.condition
      }
    },
    close: function() {
      let evaluate = {
        type: 'condition',
        condition: this.condition,
        subject: this.model.subject,
        direction: this.model.direction,
        evaluator: this.model.evaluator,
        comparison: this.model.comparison,
        value: this.model.value
      }
      console.log(evaluate)
      let payload = {
        pkg: evaluate,
        model: this.parent.model
      }
      if (this.parent.type === 'EDIT') {
        payload.index = this.parent.index
        payload.type = this.parent.type
      }
      if (this.parent.child !== undefined) {
        payload.child = this.parent.child
      }
      this.opened = false
      this.$emit('send', payload)
    }
  },
  watch: {
    condition: function(val) {
      console.log('hi', val)
      if (this.parent.type === 'EDIT') {
        return
      }
      if (['usage', 'multiply usage'].includes(this.condition)) {
        this.model.subject = []
      } else {
        this.model.subject = ''
      }
    }
  }
}
</script>