<style lang="stylus">
.profile__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  height: 180px;
  padding: 0 10px;
  min-width: 500px;
  min-height: 400px;

  > div {
    margin-top: 20px;
    padding-top: 80px;
    margin-bottom: 20px;

    @media screen and (max-width: 770px) {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  .profile__modal--label {
    font-size: 14px;
    padding: 0 10px;
    // margin-bottom: 5px;
  }

  .profile__modal--input {
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
    width: 100%;
    max-width: 300px;

    @media screen and (max-width: 770px) {
      max-width: 380px;
    }
  }

  .profile__field {
    margin-bottom: 15px;

    @media screen and (max-width: 770px) {
      margin-bottom: 5px;
    }
  }
}
</style>

<template>
  <q-modal v-model="opened" content-classes="profile__modal column justify-center">
    <div class="column">
      <div class="row profile__field justify-between items-center">
        <p class="text-center profile__modal--label">Display Name</p>
        <input class="profile__modal--input" v-model="profile.displayname" />
      </div>
      <div class="row profile__field justify-between items-center">
        <p class="text-center profile__modal--label">Avatar</p>
        <input class="profile__modal--input" v-model="profile.avatar" />
      </div>
      <div class="row profile__field justify-between items-center">
        <p class="text-center profile__modal--label">Lobby Background</p>
        <input class="profile__modal--input" v-model="profile.background.lobby" />
      </div>
      <div class="row profile__field justify-between items-center">
        <p class="text-center profile__modal--label">In Game Background</p>
        <input class="profile__modal--input" v-model="profile.background.ingame" />
      </div>
      <div class="row profile__field justify-between items-center">
        <p class="text-center profile__modal--label">Profile Background</p>
        <input class="profile__modal--input" v-model="profile.background.profile" />
      </div>
      <q-btn color="primary" @click="editProfile" label="Edit" class="q-mb-sm" />
      <q-btn color="warning" @click="close" label="Cancel" />
    </div>
  </q-modal>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      opened: false,
      profile: {
        displayname: '',
        avatar: '',
        background: {
          lobby: '',
          ingame: ''
        }
      }
    }
  },
  computed: {},
  methods: {
    editProfile: function() {
      let packet = this.profile

      this.$axios.defaults.headers.common['Authorization'] =
        'JWT ' + localStorage.getItem('jwtToken')
      this.$axios
        .post(process.env.API + '/api/profile/update', packet)
        .then(res => {
          console.log(res)
          this.$store.dispatch('lobby/profile', { type: 'REFRESH' })
          this.$store.dispatch('lobby/profile', {
            type: 'LOAD'
          })
          this.opened = false
          this.$emit('update')
        })
        .catch(e => {
          console.log('error', e)
        })
    },
    open: function() {
      console.log('HIII')
      let profile = this.$store.getters['lobby/profile']
      console.log(profile)
      this.profile = {
        ...profile,
        background: {
          ...profile.background
        }
      }
      this.opened = true
    },
    close: function() {
      this.opened = false
    }
  }
}
</script>