<style lang="stylus">
.background {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sandbox {
  padding: 10px 20px 20px 20px;
  height: calc(100% - 70px);

  @media screen and (max-width: 770px) {
    height: calc(100% - 50px);
    padding: 5px;
  }
}

.editor {
  // padding-left: 10px;
  max-height: 100%;
  width: calc(100% - 200px);
  color: rgba(255, 255, 255, 1);

  @media screen and (max-width: 770px) {
    padding-right: 5px;
  }

  .editor--inner {
    background: rgba(34, 34, 34, 0.75);
    border-radius: 5px;
    height: 100%;
    width: 100%;

    .editor--scroll {
      overflow-y: scroll;
      height: calc(100% - 46px);
      width: 100%;
      padding: 10px;
    }
  }

  .editor--list {
    padding: 10px 10px 10px 10px;
    font-size: 14px;

    &:nth-child(even) {
      background: rgba(34, 34, 34, 0.5);
    }
  }

  .editor--thumb {
    padding: 5px;

    .l--inner {
      background: rgba(34, 34, 34, 0.8);
      height: 85px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid rgba(34, 34, 34, 0.8);

      @media screen and (max-width: 770px) {
        padding: 5px;
        height: 65px;
      }

      &:hover {
        background: rgba(34, 34, 34, 1);
        // border: 1px solid rgba(255, 255, 255, 0.5);
        border: 1px solid #006fc4;
      }
    }

    .l--selected {
      border: 1px solid #006fc4;
    }

    p {
      margin-bottom: 0px;
    }

    .l--title {
      width: 100%;

      p {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        word-wrap: break-word;

        @media screen and (max-width: 770px) {
          font-size: 10px;
        }
      }
    }

    .l--avatar {
      width: 100%;
    }

    .l--avatar img {
      height: 40px;
      width: 40px;
      margin-right: 5px;
      border-radius: 2px;
      border: 1px solid #222;

      @media screen and (max-width: 770px) {
        height: 35px;
        width: 35px;
        margin-right: 2px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .editor--nav {
    padding: 10px 10px;

    @media screen and (max-width: 770px) {
      padding: 5px;
    }

    .l--create {
      background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
      font-size: 14px;
      padding: 5px 10px;
      color: #fff;
      box-shadow: 0 0 5px 0 #222222;
      cursor: pointer;
      font-weight: 500;

      @media screen and (max-width: 770px) {
        font-size: 12px;
      }

      &:hover {
        box-shadow: 0 0 10px 0 #222222;
      }
    }
  }

  .editor--form {
    margin-bottom: 10px;
  }

  .editor--label {
    font-size: 18px;
    padding: 5px 10px;
    width: 150px;
  }

  .editor--label__b {
    font-weight: 600;
  }

  .editor--header {
    background: rgba(34, 34, 34, 0.75);
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
  }

  .editor--input {
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--textarea {
    height: 140px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--select {
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    // text-align: center;
    flex-grow: 1;

    >div {
      width: 100% !important;
    }
  }

  .editor--button {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 14px;
    padding: 10px 10px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222222;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 10px;

    @media screen and (max-width: 770px) {
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #222222;
    }

    &.l--small {
      font-size: 12px;
    }

    &.l--red {
      background-image: linear-gradient(to top right, #b53f36, #eb4034);
    }

    &.l--green {
      background-image: linear-gradient(to top right, #2f9c38, #25a830);
    }
  }
}

.flex-grow {
  flex-grow: 1;
}

.l--mr-5 {
  margin-right: 5px;
}
</style>

<template>
  <div class="flex column justify-between">
    <top />

    <div class="sandbox row justify-between">
      <div class="editor flex-grow column justify-between">
        <div class="editor--inner">
          <div class="editor--nav row justify-start">
            <span class="l--create l--mr-5" @click="backToDashboard">Back to Dashboard</span>
            <span class="l--create" @click="showJSON">JSON</span>
          </div>
          <div class="editor--scroll">
            <div class="editor--form row items-center">
              <p class="editor--header">Character</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Name</p>
              <input class="editor--input" v-model="char.name" />
            </div>
            <div class="editor--form row items-start">
              <p class="editor--label">Description</p>
              <textarea class="editor--textarea" v-model="char.description"></textarea>
            </div>
            <div class="editor--form row items-center">
              <p class="editor--label">Author</p>
              <input class="editor--input" v-model="char.credit.author" />
            </div>
            <div class="editor--form row items-center">
              <p class="editor--label">Pictures Credit</p>
              <input class="editor--input" v-model="char.credit.pictures" />
            </div>
            <div class="editor--form row items-center">
              <p class="editor--label">Coder</p>
              <input class="editor--input" v-model="char.coder" />
            </div>
            <div class="editor--form row items-center">
              <p class="editor--label">Anime</p>
              <input class="editor--input" v-model="char.anime" />
            </div>
            <div class="editor--form row items-center">
              <p class="editor--label">Enable</p>
              <q-toggle v-model="char.enable" />
            </div>
            <div class="editor--form row items-center">
              <p class="editor--label">Show Skill Usage</p>
              <q-toggle v-model="char.isShowUsage" />
            </div>

            <div class="editor--form row items-center">
              <p class="editor--header">Create Skills</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Skill Name</p>
              <input class="editor--input" v-model="model.skillName" />
              <span class="editor--button" @click="fnSkill('add')">Add Skill</span>
            </div>

            <div class="editor--form column">
              <div
                class="editor--list row items-center justify-between"
                v-for="(skill, index) in skills"
                :key="index"
              >
                <p>{{skill.name}}</p>
                <div class="row">
                  <span
                    class="editor--button l--small l--green"
                    @click="fnSkill('edit', {index})"
                  >Edit</span>
                  <span class="editor--button l--small" @click="fnView('add', skill.id)">Add to View</span>
                  <span
                    class="editor--button l--small"
                    @click="fnSkill('charge', { name: skill.name, picture: skill.picture })"
                  >Add to Charge</span>
                  <span
                    class="editor--button l--small l--red"
                    @click="fnSkill('remove', { id: skill.id})"
                  >Delete</span>
                </div>
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--header">Skill View</p>
            </div>

            <div class="editor--form column">
              <div
                class="editor--list row items-center justify-between"
                v-for="(view, index) in views"
                :key="index"
              >
                <p>{{view.name}}</p>
                <div class="row">
                  <span class="editor--button l--small" @click="fnView('up', view.id)">Move Up</span>
                  <span class="editor--button l--small" @click="fnView('down', view.id)">Move Down</span>
                  <span
                    class="editor--button l--small l--red"
                    @click="fnView('remove', view.id)"
                  >Remove</span>
                </div>
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--header">Create Charge</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Charge Name</p>
              <input class="editor--input" v-model="model.chargeName" />
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Charge Picture</p>
              <input class="editor--input" v-model="model.chargePicture" />
              <span class="editor--button" @click="fnCharge('add')">Add Charge</span>
            </div>

            <div class="editor--form column">
              <div
                class="editor--list row items-center justify-between"
                v-for="(charge, index) in charges"
                :key="index"
              >
                <p>{{charge.name}}</p>
                <div class="row">
                  <span
                    class="editor--button l--small l--red"
                    @click="fnCharge('remove', charge.id)"
                  >Delete</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import top from 'components/main/top'
import navigation from 'components/main/navigation'
import { QToggle, QSelect } from 'quasar'

// Builder Dependencies
import _ from 'lodash'
import uniqid from 'uniqid'
import char from '../../definitions/char'
import skill from '../../definitions/skill'
import charge from '../../definitions/charge'

function ucFirst(string) {
  return string.charAt(0).toUpperCase() + string.slice(1)
}

export default {
  name: 'SandboxChar',
  components: {
    top,
    navigation,
    QToggle,
    QSelect
  },
  data: function() {
    return {
      modal: {
        delete: false
      },
      opened: false,
      model: {
        skillName: '',
        chargeName: '',
        chargePicture: ''
      }
    }
  },
  created: function() {},
  computed: {
    char: {
      get: function() {
        return this.$store.getters['sandbox/char']
      }
    },
    skills: function() {
      return this.$store.getters['sandbox/skills']
    },
    charges: function() {
      return this.$store.getters['sandbox/charge']
    },
    views: function() {
      let view = this.$store.getters['sandbox/view'].map(x => {
        return { name: this.skills.filter(s => s.id === x)[0].name, id: x }
      })
      return view
    }
  },
  methods: {
    backToDashboard: function() {
      this.$router.push('/sandbox')
    },
    showJSON: function() {
      this.$store.commit('sandbox/settings', { type: 'JSON' })
    },
    save: function() {
      let payload = this.model
      this.$store.commit('sandbox/char', payload)
      this.initiated = true
    },
    fnView: function(type, val) {
      if (type === 'add') {
        let payload = {
          type: 'VIEW_ADD',
          val: val
        }
        this.$store.commit('sandbox/view', payload)
      }
      if (type === 'remove') {
        let payload = {
          type: 'VIEW_REMOVE',
          val: val
        }
        this.$store.commit('sandbox/view', payload)
      }
      if (type === 'up') {
        let payload = {
          type: 'VIEW_UP',
          val: val
        }
        this.viewKey = this.viewKey + 1
        this.$store.commit('sandbox/view', payload)
      }
      if (type === 'down') {
        let payload = {
          type: 'VIEW_DOWN',
          val: val
        }
        this.$store.commit('sandbox/view', payload)
      }
    },
    fnCharge: function(type, val) {
      if (type === 'add') {
        let prep = _.cloneDeep(charge)
        prep.name = this.create.Chargename
        prep.picture = this.create.chargePicture
        prep.id = uniqid.time()

        let payload = {
          type: 'CHARGE_ADD',
          pkg: prep
        }
        this.$store.commit('sandbox/charge', payload)
      }
      if (type === 'remove') {
        let payload = {
          type: 'CHARGE_REMOVE',
          pkg: { id: val }
        }
        this.$store.commit('sandbox/charge', payload)
      }
    },
    fnSkill: function(type, pkg) {
      if (type === 'add') {
        let prep = _.cloneDeep(skill)
        prep.name = this.create.skillName
        prep.id = uniqid.time()
        let payload = {
          type: 'SKILL_ADD',
          pkg: prep
        }
        this.$store.commit('sandbox/skill', payload)

        let viewPayload = {
          type: 'VIEW_ADD',
          val: prep.id
        }
        this.$store.commit('sandbox/view', viewPayload)
      } else if (type === 'edit') {
        this.$store.commit('sandbox/page', {
          type: 'SKILL',
          pkg: {
            skill: pkg.index
          }
        })
        this.$router.push('/sandbox/skill')
      } else if (type === 'remove') {
        let payload = {
          type: 'SKILL_REMOVE',
          pkg: pkg
        }
        this.$store.commit('sandbox/skill', payload)

        let viewPayload = {
          type: 'VIEW_REMOVE',
          val: pkg.id
        }
        this.$store.commit('sandbox/view', viewPayload)
      } else if (type === 'charge') {
        let prep = _.cloneDeep(charge)
        prep.name = pkg.name
        prep.picture = pkg.picture
        prep.id = uniqid.time()

        let payload = {
          type: 'CHARGE_ADD',
          pkg: prep
        }
        this.$store.commit('sandbox/charge', payload)
      }
    }
  }
}
</script>
