<style lang="stylus">
.background {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sandbox {
  padding: 10px 20px 20px 20px;
  height: calc(100% - 70px);
  // height: 100%;

  @media screen and (max-width: 770px) {
    height: calc(100% - 50px);
    padding: 5px;
  }
}

.editor {
  // padding-left: 10px;
  max-height: 100%;
  width: calc(100% - 200px);
  color: rgba(255, 255, 255, 1);

  @media screen and (max-width: 770px) {
    padding-right: 5px;
  }

  .editor--inner {
    background: rgba(34, 34, 34, 0.75);
    border-radius: 5px;
    height: 100%;
    width: 100%;

    .editor--scroll {
      overflow-y: scroll;
      height: calc(100% - 46px);
      width: 100%;
      padding: 10px;
    }
  }

  .editor--thumb {
    padding: 5px;

    .l--inner {
      background: rgba(34, 34, 34, 0.8);
      height: 85px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid rgba(34, 34, 34, 0.8);

      @media screen and (max-width: 770px) {
        padding: 5px;
        height: 65px;
      }

      &:hover {
        background: rgba(34, 34, 34, 1);
        // border: 1px solid rgba(255, 255, 255, 0.5);
        border: 1px solid #006fc4;
      }
    }

    .l--selected {
      border: 1px solid #006fc4;
    }

    p {
      margin-bottom: 0px;
    }

    .l--title {
      width: 100%;

      p {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        word-wrap: break-word;

        @media screen and (max-width: 770px) {
          font-size: 10px;
        }
      }
    }

    .l--avatar {
      width: 100%;
    }

    .l--avatar img {
      height: 40px;
      width: 40px;
      margin-right: 5px;
      border-radius: 2px;
      border: 1px solid #222;

      @media screen and (max-width: 770px) {
        height: 35px;
        width: 35px;
        margin-right: 2px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .editor--nav {
    padding: 10px 10px;

    @media screen and (max-width: 770px) {
      padding: 5px;
    }

    .l--create {
      background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
      font-size: 14px;
      padding: 5px 10px;
      color: #fff;
      box-shadow: 0 0 5px 0 #222222;
      cursor: pointer;
      font-weight: 500;

      @media screen and (max-width: 770px) {
        font-size: 12px;
      }

      &:hover {
        box-shadow: 0 0 10px 0 #222222;
      }
    }
  }
}

.flex-grow {
  flex-grow: 1;
}

.editor--form {
  margin-bottom: 10px;

  &.l--shift {
    padding-left: 150px;
  }

  .l--small {
    font-size: 12px;
  }

  .editor--label {
    font-size: 18px;
    padding: 5px 10px;
    width: 150px;
  }

  .editor--label__b {
    font-weight: 600;
  }

  .editor--header {
    background: rgba(34, 34, 34, 0.75);
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
  }

  .editor--input {
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--textarea {
    height: 140px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--select {
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    // text-align: center;
    flex-grow: 1;

    >div {
      width: 100% !important;
    }

    &.l--gutter {
      margin: 0 2px;
    }
  }

  .editor--list {
    padding: 10px 10px 10px 10px;
    font-size: 14px;

    .l--wrap {
      word-wrap: break-word;
      max-width: 200px;
    }

    &:nth-child(even) {
      background: rgba(34, 34, 34, 0.5);
    }
  }

  .editor--button {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 14px;
    padding: 10px 10px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222222;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 10px;

    @media screen and (max-width: 770px) {
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #222222;
    }

    &.l--small {
      font-size: 12px;
    }

    &.l--red {
      background-image: linear-gradient(to top right, #b53f36, #eb4034);
    }

    &.l--green {
      background-image: linear-gradient(to top right, #2f9c38, #25a830);
    }
  }
}

.editor__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  min-height: 180px;
  // height: 100%;
  // max-height: 80%;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  overflow-y: scroll;

  .l--full-width {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.l--mr-5 {
  margin-right: 5px;
}
</style>

<template>
  <div class="flex column justify-between">
    <top />

    <div class="sandbox row justify-between">
      <div class="editor flex-grow column justify-between">
        <div class="editor--inner">
          <div class="editor--nav row justify-start">
            <span class="l--create l--mr-5" @click="backToSkill">Back to Skill</span>
            <span class="l--create" @click="showJSON">JSON</span>
          </div>
          <div class="editor--scroll">
            <!-- Effect Info -->
            <div class="editor--form row items-center">
              <p class="editor--header">Effect</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Name</p>
              <input class="editor--input" v-model="model.name" />
            </div>

            <!-- Effect Details -->
            <div class="editor--form row items-center">
              <p class="editor--header">Details</p>
            </div>

            <sandboxSelect
              label="Type"
              subject="type"
              :options="options.types"
              group="effect"
              :hasConditions="false"
            ></sandboxSelect>

            <sandboxInput label="Value" subject="val" group="effect" :hasConditions="true"></sandboxInput>

            <sandboxSelect
              label="Target"
              subject="target"
              :options="options.target.effect"
              group="effect"
              :hasConditions="true"
            ></sandboxSelect>

            <sandboxInput label="Duration" subject="duration" group="effect" :hasConditions="true"></sandboxInput>

            <sandboxSelect
              label="During"
              subject="during"
              :options="options.during"
              group="effect"
              :hasConditions="false"
            ></sandboxSelect>

            <sandboxSelect
              label="Persistence"
              subject="persistence"
              :options="options.persistence"
              group="effect"
              :hasConditions="false"
            ></sandboxSelect>

            <sandboxSelect
              label="Class"
              subject="class"
              :options="options.classes"
              group="effect"
              :hasConditions="false"
            ></sandboxSelect>

            <div class="editor--form row items-center">
              <p class="editor--label">Scope</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
              <div class="editor--select l--gutter row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Orientation</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
              <div class="editor--select l--gutter row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <sandboxToggle label="Enable" subject="condition" group="effect" :hasConditions="true"></sandboxToggle>

            <!-- Effect Specifications -->
            <div class="editor--form row items-center">
              <p class="editor--header">Specification</p>
            </div>

            <sandboxToggle label="Stack" subject="isStack" group="effect" :hasConditions="true"></sandboxToggle>
            <sandboxToggle
              label="Invisible"
              subject="isInvisible"
              group="effect"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle label="Multi" subject="isMulti" group="effect" :hasConditions="true"></sandboxToggle>
            <sandboxToggle
              label="Unremovable"
              subject="isUnremovable"
              group="effect"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle label="Harmful" subject="isHarmful" group="effect" :hasConditions="true"></sandboxToggle>
            <sandboxToggle
              label="Piercing"
              subject="isPiercing"
              group="effect"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle
              label="Unpierceable"
              subject="isUnpierceable"
              group="effect"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle
              label="Ignore Invul"
              subject="isIgnoreInvul"
              group="effect"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle
              label="Refresh"
              subject="isRefresh"
              group="effect"
              :hasConditions="false"
            ></sandboxToggle>
            <sandboxToggle
              label="Can't Kill"
              subject="isCantKill"
              group="effect"
              :hasConditions="false"
            ></sandboxToggle>
            <sandboxToggle
              label="Consolidate"
              subject="isConsolidate"
              group="effect"
              :hasConditions="false"
            ></sandboxToggle>
            <sandboxToggle
              label="End at Death"
              subject="isEndAtDeath"
              group="effect"
              :hasConditions="false"
            ></sandboxToggle>

            <!-- Effects -->
            <div class="editor--form row items-center">
              <p class="editor--header">Watch</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Watch</p>
              <q-toggle v-model="test" />
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Type</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Condition</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Evaluator</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Subject</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Orientation</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Direction</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Option</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Watch Duration</p>
              <input class="editor--input" v-model="test" />
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Watch During</p>
              <div class="editor--select row items-center">
                <q-select v-model="test" :options="options.types" hide-underline />
              </div>
            </div>

            <!-- End of Form -->
          </div>
        </div>
      </div>
    </div>

    <!-- <navigation /> -->
  </div>
</template>

<script>
import top from 'components/main/top'
import navigation from 'components/main/navigation'
import sandboxSelect from 'components/sandbox/select'
import sandboxInput from 'components/sandbox/input'
import sandboxToggle from 'components/sandbox/toggle'
import sandboxCost from 'components/sandbox/cost'
import _ from 'lodash'
import { QToggle, QSelect } from 'quasar'

import effect, { types } from '../../definitions/effect'
import target from '../../definitions/target'
import persistence from '../../definitions/persistence'
import classes from '../../definitions/classes'
import during from '../../definitions/during'
import scope from '../../definitions/scope'
import watch from '../../definitions/watch'

function ucFirst(string) {
  return string.charAt(0).toUpperCase() + string.slice(1)
}

export default {
  name: 'SandboxEffect',
  components: {
    top,
    navigation,
    sandboxSelect,
    sandboxInput,
    sandboxToggle,
    sandboxCost,
    QToggle,
    QSelect
  },
  data: function() {
    return {
      test: null,
      options: {
        types,
        target,
        persistence,
        classes,
        during,
        scope
      },
      keyIndex: 0,
      watch: {
        ...watch,
        subject: [...types]
      }
    }
  },
  created: function() {},
  computed: {
    chars: {
      get: function() {
        return this.$store.getters['sandbox/chars']
      }
    },
    page: {
      get: function() {
        return this.$store.getters['sandbox/page']
      }
    },
    model: function() {
      console.log(this.page)
      console.log(
        'EFFECT',
        this.skills[this.page.skill].effects[this.page.effect]
      )
      return this.skills[this.page.skill].effects[this.page.effect]
    },
    char: function() {
      return this.$store.getters['sandbox/char']
    },
    charges: function() {
      return this.$store.getters['sandbox/charge']
    },
    skills: function() {
      return this.char.skills
    },
    skillsOption: function() {
      return this.skills.map((x, i) => {
        return {
          label: x.name,
          value: i
        }
      })
    },
    effectsOption: function() {
      return this.skills[this.skillActive].effects.map((x, i) => {
        return {
          label: x.type,
          value: i
        }
      })
    },
    skillsSelect: function() {
      return this.skills.map((x, i) => {
        return {
          label: x.name,
          value: x.id
        }
      })
    },
    effectsSelect: function() {
      return types
    },
    chargesSelect: function() {
      return this.charges.map((x, i) => {
        return {
          label: x.name,
          value: x.id
        }
      })
    }
  },
  methods: {
    backToSkill: function() {
      console.log(this.page)
      this.$store.commit('sandbox/page', {
        type: 'SKILL',
        pkg: {
          skill: this.page.skill
        }
      })
      this.$router.push('/sandbox/skill')
    },
    showJSON: function() {
      this.$store.commit('sandbox/settings', { type: 'JSON' })
    }
  }
}
</script>
