<style lang="stylus">
.background {
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.sandbox {
  padding: 10px 20px 20px 20px;
  height: calc(100% - 70px);

  @media screen and (max-width: 770px) {
    height: calc(100% - 50px);
    padding: 5px;
  }
}

.editor {
  // padding-left: 10px;
  max-height: 100%;
  width: calc(100% - 200px);
  color: rgba(255, 255, 255, 1);

  @media screen and (max-width: 770px) {
    padding-right: 5px;
  }

  .editor--inner {
    background: rgba(34, 34, 34, 0.75);
    border-radius: 5px;
    height: 100%;
    width: 100%;

    .editor--scroll {
      overflow-y: scroll;
      height: calc(100% - 46px);
      width: 100%;
      padding: 10px;
    }
  }

  .editor--thumb {
    padding: 5px;

    .l--inner {
      background: rgba(34, 34, 34, 0.8);
      height: 85px;
      width: 100%;
      padding: 10px;
      border-radius: 5px;
      cursor: pointer;
      border: 1px solid rgba(34, 34, 34, 0.8);

      @media screen and (max-width: 770px) {
        padding: 5px;
        height: 65px;
      }

      &:hover {
        background: rgba(34, 34, 34, 1);
        // border: 1px solid rgba(255, 255, 255, 0.5);
        border: 1px solid #006fc4;
      }
    }

    .l--selected {
      border: 1px solid #006fc4;
    }

    p {
      margin-bottom: 0px;
    }

    .l--title {
      width: 100%;

      p {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        word-wrap: break-word;

        @media screen and (max-width: 770px) {
          font-size: 10px;
        }
      }
    }

    .l--avatar {
      width: 100%;
    }

    .l--avatar img {
      height: 40px;
      width: 40px;
      margin-right: 5px;
      border-radius: 2px;
      border: 1px solid #222;

      @media screen and (max-width: 770px) {
        height: 35px;
        width: 35px;
        margin-right: 2px;
      }

      &:last-child {
        margin-right: 0px;
      }
    }
  }

  .editor--nav {
    padding: 10px 10px;

    @media screen and (max-width: 770px) {
      padding: 5px;
    }

    .l--create {
      background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
      font-size: 14px;
      padding: 5px 10px;
      color: #fff;
      box-shadow: 0 0 5px 0 #222222;
      cursor: pointer;
      font-weight: 500;

      @media screen and (max-width: 770px) {
        font-size: 12px;
      }

      &:hover {
        box-shadow: 0 0 10px 0 #222222;
      }
    }
  }
}

.flex-grow {
  flex-grow: 1;
}

.editor--form {
  margin-bottom: 10px;

  &.l--shift {
    padding-left: 150px;
  }

  .l--small {
    font-size: 12px;
  }

  .editor--label {
    font-size: 18px;
    padding: 5px 10px;
    width: 150px;
  }

  .editor--label__b {
    font-weight: 600;
  }

  .editor--header {
    background: rgba(34, 34, 34, 0.75);
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
  }

  .editor--input {
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--textarea {
    height: 140px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--select {
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    // text-align: center;
    flex-grow: 1;

    >div {
      width: 100% !important;
    }
  }

  .editor--list {
    padding: 10px 10px 10px 10px;
    font-size: 14px;

    .l--wrap {
      word-wrap: break-word;
      max-width: 200px;
    }

    &:nth-child(even) {
      background: rgba(34, 34, 34, 0.5);
    }
  }

  .editor--button {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 14px;
    padding: 10px 10px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222222;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 10px;

    @media screen and (max-width: 770px) {
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #222222;
    }

    &.l--small {
      font-size: 12px;
    }

    &.l--red {
      background-image: linear-gradient(to top right, #b53f36, #eb4034);
    }

    &.l--green {
      background-image: linear-gradient(to top right, #2f9c38, #25a830);
    }
  }
}

.editor__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  min-height: 180px;
  // height: 100%;
  // max-height: 80%;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  overflow-y: scroll;

  .l--full-width {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.l--mr-5 {
  margin-right: 5px;
}
</style>

<template>
  <div class="flex column justify-between">
    <top />

    <div class="sandbox row justify-between">
      <div class="editor flex-grow column justify-between">
        <div class="editor--inner">
          <div class="editor--nav row justify-start">
            <span class="l--create l--mr-5" @click="backToCharacter">Back to Character</span>
            <span class="l--create" @click="showJSON">JSON</span>
          </div>
          <div class="editor--scroll">
            <!-- Skill Info -->
            <div class="editor--form row items-center">
              <p class="editor--header">Skill</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Name</p>
              <input class="editor--input" v-model="skill.name" />
            </div>
            <div class="editor--form row items-start">
              <p class="editor--label">Description</p>
              <textarea class="editor--textarea" v-model="skill.description"></textarea>
            </div>
            <div class="editor--form row items-center">
              <p class="editor--label">Picture</p>
              <input class="editor--input" v-model="skill.picture" />
            </div>

            <!-- Skill Details -->
            <div class="editor--form row items-center">
              <p class="editor--header">Details</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Persistence</p>
              <div class="editor--select row items-center">
                <q-select
                  v-model="skill.persistence"
                  :options="options.persistence"
                  hide-underline
                />
              </div>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Class</p>
              <div class="editor--select row items-center">
                <q-select v-model="skill.class" :options="options.classes" hide-underline />
              </div>
            </div>

            <sandboxSelect
              label="Target"
              subject="target"
              :options="options.target.skill"
              group="skill"
              :hasConditions="true"
            ></sandboxSelect>

            <sandboxInput label="Cooldown" subject="cooldown" group="skill" :hasConditions="true"></sandboxInput>

            <sandboxInput label="Max Usage" subject="maxUsage" group="skill" :hasConditions="false"></sandboxInput>

            <!-- Cost -->
            <div class="editor--form row items-center">
              <p class="editor--header">Cost</p>
            </div>

            <sandboxCost label="Green" subject="g" group="cost"></sandboxCost>
            <sandboxCost label="Red" subject="r" group="cost"></sandboxCost>
            <sandboxCost label="Blue" subject="b" group="cost"></sandboxCost>
            <sandboxCost label="White" subject="w" group="cost"></sandboxCost>
            <sandboxCost label="Random" subject="rd" group="cost"></sandboxCost>

            <!-- Skill Specifications -->
            <div class="editor--form row items-center">
              <p class="editor--header">Specification</p>
            </div>

            <sandboxToggle label="Harmful" subject="isHarmful" group="skill" :hasConditions="true"></sandboxToggle>
            <sandboxToggle label="Allowed" subject="isAllowed" group="skill" :hasConditions="true"></sandboxToggle>
            <sandboxToggle label="Store" subject="isStore" group="skill" :hasConditions="true"></sandboxToggle>
            <sandboxToggle
              label="Ignore Invul"
              subject="isIgnoreInvul"
              group="skill"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle
              label="Ignore Stun"
              subject="isIgnoreStun"
              group="skill"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle
              label="Ignore Counter"
              subject="isIgnoreCounter"
              group="skill"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle
              label="Ignore Reflect"
              subject="isIgnoreReflect"
              group="skill"
              :hasConditions="true"
            ></sandboxToggle>
            <sandboxToggle label="Marking" subject="isMarking" group="skill" :hasConditions="true"></sandboxToggle>

            <!-- Effects -->
            <div class="editor--form row items-center">
              <p class="editor--header">Effects</p>
            </div>

            <div class="editor--form row items-center">
              <p class="editor--label">Effect Name</p>
              <div class="editor--select row items-center">
                <q-select v-model="model.effect" :options="options.types" hide-underline />
              </div>
              <span class="editor--button" @click="fnEffect('add')">Add Effect</span>
            </div>

            <div class="editor--form column">
              <div
                class="editor--list row items-center justify-between"
                v-for="(effect, index) in effects"
                :key="index"
              >
                <p>{{effect.type}}</p>
                <div class="row">
                  <span
                    class="editor--button l--small l--green"
                    @click="fnEffect('edit', {index})"
                  >Edit</span>
                  <span
                    class="editor--button l--small"
                    @click="fnEffect('up', {id:effect.id})"
                  >Move Up</span>
                  <span
                    class="editor--button l--small"
                    @click="fnEffect('down', {id:effect.id})"
                  >Move Down</span>
                  <span
                    class="editor--button l--small l--red"
                    @click="fnEffect('remove', {id:effect.id})"
                  >Remove</span>
                </div>
              </div>
            </div>

            <!-- End of Form -->
          </div>
        </div>
      </div>
    </div>

    <!-- <navigation /> -->    
  </div>
</template>

<script>
import top from 'components/main/top'
import navigation from 'components/main/navigation'
import sandboxSelect from 'components/sandbox/select'
import sandboxInput from 'components/sandbox/input'
import sandboxToggle from 'components/sandbox/toggle'
import sandboxCost from 'components/sandbox/cost'
import _ from 'lodash'
import uniqid from 'uniqid'
import { QToggle, QSelect } from 'quasar'

// Definitions
import skill from '../../definitions/skill'
import effect, { types } from '../../definitions/effect'
import target from '../../definitions/target'
import persistence from '../../definitions/persistence'
import classes from '../../definitions/classes'

function ucFirst(string) {
  return string.charAt(0).toUpperCase() + string.slice(1)
}

export default {
  name: 'SandboxSkill',
  components: {
    top,
    navigation,    
    sandboxSelect,
    sandboxInput,
    sandboxToggle,
    sandboxCost,
    QToggle,
    QSelect
  },
  data: function() {
    return {
      modal: {
        delete: false
      },
      opened: false,
      teamName: '',
      options: {
        target,
        persistence,
        classes,
        types
      },
      test: null,
      model: {
        effect: 'damage'
      }
    }
  },
  created: function() {},
  computed: {
    skill: function() {
      return this.skills[this.page.skill]
    },
    char: function() {
      return this.$store.getters['sandbox/char']
    },
    page: function() {
      return this.$store.getters['sandbox/page']
    },
    skills: function() {
      return this.char.skills
    },
    effects: function() {
      return this.char.skills[this.page.skill].effects
    }
  },
  methods: {
    backToCharacter: function() {
      this.$router.push('/sandbox/char')
    },
    showJSON: function() {
      this.$store.commit('sandbox/settings', { type: 'JSON' })
    },
    fnEffect: function(type, pkg) {
      if (type === 'add') {
        //Prep Effect
        let prep = _.cloneDeep(effect)
        prep.type = this.model.effect
        prep.id = uniqid.time()
        prep.during = 'this turn'
        prep.class = this.char.skills[this.page.skill].class
        prep.persistence = this.char.skills[this.page.skill].persistence

        let payload = {
          type: 'EFFECT_ADD',
          pkg: {
            skill: this.page.skill,
            effect: prep
          }
        }
        this.$store.commit('sandbox/effect', payload)
      } else if (type === 'remove') {
        let payload = {
          type: 'EFFECT_REMOVE',
          pkg: {
            id: pkg.id,
            skill: this.page.skill
          }
        }
        this.$store.commit('sandbox/effect', payload)
      } else if (type === 'up') {
        let payload = {
          type: 'EFFECT_UP',
          pkg: {
            id: pkg.id,
            skill: this.page.skill
          }
        }
        this.$store.commit('sandbox/effect', payload)
      } else if (type === 'down') {
        let payload = {
          type: 'EFFECT_DOWN',
          pkg: {
            id: pkg.id,
            skill: this.page.skill
          }
        }
        this.$store.commit('sandbox/effect', payload)
      } else if (type === 'edit') {
        this.$store.commit('sandbox/page', {
          type: 'EFFECT',
          pkg: {
            effect: pkg.index
          }
        })
        this.$router.push('/sandbox/effect')
      }
    }
  }
}
</script>
