<style lang="stylus">
.editor__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  min-height: 180px;
  // height: 100%;
  // max-height: 80%;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  overflow-y: scroll;

  .l--full-width {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.editor--form {
  margin-bottom: 10px;

  &.l--shift {
    padding-left: 150px;
  }

  .l--small {
    font-size: 12px;
  }

  .editor--label {
    font-size: 18px;
    padding: 5px 10px;
    width: 150px;
  }

  .editor--label__b {
    font-weight: 600;
  }

  .editor--header {
    background: rgba(34, 34, 34, 0.75);
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
  }

  .editor--input {
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--textarea {
    height: 140px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--select {
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    // text-align: center;
    flex-grow: 1;

    >div {
      width: 100% !important;
    }
  }

  .editor--list {
    padding: 10px 10px 10px 10px;
    font-size: 14px;

    .l--wrap {
      word-wrap: break-word;
      max-width: 200px;
    }

    &:nth-child(even) {
      background: rgba(34, 34, 34, 0.5);
    }
  }

  .editor--button {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 14px;
    padding: 10px 10px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222222;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 10px;

    @media screen and (max-width: 770px) {
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #222222;
    }

    &.l--small {
      font-size: 12px;
    }

    &.l--red {
      background-image: linear-gradient(to top right, #b53f36, #eb4034);
    }

    &.l--green {
      background-image: linear-gradient(to top right, #2f9c38, #25a830);
    }
  }
}

.flex-grow {
  flex-grow: 1;
}
</style>

<template>
  <q-modal v-model="modal" content-classes="editor__modal column">
    <div class="column">
      <div class="editor--form row items-center">
        <p class="editor--header">Condition Editor</p>
      </div>

      <div class="editor--form row items-center">
        <p class="editor--label">Condition</p>
        <div class="editor--select row items-center">
          <q-select v-model="modelCondition" :options="conditions" hide-underline />
        </div>
      </div>

      <div class="editor--form row items-center">
        <p class="editor--label">Subject</p>
        <div class="editor--select row items-center" v-if="schema.subject === 'effects'">
          <q-select v-model="modelSubject" :options="effects" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.subject === 'charges'">
          <q-select v-model="modelSubject" :options="charges" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.subject === 'specific'">
          <q-select v-model="modelSubject" :options="specific" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.subject === 'skills'">
          <q-select v-model="modelSubject" :options="skills" hide-underline />
        </div>
      </div>

      <div class="editor--form row items-center">
        <p class="editor--label">Direction</p>
        <div class="editor--select row items-center" v-if="schema.direction === 'direction'">
          <q-select v-model="modelDirection" :options="options.direction" hide-underline />
        </div>
      </div>

      <div class="editor--form row items-center">
        <p class="editor--label">Evaluator</p>
        <div class="editor--select row items-center" v-if="schema.evaluator === 'int'">
          <q-select v-model="modelEvaluator" :options="evaluator.int" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.evaluator === 'bool'">
          <q-select v-model="modelEvaluator" :options="evaluator.bool" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.evaluator === 'marking'">
          <q-select v-model="modelEvaluator" :options="options.marking" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.evaluator === 'multiply'">
          <q-select v-model="modelEvaluator" :options="options.multiply" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.evaluator === 'multiplyHp'">
          <q-select v-model="modelEvaluator" :options="options.multiplyHp" hide-underline />
        </div>
      </div>

      <div class="editor--form row items-center">
        <p class="editor--label">Comparison</p>
        <div class="editor--select row items-center" v-if="schema.comparison === 'int'">
          <q-select v-model="modelComparison" :options="options.int" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.comparison === 'skills'">
          <q-select v-model="modelComparison" :options="skills" hide-underline />
        </div>
      </div>

      <div class="editor--form row items-center">
        <p class="editor--label">Value</p>
        <input class="editor--input" v-model="modelValue" v-if="schema.value === 'input'" />
        <div class="editor--select row items-center" v-if="schema.value === 'targetSkill'">
          <q-select v-model="modelValue" :options="options.targetSkill" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.value === 'targetEffect'">
          <q-select v-model="modelValue" :options="options.targetEffect" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.value === 'int'">
          <q-select v-model="modelValue" :options="options.int" hide-underline />
        </div>
        <div class="editor--select row items-center" v-if="schema.value === 'bool'">
          <q-select v-model="modelValue" :options="options.bool" hide-underline />
        </div>
      </div>

      <div class="editor--form row items-center justify-center">
        <span class="editor--button" @click="save">Save Condition</span>
        <span class="editor--button l--red" @click="close">Cancel</span>
      </div>
    </div>
  </q-modal>
</template>

<script>
import {
  condition,
  evaluator,
  conditionOptions
} from '../../definitions/evaluator'
import { types } from '../../definitions/effect'
import target from '../../definitions/target'
import _ from 'lodash'

export default {
  props: {},
  data() {
    return {
      options: {
        ...conditionOptions,
        targetSkill: target.skill,
        targetEffect: target.effect
      }
    }
  },
  computed: {
    modelCondition: {
      get: function() {
        return this.$store.getters['sandbox/conditions'].model.condition
      },
      set: function(value) {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_MODEL',
          pkg: {
            subject: 'condition',
            value
          }
        })
      }
    },
    modelSubject: {
      get: function() {
        return this.$store.getters['sandbox/conditions'].model.subject
      },
      set: function(value) {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_MODEL',
          pkg: {
            subject: 'subject',
            value
          }
        })
      }
    },
    modelDirection: {
      get: function() {
        return this.$store.getters['sandbox/conditions'].model.direction
      },
      set: function(value) {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_MODEL',
          pkg: {
            subject: 'direction',
            value
          }
        })
      }
    },
    modelEvaluator: {
      get: function() {
        return this.$store.getters['sandbox/conditions'].model.evaluator
      },
      set: function(value) {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_MODEL',
          pkg: {
            subject: 'evaluator',
            value
          }
        })
      }
    },
    modelComparison: {
      get: function() {
        return this.$store.getters['sandbox/conditions'].model.comparison
      },
      set: function(value) {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_MODEL',
          pkg: {
            subject: 'comparison',
            value
          }
        })
      }
    },
    modelValue: {
      get: function() {
        return this.$store.getters['sandbox/conditions'].model.value
      },
      set: function(value) {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_MODEL',
          pkg: {
            subject: 'value',
            value
          }
        })
      }
    },
    modal: {
      get: function() {
        return this.$store.getters['sandbox/conditions'].modal
      },
      set: function() {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_CLOSE'
        })
      }
    },
    skills: function() {
      let skills = this.$store.getters['sandbox/skills']
      return skills.map(x => {
        return {
          label: x.name,
          value: x.id
        }
      })
    },
    specific: function() {
      let skills = this.$store.getters['sandbox/skills']
      let effects = []
      skills.forEach(x => {
        effects = effects.concat(x.effects)
      })

      return effects.map(x => {
        return {
          label: x.name + ' - ' + x.id,
          value: x.id
        }
      })
    },
    charges: function() {
      let charge = this.$store.getters['sandbox/charge']
      return charge.map(x => {
        return {
          label: x.name,
          value: x.id
        }
      })
    },
    effects: function() {
      return types
    },
    conditions: function() {
      return condition.map(x => {
        return {
          label: x.type + ' of ' + x.owner,
          value: x.type
        }
      })
    },
    evaluator: function() {
      let evaluators = evaluator.map(x => {
        return {
          label: x.type,
          value: x.type,
          eval: x.eval
        }
      })

      return {
        int: evaluators.filter(x => x.eval === 'int'),
        bool: evaluators.filter(x => x.eval === 'bool')
      }
    },
    schema: function() {
      let conditions = this.$store.getters['sandbox/conditions']
      let group = conditions.group
      let subject = conditions.subject

      let schema = _.cloneDeep(
        condition.filter(x => x.type === this.modelCondition)[0]
      )

      //Modify Schema
      if (['target'].includes(subject) && group === 'skill') {
        schema.value = 'targetSkill'
      }
      if (['target'].includes(subject) && group === 'effect') {
        schema.value = 'targetEffect'
      }
      if (group === 'cost') {
        schema.value = 'int'
      }
      if (
        [
          'condition',
          'isHarmful',
          'isAllowed',
          'isStore',
          'isIgnoreInvul',
          'isIgnoreStun',
          'isIgnoreCounter',
          'isIgnoreReflect',
          'isMarking',
          'isInvisible',
          'isUnremovable',
          'isPiercing',
          'isUnpierceable',
          'isRefresh',
          'isCantKill',
          'isConsolidate',
          'isEndAtDeath'
        ].includes(subject)
      ) {
        schema.value = 'bool'
      }

      if (['duration', 'val'].includes(subject)) {
        schema.value = 'int'
      }

      return schema
    }
  },
  methods: {
    save: function() {
      this.$store.commit('sandbox/conditions', {
        type: 'CONDITIONS_SAVE',
        pkg: {
          condition: this.model
        }
      })

      this.$store.commit('sandbox/conditions', {
        type: 'CONDITIONS_CLOSE'
      })
    },
    close: function() {
      this.$store.commit('sandbox/conditions', {
        type: 'CONDITIONS_CLOSE'
      })
    }
  }
}
</script>