<style lang="stylus">
.editor__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  min-height: 180px;
  // height: 100%;
  // max-height: 80%;
  width: 100%;
  max-width: 700px;
  padding: 10px;
  overflow-y: scroll;

  .l--full-width {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.editor--form {
  margin-bottom: 10px;

  &.l--shift {
    padding-left: 150px;
  }

  .l--small {
    font-size: 12px;
  }

  .editor--label {
    font-size: 18px;
    padding: 5px 10px;
    width: 150px;
  }

  .editor--label__b {
    font-weight: 600;
  }

  .editor--header {
    background: rgba(34, 34, 34, 0.75);
    font-size: 18px;
    padding: 5px 10px;
    width: 100%;
    border-radius: 5px;
    font-weight: 600;
  }

  .editor--input {
    height: 40px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--textarea {
    height: 140px;
    border-radius: 5px;
    padding: 5px;
    // text-align: center;
    flex-grow: 1;
  }

  .editor--select {
    background: #fff;
    height: 40px;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    // text-align: center;
    flex-grow: 1;

    >div {
      width: 100% !important;
    }
  }

  .editor--list {
    padding: 10px 10px 10px 10px;
    font-size: 14px;

    .l--wrap {
      word-wrap: break-word;
      max-width: 200px;
    }

    &:nth-child(even) {
      background: rgba(34, 34, 34, 0.5);
    }
  }

  .editor--button {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 14px;
    padding: 10px 10px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222222;
    cursor: pointer;
    font-weight: 500;
    border-radius: 5px;
    margin-left: 10px;

    @media screen and (max-width: 770px) {
      font-size: 12px;
    }

    &:hover {
      box-shadow: 0 0 10px 0 #222222;
    }

    &.l--small {
      font-size: 12px;
    }

    &.l--red {
      background-image: linear-gradient(to top right, #b53f36, #eb4034);
    }

    &.l--green {
      background-image: linear-gradient(to top right, #2f9c38, #25a830);
    }
  }
}

.flex-grow {
  flex-grow: 1;
}
</style>

<template>
  <div class="column">
    <div class="editor--form row items-center">
      <p class="editor--label">{{label}}</p>
      <div class="editor--select row items-center">
        <q-select v-model="model" :options="options" hide-underline />
      </div>
      <span class="editor--button" v-if="hasConditions" @click="fnConditions('add')">Condition</span>
    </div>
    <div class="editor--form l--shift column justify-between" v-if="conditions.length !== 0">
      <div
        class="editor--list row items-center justify-between"
        v-for="(condition, index) in conditions"
        :key="index"
      >
        <p class="l--small l--wrap">{{index+1}} {{condition.condition}}</p>
        <div class="row">
          <span
            class="editor--button l--small l--green"
            @click="fnConditions('edit', {condition, index})"
          >Edit</span>
          <span class="editor--button l--small" @click="fnConditions('up', {index})">Move Up</span>
          <span class="editor--button l--small" @click="fnConditions('down', {index})">Move Down</span>
          <span
            class="editor--button l--small l--red"
            @click="fnConditions('remove', {index})"
          >Remove</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
//When jw4pokxy exist to caster in none, this will be self or enemy
export default {
  props: {
    label: String,
    subject: String,
    options: Array,
    group: String,
    hasConditions: Boolean
  },
  data() {
    return {}
  },
  computed: {
    model: {
      get: function() {
        let group = this.group
        if (group === 'skill') {
          let skills = this.$store.getters['sandbox/skills']
          let skill = skills[this.page.skill][this.subject]
          if (Array.isArray(skill)) {
            return skill[0].value
          } else {
            return skill
          }
        }
        if (group === 'effect') {
          let skills = this.$store.getters['sandbox/skills']
          let effect =
            skills[this.page.skill].effects[this.page.effect][this.subject]
          if (Array.isArray(effect)) {
            return effect[0].value
          } else {
            return effect
          }
        }
      },
      set: function(value) {
        let group = this.group
        if (group === 'skill') {
          this.$store.commit('sandbox/skill', {
            type: 'SKILL_UPDATE',
            pkg: {
              subject: this.subject,
              value: value
            }
          })
        }
        if (group === 'effect') {
          this.$store.commit('sandbox/effect', {
            type: 'EFFECT_UPDATE',
            pkg: {
              subject: this.subject,
              value: value
            }
          })
        }
      }
    },
    conditions: function() {
      if (!this.hasConditions) {
        return []
      }
      let group = this.group
      if (group === 'skill') {
        let skills = this.$store.getters['sandbox/skills']
        let skill = skills[this.page.skill][this.subject].slice(1)
        return skill
      }
      if (group === 'effect') {
        let skills = this.$store.getters['sandbox/skills']
        let effect = skills[this.page.skill].effects[this.page.effect][
          this.subject
        ].slice(1)
        return effect
      }
    },
    page: function() {
      return this.$store.getters['sandbox/page']
    }
  },
  methods: {
    fnConditions: function(type, pkg) {
      if (type === 'add') {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_OPEN',
          pkg: {
            group: this.group,
            subject: this.subject
          }
        })
      }
      if (type === 'remove') {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_REMOVE',
          pkg: {
            group: this.group,
            subject: this.subject,
            editIndex: pkg.index
          }
        })
      }
      if (type === 'edit') {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_EDIT',
          pkg: {
            group: this.group,
            subject: this.subject,
            editIndex: pkg.index,
            model: pkg.condition
          }
        })
      }
      if (type === 'up') {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_UP',
          pkg: {
            group: this.group,
            subject: this.subject,
            editIndex: pkg.index
          }
        })
      }
      if (type === 'down') {
        this.$store.commit('sandbox/conditions', {
          type: 'CONDITIONS_DOWN',
          pkg: {
            group: this.group,
            subject: this.subject,
            editIndex: pkg.index
          }
        })
      }
    }
  }
}
</script>