<style lang="stylus" scoped>
.profile {
  padding: 10px 20px;
  height: 100%;

  @media screen and (max-width: 770px) {
    padding: 10px;
  }
}

.profile__info {
  width: 250px;
  height: 100%;

  .profile__user {
    width: 100%;
    background: rgba(34, 34, 34, 0.9);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222;

    .profile__avatar {
      height: 50px;
      width: 50px;
      // border-top-left-radius: 5px;
      // border-bottom-left-radius: 5px;
    }

    .profile__user--name {
      padding: 0px 10px;

      .profile__displayname {
        font-size: 14px;
      }

      .profile__username {
        opacity: 0.8;
        font-size: 12px;
      }
    }
  }

  .profile__record {
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 10px;

    .profile__record--inner {
      height: 100%;
      overflow-y: scroll;
      background: rgba(34, 34, 34, 0.9);
      border-radius: 5px;
      color: #fff;
      padding: 10px;
      font-size: 14px;
    }

    .profile__record--label {
      font-weight: 500;
      margin-bottom: 5px;
    }

    .profile__record--info {
      font-weight: 300;
      font-size: 12px;
    }
  }
}

.profile__nav {
  height: 100%;

  .l--select {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222222;
    cursor: pointer;
    // font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 5px;

    @media screen and (max-width: 770px) {
      font-size: 12px;
      padding: 5px;
    }

    &:hover {
      background-image: linear-gradient(to top right, #006fc4, #0b5d9c);
      box-shadow: 0 0 10px 0 #222222;
    }
  }
}

.l--light {
  font-weight: 300;
  font-size: 10px;
}
</style>

<template>
  <div class="flex column justify-center">
    <div class="profile row justify-between">
      <div class="profile__info">
        <div class="profile__user row">
          <img :src="profile.avatar" class="profile__avatar" />
          <div class="profile__user--name column justify-center">
            <p class="profile__displayname">{{profile.displayname}}</p>
            <p class="profile__username">
              <span class="l--light">Username</span>
              {{profile.username}}
            </p>
          </div>
        </div>
        <div class="profile__record">
          <div class="profile__record--inner">
            <p class="profile__record--label">Records</p>
            <div class="profile__record--info row justify-between">
              <span>Rank</span>
              <span>1</span>
            </div>
            <div class="profile__record--info row justify-between">
              <span>Win</span>
              <span>1</span>
            </div>
            <div class="profile__record--info row justify-between">
              <span>Lose</span>
              <span>1</span>
            </div>
            <div class="profile__record--info row justify-between">
              <span>Streak</span>
              <span>1</span>
            </div>
            <div class="profile__record--info row justify-between">
              <span>Highest Streak</span>
              <span>1</span>
            </div>
          </div>
        </div>
      </div>

      <div class="profile__nav column justify-start">
        <p class="l--select" @click="$router.push('/')">Back Home</p>
        <p class="l--select" @click="$refs.editProfile.open()">Edit Profile</p>
      </div>
    </div>

    <editProfile ref="editProfile" @update="getProfile"></editProfile>
  </div>
</template>

<script>
import editProfile from 'components/profile/edit'

export default {
  name: 'ProfilePage',
  components: {
    editProfile
  },
  created: function() {
    this.getProfile()
  },
  data() {
    return {
      profile: {
        displayname: '',
        avatar: '',
        background: {
          ingame: '',
          lobby: '',
          profile: ''
        }
      },
      opened: false,
      edit: {
        displayname: ''
      }
    }
  },
  computed: {
    // profile: function() {
    //   return this.$store.getters['lobby/profile']
    // }
  },
  methods: {
    getProfile: function() {
      let self = this
      this.$axios.defaults.headers.common['Authorization'] =
        'JWT ' + localStorage.getItem('jwtToken')
      this.$axios
        .get(process.env.API + '/api/profile')
        .then(res => {
          let data = res.data
          self.profile = data
          // commit('profile', { type: 'LOAD', pkg: { profile: data } })
        })
        .catch(e => {
          console.log('error', e)
        })
    },
    editProfile: function() {}
  }
}
</script>
