<style lang="stylus" scoped>
.profile {
  padding: 10px 20px;
  height: 100%;

  @media screen and (max-width: 770px) {
    padding: 10px;
  }
}

.profile__info {
  width: 250px;
  height: 100%;

  .profile__user {
    width: 100%;
    background: rgba(34, 34, 34, 0.9);
    border-radius: 5px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222;

    .profile__avatar {
      height: 50px;
      width: 50px;
      // border-top-left-radius: 5px;
      // border-bottom-left-radius: 5px;
    }

    .profile__user--name {
      padding: 0px 10px;

      .profile__displayname {
        font-size: 14px;
      }

      .profile__username {
        opacity: 0.8;
        font-size: 12px;
      }
    }
  }

  .profile__record {
    width: 100%;
    height: calc(100% - 50px);
    padding-top: 10px;

    .profile__record--inner {
      height: 100%;
      overflow-y: scroll;
      background: rgba(34, 34, 34, 0.9);
      border-radius: 5px;
      color: #fff;
      padding: 10px;
      font-size: 14px;
    }

    .profile__record--label {
      font-weight: 500;
      margin-bottom: 5px;
    }

    .profile__record--info {
      font-weight: 300;
      font-size: 12px;
    }
  }
}

.profile__nav {
  height: 100%;

  .l--select {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 16px;
    padding: 5px 10px;
    color: #fff;
    box-shadow: 0 0 5px 0 #222222;
    cursor: pointer;
    // font-weight: 500;
    margin-bottom: 0px;
    text-align: center;
    margin-bottom: 5px;

    @media screen and (max-width: 770px) {
      font-size: 12px;
      padding: 5px;
    }

    &:hover {
      background-image: linear-gradient(to top right, #006fc4, #0b5d9c);
      box-shadow: 0 0 10px 0 #222222;
    }
  }
}

.l--light {
  font-weight: 300;
  font-size: 10px;
}
</style>

<template>
  <div class="flex column justify-center items-center">
    <p @click="logout">Logout</p>
  </div>
</template>

<script>
export default {
  name: 'ProfilePage',
  components: {},
  created: function() {
    this.getProfile()
  },
  data() {
    return {}
  },
  computed: {},
  methods: {
    logout() {
      this.$axios
        .post(process.env.API + `/api/auth/logout`)
        .then(res => {
          console.log(res)
          localStorage.removeItem('jwtToken')
          localStorage.removeItem('usergroup')
          this.$socket.emit('logout')
          this.$router.push('/')
        })
        .catch(e => {
          console.log(e)
          this.errors.push(e)
          if (e.response.status === 401) {
            this.$router.push('/')
          }
        })
    }
  }
}
</script>
