<style lang="stylus">
.teams__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  height: 180px;
  padding: 0 10px;
  min-width: 500px;
  min-height: 400px;

  > div {
    margin-top: 20px;
    padding-top: 80px;
    margin-bottom: 20px;

    @media screen and (max-width: 770px) {
      padding-top: 40px;
      padding-bottom: 20px;
    }
  }

  .teams__modal--label {
    font-size: 14px;
    padding: 0 10px;
    // margin-bottom: 5px;
  }

  .teams__modal--input {
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
    width: 100%;
    max-width: 300px;

    @media screen and (max-width: 770px) {
      max-width: 400px;
    }
  }

  .teams__field {
    margin-bottom: 15px;

    @media screen and (max-width: 770px) {
      margin-bottom: 5px;
    }
  }
}
</style>

<template>
  <q-modal v-model="opened" content-classes="teams__modal column justify-center">
    <div class="column">
      <div class="row teams__field justify-between items-center">
        <p class="text-center teams__modal--label">Team Name</p>
        <input class="teams__modal--input" v-model="team.name" />
      </div>
      <q-btn color="primary" @click="editTeam" label="Edit" class="q-mb-sm" />
      <q-btn color="warning" @click="close" label="Cancel" />
    </div>
  </q-modal>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      opened: false,
      team: {}
    }
  },
  computed: {},
  methods: {
    editTeam: function() {
      let team = this.team

      this.$axios.defaults.headers.common['Authorization'] =
        'JWT ' + localStorage.getItem('jwtToken')
      this.$axios
        .post(process.env.API + '/api/team/update/' + team._id, team)
        .then(res => {
          console.log(res)
          this.$store.commit('lobby/teams', { type: 'UPDATE', pkg: { team } })
          this.opened = false
          // this.$emit('update')
        })
        .catch(e => {
          console.log('error', e)
        })
    },
    open: function() {
      console.log('HIII')
      let team = this.$store.getters['lobby/team']
      console.log(team)
      this.team = {
        ...team
      }
      this.opened = true
    },
    close: function() {
      this.opened = false
    }
  }
}
</script>