<style lang="stylus">
.battle__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  height: 180px;
  padding: 10px 10px;
  min-height: 400px;
  min-width: 400px;

  @media screen and (max-width: 770px) {
    min-height: 100%;
  }

  .battle__modal--label {
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .battle__modal--info {
    font-size: 12px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .battle__modal--input {
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
    width: 100%;
    max-width: 300px;

    @media screen and (max-width: 770px) {
      max-width: 400px;
    }
  }

  .battle__field {
    margin-bottom: 15px;

    @media screen and (max-width: 770px) {
      margin-bottom: 5px;
    }
  }
}

.battle__list {
  height: calc(100% - 110px);
  width: 100%;
  // max-height: calc(100% - 150px);
  overflow-y: scroll;

  .battle__list--item {
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #555;
  }

  .battle__list--name {
    font-size: 14px;
  }

  .battle__list--button {
    background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 2px;
  }
}

.battle__lobby {
  height: 100%;
}

.battle__searching {
  height: 100%;
}
</style>

<template>
  <q-modal
    v-model="opened"
    content-classes="battle__modal"
    :no-backdrop-dismiss="true"
    :no-esc-dismiss="true"
  >
    <div class="battle__lobby column justify-between" v-if="!searching">
      <div class="column justify-center">
        <p class="text-center battle__modal--label">Private Battle</p>
        <p
          class="text-center battle__modal--info"
        >Battle anyone below. The recipient must also be searching for you.</p>
      </div>
      <div class="battle__list">
        <div
          v-for="(item, index) in online"
          :key="index"
          class="battle__list--item row justify-between"
        >
          <p class="battle__list--name">{{item.displayname}}</p>
          <p class="battle__list--button" @click="search(item)">Battle</p>
        </div>
      </div>
      <q-btn color="red" @click="close" label="Cancel" />
    </div>
    <div class="battle__searching column justify-center" v-if="searching">
      <div class="column justify-center">
        <p class="text-center battle__modal--label">Challenging {{opponent.displayname}}</p>
        <p
          class="text-center battle__modal--info"
        >{{opponent.displayname}} must also be searching for you.</p>
      </div>
      <q-btn color="red" @click="cancel" label="Cancel Search" />
    </div>
  </q-modal>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      opened: false,
      searching: false,
      opponent: {
        displayname: ''
      }
    }
  },
  computed: {
    online: function() {
      return this.$store.getters['lobby/activities'].online.filter(
        x => x.username !== this.profile.username
      )
    },
    chars: function() {
      return this.$store.getters['lobby/chars']
    },
    profile: function() {
      return this.$store.getters['lobby/profile']
    },
    team: {
      get: function() {
        let team = this.$store.getters['lobby/team']
        return {
          ...team,
          one: this.charInfo(team.one),
          two: this.charInfo(team.two),
          three: this.charInfo(team.three)
        }
      }
    }
  },
  methods: {
    charInfo: function(id) {
      let index = this.chars.findIndex(x => x.id === id)
      if (index !== -1) {
        return this.chars[index]
      }
      return {
        picture: 'https://i.imgur.com/EB6t4nN.jpg',
        empty: true
      }
    },
    search: function(item) {
      console.log(item)
      this.opponent = item
      this.searching = true

      let select = _.concat(this.team.one, this.team.two, this.team.three)
      if (select.some(x => x.empty)) {
        console.log('false')
        return false
      }
      let payload = {
        chars: select,
        opponent: this.opponent,
        channel: 'private'
      }
      this.$socket.emit('search', payload)
    },
    cancel: function() {
      this.$socket.emit('cancel')
      this.searching = false
    },
    open: function() {
      this.opened = true
    },
    close: function() {
      this.$socket.emit('cancel')
      this.opened = false
    }
  }
}
</script>