<style lang="stylus">
.main__modal {
  background: rgba(34, 34, 34, 0.8);
  border-radius: 5px;
  box-shadow: 0 0 10px 0 #222;
  color: #fff;
  height: 180px;
  padding: 10px 10px;

  .main__modal--label {
    font-size: 18px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .main__modal--info {
    font-size: 12px;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  .main__modal--input {
    height: 40px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
    width: 100%;
    max-width: 300px;

    @media screen and (max-width: 770px) {
      max-width: 400px;
    }
  }

  .main__field {
    margin-bottom: 15px;

    @media screen and (max-width: 770px) {
      margin-bottom: 5px;
    }
  }
}

.flex-grow {
  flex-grow: 1;
}
</style>

<template>
  <q-modal
    v-model="opened"
    content-classes="main__modal column justify-between"
    :no-backdrop-dismiss="true"
    :no-esc-dismiss="true"
  >
    <div class="column flex-grow justify-center">
      <p class="text-center main__modal--label">Matching...</p>
      <p class="text-center main__modal--info">Please wait, we're looking for an opponent for you</p>
    </div>
    <q-btn color="red" @click="close" label="Cancel" />
  </q-modal>
</template>

<script>
export default {
  props: {},
  data() {
    return {
      opened: false
    }
  },
  computed: {},
  methods: {
    open: function() {
      this.opened = true
    },
    close: function() {
      this.$socket.emit('cancel')
      this.opened = false
    }
  }
}
</script>