<style scoped lang="stylus">
.navigation {
  padding: 0 20px;
}

.navigation__button {
  height: 30px;
  padding: 0 5px;

  @media screen and (max-width: 770px) {
    height: 25px;
  }
}

.navigation__button--gutter {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  // background: rgba(17, 109, 214, 0.85);
  background: rgba(34, 34, 34, 0.85);
  // background-image: linear-gradient(to bottom, rgba(59, 59, 59, 0.85), rgba(34, 34, 34, 0.85));
  box-shadow: 0 0 5px 0 #222222;
  cursor: pointer;
  // border-bottom: 2px solid #555;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  @media screen and (max-width: 770px) {
    height: 25px;
    padding: 0 5px;
  }
}

.navigation__button--gutter:hover {
  // filter: grayscale(0.5);
  background: rgba(34, 34, 34, 1);
}

.l--disable {
  // filter: grayscale(0.5);
  background: rgba(34, 34, 34, 0.6);

  &:hover {
    background: rgba(34, 34, 34, 0.6);
  }
}

.l--disable p {
  color: #999 !important;
}

.navigation__button--gutter p {
  color: #fff;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 0px;

  @media screen and (max-width: 770px) {
    font-size: 8px;
  }
}
</style>

<template>
  <div class="navigation row justify-center">
    <div class="navigation__button flex flex-center items-center justify-center" v-if="admin">
      <div
        class="navigation__button--gutter flex flex-center items-center justify-center"
        @click="$router.push('/admin')"
      >
        <p class="text-center">TOOLS</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center" v-if="admin">
      <div
        class="navigation__button--gutter flex flex-center items-center justify-center"
        @click="$router.push('/selection')"
      >
        <p class="text-center">OLD</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter flex flex-center items-center justify-center"
        @click="logout"
      >
        <p class="text-center">LOGOUT</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter l--disable flex flex-center items-center justify-center"
      >
        <p class="text-center">NEWS</p>
      </div>
    </div>
    <!-- 
    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter l--disable flex flex-center items-center justify-center"
      >
        <p class="text-center">CHANGELOG</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter l--disable flex flex-center items-center justify-center"
      >
        <p class="text-center">LADDER</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter l--disable flex flex-center items-center justify-center"
      >
        <p class="text-center">REPLAY</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter l--disable flex flex-center items-center justify-center"
      >
        <p class="text-center">STATS</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter l--disable flex flex-center items-center justify-center"
      >
        <p class="text-center">LORE</p>
      </div>
    </div>

    <div class="navigation__button flex flex-center items-center justify-center">
      <div
        class="navigation__button--gutter l--disable flex flex-center items-center justify-center"
      >
        <p class="text-center">FORUM</p>
      </div>
    </div>-->
  </div>
</template>

<script>
import { LocalStorage, SessionStorage } from 'quasar'

export default {
  data() {
    return {}
  },
  created: function() {},
  computed: {
    admin: function() {
      let usergroup = localStorage.getItem('usergroup')
      return usergroup === 'admin' ? true : false
    }
  },
  methods: {
    logout() {
      this.$axios
        .post(process.env.API + `/api/auth/logout`)
        .then(res => {
          console.log(res)
          localStorage.removeItem('jwtToken')
          localStorage.removeItem('usergroup')
          this.$socket.emit('logout')
          this.$router.push('/')
        })
        .catch(e => {
          console.log(e)
          this.errors.push(e)
          if (e.response.status === 401) {
            this.$router.push('/')
          }
        })
    }
  }
}
</script>