<style scoped lang="stylus">
.header {
  padding: 10px 20px;
  width: 100%;

  @media screen and (max-width: 770px) {
    padding: 5px 5px;
  }

  .header__avatar {
    height: 50px;
    width: 50px;
    // border: 1px solid #222;
    box-shadow: 0 0 5px 0 #222;
    z-index: 2;

    @media screen and (max-width: 770px) {
      height: 40px;
      width: 40px;
    }
  }

  .header__bar {
    flex-grow: 1;
    height: 35px;
    background: rgba(34, 34, 34, 0.85);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #fff;
    padding: 2px 10px;

    @media screen and (max-width: 770px) {
      height: 30px;
    }
  }

  .header__info {
    padding-right: 10px;

    p {
      margin-bottom: 0px;
    }

    .l--bold {
      font-weight: 500;
      font-size: 12px;

      @media screen and (max-width: 770px) {
        font-size: 10px;
      }
    }

    .l--text {
      font-size: 12px;

      @media screen and (max-width: 770px) {
        font-size: 10px;
      }
    }

    .l--sub {
      font-size: 10px;
      opacity: 0.8;
      font-weight: 300;

      @media screen and (max-width: 770px) {
        font-size: 8px;
      }
    }
  }

  .header__info--separate {
    margin-right: 10px;
    border-right: 1px solid #555;
  }

  .header__profile{
    width: calc(100% - 150px);
  }
  .header__arena {
    max-width: 150px;
    width: 100%;
    max-height: 50px;
    padding: 15px;
    img{
      width: 100%;
      // width: 120px;
      // height: 50px;
    }
  }
}
</style>

<template>
  <div class="header row items-center">
    <div class="row header__profile items-center">
      <img
        :src="avatar"
        class="header__avatar"
        @click="$router.push('/profile')"
      />
      <div class="header__bar row">
        <div class="header__info header__info--separate column justify-center">
          <p class="l--bold">{{ displayname }}</p>
          <p class="l--sub">Lv. 10</p>
        </div>
        <div class="header__info column items-start justify-center">
          <p class="l--bold">1</p>
          <p class="l--sub">Win</p>
        </div>
        <div class="header__info column items-start justify-center">
          <p class="l--bold">1</p>
          <p class="l--sub">Lose</p>
        </div>
        <div class="header__info column items-start justify-center">
          <p class="l--bold">+1</p>
          <p class="l--sub">Streak</p>
        </div>
        <div
          class="header__info header__info--separate column items-start justify-center"
        >
          <p class="l--bold">+1</p>
          <p class="l--sub">Highest Streak</p>
        </div>
        <div class="header__info column items-start justify-center">
          <p class="l--bold" @click="$router.push('/profile')">My Profile</p>
        </div>
      </div>
    </div>
    <div class="header__arena flex column items-center justify-center">
      <img :src="arena.logo" @click="changeArena" />
    </div>
  </div>
</template>

<script>
export default {
  name: 'MainTop',
  data() {
    return {}
  },
  created: function() {},
  computed: {
    avatar: function() {
      return this.$store.getters['lobby/profile'].avatar
    },
    displayname: function() {
      return this.$store.getters['lobby/profile'].displayname
    },
    arena: function() {
      return this.$store.getters['lobby/arena']
    }
  },
  methods: {
    changeArena: function() {
      return this.$router.push('/arena')
    }
  }
}
</script>
