<style scoped lang="stylus">
.char__wrapper {
  margin-bottom: 10px;
}

.char {
  padding: 0px 5px;

  @media screen and (max-width: 770px) {
    padding: 0px 2px;
  }
}

.char__img img {
  width: 100%;
  height: 100%;
}

.char__img--flip {
  transform: scaleX(-1);
}

.char__img {
  background: #FFFF00;
  border-radius: 2px;
  border: 1px solid #222;
  width: 75px;
  height: 75px;
  margin-bottom: 2px;
  position: relative;

  @media screen and (max-width: 770px) {
    width: 45px;
    height: 45px;
  }
}

.char__img--pulse {
  background: #FFFF00;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 2;
  animation: pulse 2s infinite;
  cursor: pointer;
}

.char__img--active {
  position: absolute;
  top: 0;
  z-index: 1;
}

.char__img--dead {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 2;
  filter: grayscale(100%);
  // background: rgba(0, 0, 0, 0.3);
}

.char__img--disabled {
  position: absolute;
  top: 0;
  z-index: 1;
  opacity: 1;
}

@keyframes pulse {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    opacity: 0;
  }
}

.char__hp {
  background: rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  border: 1px solid #222;
  text-align: center;
  // padding: 2px 5px;
  position: relative;
  height: 15px;

  @media screen and (max-width: 770px) {
    padding: 2px;
  }
}

.char__hp--amount {
  position: absolute;
  top: 0;
  z-index: 2;
  width: 100%;
  text-align: center;
  padding: 1px;
  color: #fff;
  // color: #222;
  font-weight: 500;
}

.char__hp--bar {
  background: rgb(68, 255, 0);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  border-radius: 1px;
  transition: width 2s, background 2s;
}

.char__hp p {
  margin: 0;
  font-size: 10px;

  @media screen and (max-width: 770px) {
    font-size: 8px;
  }
}

.queue {
  padding: 5px;

  @media screen and (max-width: 770px) {
    padding: 2px;
  }
}

.queue__img {
  width: 55px;
  height: 55px;
  border-radius: 5px;
  border: 1px solid #222;

  @media screen and (max-width: 770px) {
    width: 40px;
    height: 40px;
  }
}

.queue__img img {
  border-radius: 3px;
  width: 100%;
  height: 100%;
}
</style>

<template>
  <div :class="layout.wrapper">
    <div class="column char justify-between">
      <div :class="layout.char">
        <!-- <div v-if="dead(char, team)" class="char__img--dead"></div> -->
        <img
          v-if="dead(char, team)"
          v-on:click="description({ char, team })"
          v-long-press="300"
          @long-press-start="onLongPressStart({ char, team })"
          @long-press-stop="onLongPressStop"
          :src="
            state[team].chars[char].picture !== ''
              ? state[team].chars[char].picture
              : 'https://i.imgur.com/irRmTaG.png'
          "
          class="char__img--dead"
        />
        <div
          v-if="status(char, team)"
          @click="target({ char, charId: charId, team })"
          class="char__img--pulse"
        ></div>
        <img
          v-on:click="description({ char, team })"
          v-long-press="300"
          @long-press-start="onLongPressStart({ char, team })"
          @long-press-stop="onLongPressStop"
          :src="
            state[team].chars[char].picture !== ''
              ? state[team].chars[char].picture
              : 'https://i.imgur.com/irRmTaG.png'
          "
          class="char__img--disabled"
        />
      </div>
      <div class="char__hp">
        <p class="char__hp--amount">{{ details.hp }}/{{ details.maxHp }}</p>
        <div class="char__hp--bar" :style="getHpClass(details.hp)"></div>
      </div>
    </div>
    <div class="column">
      <status :team="team" :char="char" />
      <div class="row items-center">
        <div class="queue" v-if="queue('visible', char, team)">
          <div class="queue__img">
            <img
              @click="remove(char, team)"
              v-if="queue('icon', char, team)"
              :src="queue('img', char, team)"
            />
            <img
              v-if="!queue('icon', char, team)"
              src="https://i.imgur.com/EB6t4nN.jpg"
            />
          </div>
        </div>
        <skills :char="char" :charId="charId" :team="team"></skills>
      </div>
    </div>
  </div>
</template>

<script>
import LongPress from 'vue-directive-long-press'

import skills from './skills'
import status from './status'
import scope from './scope'

export default {
  name: 'GameChar',
  props: ['team', 'char', 'charId'],
  components: {
    skills,
    status
  },
  directives: {
    'long-press': LongPress
  },
  data() {
    return {}
  },
  computed: {
    spectate: function() {
      return this.$store.getters['game/meta'].mode === 'spectate' ? true : false
    },
    state: function() {
      return this.$store.getters['game/state']
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      // return this.team === meta.ally
      //   ? 'row char__wrapper'
      //   : 'row reverse char__wrapper'
      if (this.team === meta.ally) {
        return {
          wrapper: 'row char__wrapper',
          char: 'char__img'
        }
      } else {
        return {
          wrapper: 'row reverse char__wrapper',
          char: 'char__img char__img--flip'
        }
      }
    },
    details: function() {
      return this.state[this.team].chars[this.char]
    }
  },
  methods: {
    onLongPressStart: function(pkg) {
      this.description(pkg)
      this.$store.commit('game/mobile', { type: 'DESCRIPTION', value: true })
    },
    onLongPressStop: function() {},
    getHpClass: function(hp) {
      if (hp >= 70) {
        return `width: ${hp}%;background:#38e200;`
      } else if (hp < 70 && hp >= 30) {
        return `width: ${hp}%;background:#e57104;`
      } else if (hp < 30) {
        return `width: ${hp}%;background:#f44141;`
      }
    },
    description: function(pkg) {
      let payload = {
        type: 'CHAR',
        pkg: {
          mode: 'char',
          ...pkg
        }
      }
      this.$store.commit('game/desc', payload)
    },
    dead: function(char, team) {
      let state = this.$store.getters['game/state']
      let details = state[team].chars[char]
      if (!details.alive) {
        return true
      }
    },
    queue: function(type, char, team) {
      let state = this.$store.getters['game/state']
      let meta = this.$store.getters['game/meta']
      let action = this.$store.getters['game/action']
      let turn = state.turn % 2 === 0 ? 'even' : 'odd'
      let inQueue = action.findIndex(
        x =>
          x.caster.char === char &&
          x.caster.team === team &&
          x.turnid === state.turnid
      )
      if (type === 'visible') {
        if (this.spectate) {
          return false
        }
        let alive = state[team].chars[char].alive
        if (!alive) {
          return false
        }
        return meta.ally === turn && meta.ally === team ? true : false
      }
      if (type === 'icon') {
        return inQueue > -1 ? true : false
      }
      if (type === 'img') {
        if (inQueue > -1) {
          let skillId = action[inQueue].skillId
          let skill = state[team].chars[char].skills.filter(
            x => x.id === skillId
          )[0]
          let picture = skill.picture
          return picture !== '' ? picture : 'https://i.imgur.com/irRmTaG.png'
        }
        return 'https://i.imgur.com/EB6t4nN.jpg'
      }
    },
    status: function(char, team) {
      //Define from Getters
      let state = this.$store.getters['game/state']
      let meta = this.$store.getters['game/meta']
      let buffer = this.$store.getters['game/buffer']
      let details = state[team].chars[char]
      //If Char Not Alive
      if (!details.alive) {
        return false
      }
      //Logic
      if (buffer.active) {
        let skill = state[buffer.caster.team].chars[
          buffer.caster.char
        ].skills.filter(x => x.id === buffer.skillId)[0]

        let target = skill.target

        //Check Marking
        let marking = skill.isMarking
        if (marking[0] === 'avoid') {
          //Cannot target Marked
          if (
            details.status.onState.some(
              x => x.type === 'mark' && x.parent === marking[1]
            )
          ) {
            return false
          }
        }
        if (marking[0] === 'aim') {
          //Can only target Marked
          if (
            !details.status.onState.some(
              x => x.type === 'mark' && x.parent === marking[1]
            )
          ) {
            return false
          }
        }

        function checkInvulDisable() {
          let invuls = details.status.onState.filter(
            x => x.type === 'invul' && x.active
          )
          let check = invuls.some(x => skill.effects.some(s => scope(x, s)))
          if (check) {
            if (
              !details.status.onState.some(
                x => x.type === 'disable' && x.active
              )
            ) {
              return true
            }
          }
        }

        //Ignore Invul
        if (skill.isIgnoreInvul && team === meta.enemy) {
          return true
        }

        switch (target) {
          case 'enemy':
            if (checkInvulDisable()) {
              return false
            }
            return team === meta.enemy ? true : false
            break
          case 'all enemies':
            if (checkInvulDisable()) {
              return false
            }
            return team === meta.enemy ? true : false
            break
          case 'random enemy':
            return team === meta.enemy ? true : false
            break
          case 'self':
            return team === meta.ally && buffer.caster.char === char
              ? true
              : false
            break
          case 'ally':
            return team === meta.ally ? true : false
            break
          case 'all allies':
            return team === meta.ally ? true : false
            break
          case 'random ally':
            return team === meta.ally ? true : false
            break
          case 'other ally':
            return team === meta.ally && buffer.caster.char !== char
              ? true
              : false
            break
          case 'other allies':
            return team === meta.ally && buffer.caster.char !== char
              ? true
              : false
            break
          case 'self and enemy':
            if (checkInvulDisable()) {
              return false
            }
            return team === meta.enemy || buffer.caster.char === char
              ? true
              : false
            break
          case 'self or enemy':
            if (checkInvulDisable()) {
              return false
            }
            return team === meta.enemy || buffer.caster.char === char
              ? true
              : false
            break
          case 'self and ally':
            return team === meta.ally ? true : false
            break
          case 'enemy or ally':
            if (team === meta.enemy) {
              if (checkInvulDisable()) {
                return false
              }
            }
            return true
            break
          case 'enemy and all allies':
            if (team === meta.enemy) {
              if (checkInvulDisable()) {
                return false
              }
            }
            return true
            break
          case 'all':
            if (team === meta.enemy) {
              if (checkInvulDisable()) {
                return false
              }
            }
            return true
            break
          default:
            return false
        }
      }
      //Default
      return false
    },
    target: function(pkg) {
      let payload = {
        type: 'TARGET_REGISTER',
        pkg: pkg
      }
      this.$store.commit('game/target', payload)
      this.$store.commit('game/buffer', { type: 'RESET' })
    },
    remove: function(char, team) {
      let state = this.$store.getters['game/state']
      let action = this.$store.getters['game/action']
      let inQueue = action.findIndex(
        x =>
          x.caster.char === char &&
          x.caster.team === team &&
          x.turnid === state.turnid
      )
      let payload = {
        type: 'QUEUE_REMOVE',
        pkg: {
          char,
          team,
          skill: action[inQueue].skill,
          turnid: state.turnid
        }
      }
      this.$store.commit('game/queue', payload)
    },
    removeMobile: function(char, team) {
      if (!this.$q.platform.is.desktop) {
        this.remove(char, team)
      }
    }
  }
}
</script>
