<style lang="stylus">
.chat {
  position: absolute;
  background: rgba(0, 0, 0, 0.55);
  /* padding: 5px 10px; */
  border-radius: 2px;
  height: 100%;
  // height: 300px;
  z-index: 2;
  bottom: 0px;
}

.chat__input {
  /* width: 100%; */
  border: none;
  /* border-bottom-right-radius: 2px; */
  font-size: 12px;
  height: 30px;
  padding: 0 10px;
  outline: none;
  // flex-grow: 1;
  width: calc(100% - 45px);
}

.chat__box {
  padding: 5px 10px 5px 10px;
  color: #fff;
  // background: #ff0000;
  // flex-grow: 1;
  overflow-y: scroll;
  // height: 100%;
  height: calc(100% - 30px);
  // max-height: 80px;
  // max-height: 240px;
}

.chat__options {
  background: rgba(0, 0, 0, 0.55);
  // padding: 5px;
  color: #fff;
  font-size: 10px;
  width: 50px;

  .chat__rooms {
    cursor: pointer;
    border-bottom: 1px solid #555;
    padding: 5px;
  }

  .chat__rooms--active {
    background: rgba(255, 255, 255, 0.15);
  }
}

.chat__expand {
  line-height: 5px;
  position: absolute;
  top: 0;
  right: 5px;

  .chat__expand--icon {
    cursor: pointer;
    font-weight: 600;
    color: #fff;
    font-size: 20px;
    line-height: 0px;
  }
}

.chat__send {
  color: #fff;
  font-size: 14px;
  padding: 5px;
  cursor: pointer;
}

.chat__row {
  font-size: 12px;
  margin-bottom: 2px;

  .l--msg {
  }

  .l--user {
    margin-right: 5px;
    opacity: 0.7;
  }

  .l--time {
    opacity: 0.5;
    margin-right: 5px;
    font-size: 8px;
  }
}

.l--title {
  font-size: 10px;
  font-weight: 500;
}

.chat__wrapper {
  width: calc(100% - 50px);
  max-height: 100%;
}
</style>

<template>
  <div class="row chat full-width justify-between" :style="expand ? 'height: 300px' : ''">
    <div class="column chat__options">
      <span
        :class="channel === 'game' ? 'chat__rooms chat__rooms--active' : 'chat__rooms'"
        @click="change('game')"
      >
        <i class="fa fa-exclamation l--notif" aria-hidden="true"></i> GAME
      </span>
      <span
        :class="channel === 'lobby' ? 'chat__rooms chat__rooms--active' : 'chat__rooms'"
        @click="change('lobby')"
      >
        <i class="fa fa-exclamation l--notif" aria-hidden="true"></i> LOBBY
      </span>
      <span
        :class="channel === 'spectators' ? 'chat__rooms chat__rooms--active' : 'chat__rooms'"
        @click="change('spectators')"
      >
        <i class="fa fa-user l--notif" aria-hidden="true"></i>
        {{spectators.length}}
      </span>
      <!-- <span class="chat__rooms">LOGS</span> -->
    </div>
    <div class="column chat__wrapper justify-between">
      <div class="chat__expand" @click="expand = !expand" v-if="$q.platform.is.desktop">
        <span class="chat__expand--icon">_</span>
      </div>
      <div
        class="full-width chat__box"
        v-chat-scroll="{always: false, smooth: true}"
        ref="chatbox"
        v-if="['lobby','game'].includes(channel)"
      >
        <div class="row chat__row full-width items-end" v-for="(msg, index) in chat" :key="index">
          <span class="l--time">{{msg.datestamp | formatTime}}</span>
          <span class="l--user">{{msg.displayname}}</span>
          <span class="l--msg">{{msg.message}}</span>
        </div>
      </div>
      <div class="row self-end full-width" v-if="['lobby','game'].includes(channel)">
        <input
          placeholder="Enter chat..."
          class="chat__input"
          v-model="message"
          v-on:keyup.enter="send"
        />
        <span class="chat__send" @click="send">Send</span>
      </div>

      <!-- Spectators -->
      <div
        class="full-width chat__box"
        v-chat-scroll="{always: false, smooth: true}"
        ref="chatbox"
        v-if="['spectators'].includes(channel)"
      >
        <span class="l--title">Players in this Room</span>
        <div
          class="row chat__row full-width items-end"
          v-for="(item, index) in spectators"
          :key="index"
        >
          <span class="l--user">{{item.displayname}}</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import moment from 'moment'

export default {
  name: 'GameChat',
  components: {},
  data() {
    return {
      expand: false,
      message: '',
      channel: 'game'
    }
  },
  filters: {
    formatTime: function(value) {
      return moment(value).format('LT')
    }
  },
  computed: {
    state: function() {
      return this.$store.getters['game/state']
    },
    meta: function() {
      return this.$store.getters['game/meta']
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      return this.team === meta.ally ? '' : 'items-end'
    },
    chat: function() {
      if (this.channel === 'game') {
        return this.$store.getters['chat/game']
      } else if (this.channel === 'lobby') {
        return this.$store.getters['chat/lobby']
      }
    },
    spectators: function() {
      return this.$store.getters['lobby/activities'].spectators
    }
  },
  methods: {
    send: function() {
      if (this.message === '') {
        return
      }
      this.$socket.emit('chat', {
        channel: this.channel,
        room: this.channel === 'game' ? this.$route.params.room : 'lobby',
        message: this.message
      })
      this.message = ''
      this.$refs.chatbox.scrollTop = this.$refs.chatbox.scrollHeight
    },
    change: function(channel) {
      this.channel = channel
    }
  }
}
</script>

<style>
</style>
