<style scoped lang="stylus">
.button {
  cursor: pointer;
  margin-bottom: 5px;
  padding: 7px 5px;
  font-size: 12px;
  border-radius: 5px;
  text-align: center;
  background: rgba(0, 0, 0, 0.55);
  border: 1px solid #222;
  color: #fff;

  @media screen and (max-width: 700px) {
    font-size: 10px;
    padding: 5px;
    margin-bottom: 0px;
    margin-right: 5px;
  }
}

.button:last-child {
  margin-bottom: 0px;
}

.button--wrapper {
  width: 100%;
  padding: 0px 10px;
  // max-width: 200px;
}
</style>

<template>
  <div
    :class="$q.platform.is.desktop ? `column justify-center button--wrapper col-3` : `row button--wrapper justify-end`"
  >
    <span class="button" @click="surrender" v-if="!spectate">Surrender</span>
    <span
      class="button"
      @click="setSettings('json')"
      v-if="tester"
    >{{settings.json ? 'Hide' : 'Show'}} JSON</span>
    <span class="button" @click="setSettings('chat')">
      <i class="fa fa-user l--notif" aria-hidden="true"></i>
      {{spectators.length}} {{settings.chat ? 'Hide' : 'Show'}} Chat
    </span>
    <span
      class="button"
      @click="setSettings('skills')"
      v-if="!spectate && !tester"
    >{{settings.skills ? 'Hide' : 'Show'}} Skill</span>
    <span class="button" @click="exit" v-if="spectate">Return Home</span>

    <surrender />
  </div>
</template>

<script>
import surrender from './surrender'

export default {
  name: 'GameControl',
  props: ['team'],
  components: { surrender },
  data() {
    return {}
  },
  computed: {
    spectate: function() {
      return this.$store.getters['game/meta'].mode === 'spectate' ? true : false
    },
    tester: function() {
      return this.$store.getters['game/meta'].mode === 'testing' ? true : false
    },
    state: function() {
      return this.$store.getters['game/state']
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      return this.team === meta.ally ? '' : 'items-end'
    },
    settings: function(type) {
      return this.$store.getters['game/settings']
    },
    spectators: function() {
      return this.$store.getters['lobby/activities'].spectators
    }
  },
  methods: {
    setSettings: function(type) {
      if (type === 'json') {
        this.$store.commit('game/settings', { type: 'JSON' })
      }
      if (type === 'chat') {
        console.log(this.$q.platform.is.mobile)
        if (this.$q.platform.is.desktop) {
          this.$store.commit('game/settings', { type: 'CHAT' })
        } else if (!this.$q.platform.is.desktop) {
          this.$store.commit('game/mobile', { type: 'CHAT', value: true })
        }
      }
      if (type === 'skills') {
        this.$store.commit('game/settings', { type: 'SKILLS' })
      }
    },
    surrender: function() {
      this.$store.commit('game/modal', { type: 'SURRENDER', value: true })
    },
    exit: function() {
      let room = this.$route.params.room
      this.$router.push('/')
      this.$store.commit('game/reset')
      this.$store.dispatch('chat/reset')
      this.$socket.emit('leave', {
        room: room
      })
    },
    showChat: function() {
      this.$store.commit('game/settings', { type: 'CHAT' })
    }
  }
}
</script>