<style scoped lang="stylus">
.description--wrapper {
  position: relative;
  padding-right: 10px;
  height: 110px;
}

.description {
  // background: rgb(255, 255, 255);
  // background: #444;
  background: rgba(34, 34, 34, 0.9);
  color: #fff;
  padding: 5px 10px;
  border-radius: 2px;
  height: 100%;
}

.description p {
  margin-bottom: 0px;
}

.description__img {
  border: 1px solid #222;
  width: 74px;
  height: 74px;
}

.description__info {
  padding-left: 10px;
}

.description__title {
  font-size: 12px;
  font-weight: 400;
  // padding-bottom: 5px;
}

.description__text {
  font-size: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.description__cost--wrap {
  background: rgba(255, 255, 255, 0.8);
  color: #222;
  border-radius: 2px;
  padding: 2px;
}

.description__cost p {
  font-size: 10px;
  padding-right: 4px;

  &.l--none {
    font-size: 9px;
    padding: 0 2px;
  }
}

.description__cost span {
  margin: 0px 1px;
}

.description__classes {
  font-size: 10px;
}

.description__cooldown {
  font-size: 10px;
}

.description__thumbnail {
  padding: 2px;
  margin: 0px;
  height: 30px;
  width: 30px;
}

.description__thumbnail img {
  height: 27px;
  width: 27px;
  margin: 0px;
  padding: 0px;
  border: 1px solid #222;
}

.description__more {
  height: 100%;
  padding: 5px 0px 5px 10px;
  width: 100px;
}

.text-bold {
  font-weight: 500;
}

.flex-grow {
  flex: 1;
}
</style>

<template>
  <div class="flex col-9 description--wrapper flex-center">
    <!-- Default -->

    <chat v-if="settings.chat"></chat>
    <div class="flex full-width full-height" v-if="!settings.chat">
      <div class="row description full-width" v-if="description.mode === 'profile'">
        <div>
          <img :src="description.avatar" class="description__img" />
        </div>
        <div class="column justify-between col description__info">
          <div class="column">
            <div class="row justify-between">
              <p class="description__title text-bold">{{description.name}}</p>
            </div>
            <p class="description__text">Username: {{description.username}}</p>
            <p class="description__text">Ladder Rank: 1</p>
            <p class="description__text">W/L: 30 - 10</p>
            <p class="description__text">Streak: +3</p>
          </div>
        </div>
      </div>

      <div class="row description flex-grow" v-if="description.mode === 'char'">
        <div>
          <img
            :src="description.picture !== '' ? description.picture : 'https://i.imgur.com/irRmTaG.png'"
            class="description__img"
          />
        </div>
        <div class="column justify-between col description__info">
          <div class="column">
            <div class="row justify-between">
              <p class="description__title text-bold">{{description.name}}</p>
              <div class="row justify-between description__cost">
                <p>
                  Anime
                  <span class="text-bold">{{description.anime}}</span>
                </p>
              </div>
            </div>
            <p class="description__text">{{description.description}}</p>
          </div>
          <!-- <div class="row justify-between">
          <p class="description__classes">Author {{description.credit.author}}</p>
          <p class="description__cooldown">Picture {{description.credit.picture}}</p>
          </div>-->
        </div>
      </div>

      <div class="row description flex-grow" v-if="description.mode === 'skill'">
        <div>
          <img
            :src="description.picture !== '' ? description.picture : 'https://i.imgur.com/irRmTaG.png'"
            class="description__img"
          />
        </div>
        <div class="column justify-between col description__info">
          <div class="column">
            <div class="row justify-between items-center">
              <p class="description__title text-bold">{{description.name}}</p>
              <div class="row justify-between description__cost items-center">
                <p>Energy</p>
                <div class="row justify-between description__cost--wrap items-center">
                  <span class="energy__g" v-for="i in description.cost.g" :key="'g'+i"></span>
                  <span class="energy__r" v-for="i in description.cost.r" :key="'r'+i"></span>
                  <span class="energy__b" v-for="i in description.cost.b" :key="'b'+i"></span>
                  <span class="energy__w" v-for="i in description.cost.w" :key="'w'+i"></span>
                  <span class="energy__rd" v-for="i in description.cost.rd" :key="'rd'+i"></span>
                  <p v-if="description.costTotal === 0" class="text-bold l--none">none</p>
                </div>
              </div>
            </div>
            <p class="description__text">{{description.description}}</p>
          </div>
          <div class="row justify-between">
            <p class="description__classes">
              Classes
              <span class="text-bold">{{description.classes}}</span>
            </p>
            <p class="description__cooldown">
              Cooldown
              <span class="text-bold">{{description.cooldown}}</span>
            </p>
          </div>
        </div>
      </div>

      <div
        class="row flex-wrap description__more content-start"
        v-if="description.mode === 'skill' || description.mode === 'char'"
      >
        <span class="description__thumbnail">
          <img
            :src="char.picture !== '' ? char.picture : 'https://i.imgur.com/irRmTaG.png'"
            @click="showDescription({char: charIndex, team: teamID}, 'char')"
          />
        </span>
        <span v-for="(skill, index) in skills" :key="index" class="description__thumbnail">
          <img
            :src="skill.picture !== '' ? skill.picture : 'https://i.imgur.com/irRmTaG.png'"
            @click="showDescription({char: charIndex, team: teamID, skillId: skill.id}, 'skill')"
          />
        </span>
      </div>
    </div>
  </div>
</template>

<script>
import chat from './chat'

export default {
  name: 'GameDescription',
  props: ['team'],
  components: { chat },
  data() {
    return {}
  },
  computed: {
    settings: function(type) {
      return this.$store.getters['game/settings']
    },
    state: function() {
      return this.$store.getters['game/state']
    },
    profile: function() {
      return this.$store.getters['game/profile']
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      return this.team === meta.ally ? '' : 'items-end'
    },
    charIndex: function() {
      let desc = this.$store.getters['game/desc']
      let charIndex = desc.char
      return charIndex
    },
    teamID: function() {
      let desc = this.$store.getters['game/desc']
      let team = desc.team
      return team
    },
    skills: function() {
      let meta = this.$store.getters['game/meta']
      let desc = this.$store.getters['game/desc']
      let mode = desc.mode
      if (mode === 'skill' || mode === 'char') {
        let team = desc.team
        let charIndex = desc.char
        let skill = this.state[team].chars[charIndex].skills
        return skill
      }
    },
    char: function() {
      let meta = this.$store.getters['game/meta']
      let desc = this.$store.getters['game/desc']
      let mode = desc.mode
      if (mode === 'skill' || mode === 'char') {
        let team = desc.team
        let charIndex = desc.char
        let char = this.state[team].chars[charIndex]
        return char
      }
    },
    description: function() {
      let meta = this.$store.getters['game/meta']
      let desc = this.$store.getters['game/desc']
      let mode = desc.mode
      if (mode === 'skill') {
        let team = desc.team
        let charIndex = desc.char
        let skillId = desc.skillId
        let skill = this.state[team].chars[charIndex].skills.filter(
          x => x.id === skillId
        )[0]
        let classes = _.uniq(skill.effects.map(x => x.class))
        let persistence = _.uniq(skill.effects.map(x => x.persistence))
          .filter(x => x !== skill.persistence)
          .map(x => x + '*')
        return {
          mode: mode,
          name: skill.name,
          description: skill.description,
          picture: skill.picture,
          classes:
            persistence.length === 0
              ? skill.persistence + ', ' + classes.join(', ')
              : skill.persistence +
                ', ' +
                classes.join(', ') +
                ', ' +
                persistence.join(', '),
          cost: skill.cost,
          costTotal:
            skill.cost.g +
            skill.cost.r +
            skill.cost.b +
            skill.cost.w +
            skill.cost.rd,
          cooldown: skill.cooldown
        }
      } else if (mode === 'char') {
        let team = desc.team
        let charIndex = desc.char
        let char = this.state[team].chars[charIndex]
        return {
          mode: mode,
          name: char.name,
          description: char.description,
          credit: char.credit,
          anime: char.anime,
          picture: char.picture
        }
      } else if (mode === 'profile') {
        let team = desc.team !== '' ? desc.team : meta.ally
        let profile = this.profile[team]
        return {
          mode: mode,
          name: profile.displayname,
          username: profile.username,
          avatar: profile.avatar
        }
      }
    }
  },
  methods: {
    showDescription: function(pkg, type) {
      console.log(pkg)
      if (type === 'skill') {
        let payload = {
          type: 'SKILL',
          pkg: {
            mode: 'skill',
            ...pkg
          }
        }
        this.$store.commit('game/desc', payload)
      }
      if (type === 'char') {
        let payload = {
          type: 'CHAR',
          pkg: {
            mode: 'char',
            ...pkg
          }
        }
        this.$store.commit('game/desc', payload)
      }
    }
  }
}
</script>