<style lang="stylus">
.exchange {
  padding: 10px;
}

.exchange p {
  font-size: 14px;
}

.modal__exchange > .modal-content {
  // height: 100%;
  // width: 100%;
  // background: transparent;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  @media screen and (max-width: 770px) {
    width: 100%;
  }

  .energy__wrap > button {
    background: #fff;
    border: none;
    margin: 0 5px;
    width: 25px;
    font-size: 14px;
    height: 25px;
    border-radius: 2px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.energy__wrap {
  margin-bottom: 2px;
}

.exchange__choice {
  margin-top: 10px;
  margin-bottom: 10px;

  span {
    height: 20px;
    width: 20px;
    border: 0;
    border-radius: 2px;
  }
}

.energy__chosen {
  // border: 2px solid #222 !important;
  box-shadow: 0 0 10px 2px #fff;
}
</style>

<template>
  <q-modal minimized v-model="opened" class="column text-center modal__exchange" @hide="cancel">
    <div class="exchange">
      <p class="mb-10">
        Choose
        <b>{{5 - offer.total}}</b> Random Energies
      </p>
      <div class="energy__wrap">
        <span class="energy__g"></span>
        {{energy.g - offer.g}}
        <button
          @click="plus('g')"
          :disabled="energy.g - offer.g === 0 || offer.total === 5"
        >+</button>
        <button @click="minus('g')" :disabled="offer.g === 0">-</button>
        {{offer.g}}
      </div>
      <div class="energy__wrap">
        <span class="energy__r"></span>
        {{energy.r - offer.r}}
        <button
          @click="plus('r')"
          :disabled="energy.r - offer.r === 0 || offer.total === 5"
        >+</button>
        <button @click="minus('r')" :disabled="offer.r === 0">-</button>
        {{offer.r}}
      </div>
      <div class="energy__wrap">
        <span class="energy__b"></span>
        {{energy.b - offer.b}}
        <button
          @click="plus('b')"
          :disabled="energy.b - offer.b === 0 || offer.total === 5"
        >+</button>
        <button @click="minus('b')" :disabled="offer.b === 0">-</button>
        {{offer.b}}
      </div>
      <div class="energy__wrap">
        <span class="energy__w"></span>
        {{energy.w - offer.w}}
        <button
          @click="plus('w')"
          :disabled="energy.w - offer.w === 0 || offer.total === 5"
        >+</button>
        <button @click="minus('w')" :disabled="offer.w === 0">-</button>
        {{offer.w}}
      </div>
      <div class="row justify-center exchange__choice">
        <span @click="choose('g')" :class="receiveClass('g')"></span>
        <span @click="choose('r')" :class="receiveClass('r')"></span>
        <span @click="choose('b')" :class="receiveClass('b')"></span>
        <span @click="choose('w')" :class="receiveClass('w')"></span>
      </div>
      <div class="row justify-around">
        <q-btn
          color="primary"
          @click="done"
          :disabled="offer.total < 5 || exchange.receive === ''"
          label="Exchange"
        />
        <q-btn color="secondary" @click="opened = false" label="Cancel" />
      </div>
    </div>
  </q-modal>
</template>

<style lang="stylus">
.redeem {
  padding: 10px;
}

.redeem p {
  font-size: 14px;
}

.redeem__img {
  padding: 5px;
  height: 50px;
  width: 50px;
}
</style>

<script>
export default {
  name: 'GameRedeem',
  data() {
    return {
      // opened: false,
      exchange: {
        receive: '',
        offer: {
          g: 0,
          r: 0,
          b: 0,
          w: 0
        }
      }
    }
  },
  computed: {
    opened: {
      get() {
        return this.$store.getters['game/modal'].exchange
      },
      set(value) {
        this.$store.commit('game/modal', { type: 'EXCHANGE', value })
      }
    },
    offer: function() {
      let offer = this.exchange.offer
      let total = offer.g + offer.r + offer.b + offer.w
      return {
        ...offer,
        total: total
      }
    },
    energy: function() {
      //Define from Getters
      let state = this.$store.getters['game/state']
      let meta = this.$store.getters['game/meta']
      let action = this.$store.getters['game/action']
      //Define
      let energy = state[meta.ally].energy
      let total = energy.g + energy.r + energy.b + energy.w
      let skills = action.filter(x => x.turnid === state.turnid)
      let cost = {
        g: 0,
        r: 0,
        b: 0,
        w: 0,
        rd: 0
      }
      //Logic
      for (let skill of skills) {
        let char = state[skill.caster.team].chars[skill.caster.char]
        let skillCost = char.skills.filter(x => x.id === skill.skillId)[0].cost

        cost.g += skillCost.g
        cost.r += skillCost.r
        cost.b += skillCost.b
        cost.w += skillCost.w
        cost.rd += skillCost.rd
      }
      //Return
      let costTotal = cost.g + cost.r + cost.b + cost.w + cost.rd
      return {
        g: energy.g - cost.g,
        r: energy.r - cost.r,
        b: energy.b - cost.b,
        w: energy.w - cost.w,
        t: total - costTotal
      }
    }
  },
  methods: {
    receiveClass: function(energy) {
      if (this.exchange.receive === energy) {
        console.log(this.exchange.receive, energy)
        return `energy__${energy} q-mx-sm energy__chosen`
      }
      return `energy__${energy} q-mx-sm`
    },
    plus: function(energy) {
      let offer = this.exchange.offer
      offer[energy] += 1
    },
    minus: function(energy) {
      let offer = this.exchange.offer
      offer[energy] -= 1
    },
    choose: function(energy) {
      this.exchange.receive = energy
    },
    open: function() {
      this.opened = true
    },
    done: function() {
      console.log(this.offer.total, this.exchange.receive)
      if (this.offer.total < 5 || this.exchange.receive === '') {
        return false
      }
      let exchange = {
        receive: this.exchange.receive,
        offer: this.exchange.offer
      }
      let payload = {
        type: 'EXCHANGE',
        pkg: exchange
      }
      this.$store.commit('game/exchange', payload)
      this.opened = false
      this.exchange = {
        receive: '',
        offer: {
          g: 0,
          r: 0,
          b: 0,
          w: 0
        }
      }
    },
    cancel: function() {
      this.exchange = {
        receive: '',
        offer: {
          g: 0,
          r: 0,
          b: 0,
          w: 0
        }
      }
      this.opened = false
    }
  }
}
</script>