<template>
  <div class="column justify-between">
    <control />
    <q-modal minimized v-model="mobileDescription" class="column mobile__description">
      <description />
    </q-modal>
    <q-modal minimized v-model="mobileChat" class="column mobile__chat">
      <chat />
    </q-modal>
  </div>
</template>

<script>
import control from './control'
import description from './description'
import chat from './chat'

export default {
  name: 'GameMobile',
  props: ['team'],
  components: {
    control,
    description,
    chat
  },
  data() {
    return {}
  },
  computed: {
    state: function() {
      return this.$store.getters['game/state']
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      return this.team === meta.ally ? '' : 'items-end'
    },
    mobileDescription: {
      get: function() {
        return this.$store.getters['game/mobile'].description
      },
      set: function(value) {
        this.$store.commit('game/mobile', { type: 'DESCRIPTION', value })
      }
    },
    mobileChat: {
      get: function() {
        return this.$store.getters['game/mobile'].chat
      },
      set: function(value) {
        this.$store.commit('game/mobile', { type: 'CHAT', value })
      }
    }
  }
}
</script>

<style lang="stylus">
.mobile__chat > .modal-content {
  height: 100%;
  width: 100%;
  background: transparent;
}

.mobile__description > .modal-content {
  // height: 100%;
  width: 100%;
  background: transparent;

  // background: rgba(34, 34, 34, 0.6);
  box-shadow: none;
  .description {
    border-radius: 5px;
    box-shadow: 0 11px 15px -7px rgba(0, 0, 0, 0.2), 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12);
  }

  border-radius: 5px;
}
</style>
