<style scoped lang="stylus">
.game__monitor p {
  font-size: 14px;
  display: inline-block;
  margin-bottom: 0px;

  @media screen and (max-width: 770px) {
    font-size: 12px;
  }
}

.game__monitor--ready {
  background: rgba(0, 0, 0, 0.25);
  width: 300px;
  // padding: 5px 20px;
  height: 25px;
  border-radius: 5px;
  border: 1px solid #222;
  color: #fff;
  margin-bottom: 5px;
  position: relative;

  @media screen and (max-width: 770px) {
    width: 200px;
    padding: 2px;
  }

  @media screen and (max-width: 375px) {
    width: 120px;
    font-size: 12px !important;
  }
}

.game__monitor--bar {
  background: #007efc;
  // width: 100%;
  height: 100%;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  transition: width 1.5s;
}

.game__monitor--ready p {
  width: 100%;
  text-align: center;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  padding: 4px 0px;

  @media screen and (max-width: 375px) {
    font-size: 10px !important;
  }
}

.game__monitor--energy {
  background: rgba(255, 255, 255, 0.8);
  width: 300px;
  padding: 5px 20px;
  border-radius: 5px;
  margin-bottom: 5px;

  @media screen and (max-width: 770px) {
    width: 200px;
  }

  @media screen and (max-width: 375px) {
    width: 120px;
  }
}

.game__monitor--energy .l--energies {
  margin-bottom: 5px;
  font-size: 12px;

  @media screen and (max-width: 770px) {
    font-size: 10px;
    margin-bottom: 1px;
  }

  .l--text {
    padding: 0px 3px;
  }
}

.game__monitor--indicator {
  font-size: 10px !important;

  @media screen and (max-width: 770px) {
    font-size: 8px !important;
  }
}

.game__monitor--exchange span {
  cursor: pointer;
  font-size: 10px;
  color: #222;
  font-weight: 600;
  margin-left: 5px;
  margin-bottom: 0px;

  @media screen and (max-width: 770px) {
    font-size: 10px;
  }

  @media screen and (max-width: 375px) {
    padding: 2px 2px;
    margin: 0 0px;
  }
}
</style>

<template>
  <div class="row justify-between full-width">
    <profile :team="meta.ally" />
    <div class="column items-center text-center game__monitor">
      <div class="game__monitor--ready">
        <p v-if="active && !spectate" @click="redeem">PRESS WHEN READY ({{remaining}}s)</p>
        <p v-if="!active && !spectate">OPPONENT'S TURN</p>
        <p v-if="spectate">{{profile}}'s TURN</p>
        <div class="game__monitor--bar" :style="monitorStyle"></div>
      </div>
      <div class="column game__monitor--energy items-center">
        <div class="row items-start" v-if="!spectate">
          <div class="l--energies row items-center">
            <span class="energy__g"></span>
            <span class="l--text">{{energy.g}}</span>
            <span class="energy__r"></span>
            <span class="l--text">{{energy.r}}</span>
            <span class="energy__b"></span>
            <span class="l--text">{{energy.b}}</span>
            <span class="energy__w"></span>
            <span class="l--text">{{energy.w}}</span>
            <b>T</b>
            <span class="l--text">{{energy.total}}</span>
          </div>
          <div class="flex game__monitor--exchange" v-if="active">
            <span @click="exchange" v-if="exchangeCheck">
              <i class="fa fa-exchange" aria-hidden="true"></i>
            </span>
            <span @click="undo" v-if="!exchangeCheck">
              <i class="fa fa-repeat" aria-hidden="true"></i>
            </span>
          </div>
        </div>
        <div class="game__monitor--indicator">TURN {{state.turn}} - {{meta.channel.toUpperCase()}}</div>
      </div>
      <redeem ref="redeem"></redeem>
      <exchange ref="exchange"></exchange>
    </div>
    <profile :team="meta.enemy" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
//Components
import redeem from './redeem'
import exchange from './exchange'
import profile from './profile'

export default {
  name: 'GameMonitor',
  components: {
    redeem,
    exchange,
    profile
  },
  created: function() {
    // this.timer()
  },
  data() {
    return {
      time: 60,
      currentTime: 60
    }
  },
  computed: {
    spectate: function() {
      return this.$store.getters['game/meta'].mode === 'spectate' ? true : false
    },
    exchangeCheck: function() {
      let check =
        this.$store.getters['game/exchange'].receive === '' ? true : false
      return check
    },
    timestamp: function() {
      return this.$store.getters['game/state'].timestamp
    },
    difference: function() {
      let result = Math.max(Math.floor(this.now - this.timestamp), 0)
      return result
    },
    remaining: function() {
      return Math.max(this.time - this.difference, 0)
    },
    monitorStyle: function() {
      let time = this.remaining / this.time
      let width = Math.floor(time * 100)
      // console.log('width', width)
      return `width: ${width}%;`
    },
    state: function() {
      return this.$store.getters['game/state']
    },
    meta: function() {
      return this.$store.getters['game/meta']
    },
    profile: function() {
      let turn = this.state.turn % 2 === 0 ? 'even' : 'odd'
      return this.$store.getters['game/profile'][turn].displayname
    },
    active: function() {
      let turn = this.state.turn % 2 === 0 ? 'even' : 'odd'
      return this.meta.ally === turn ? true : false
    },
    energy: function() {
      //Define from Getters
      let state = this.$store.getters['game/state']
      let meta = this.$store.getters['game/meta']
      let action = this.$store.getters['game/action']
      //Exchange
      let exchangeOffer = this.$store.getters['game/exchange'].offer
      let exchangeReceive = this.$store.getters['game/exchange'].receive
      let exchange = { ...exchangeOffer }
      let receive = {
        g: 0,
        r: 0,
        b: 0,
        w: 0
      }
      if (exchangeReceive !== '') {
        receive[exchangeReceive] = receive[exchangeReceive] + 1
      }
      //Define
      let energy = state[meta.ally].energy
      let total = energy.g + energy.r + energy.b + energy.w
      let skills = action.filter(x => x.turnid === state.turnid)
      let cost = {
        g: 0,
        r: 0,
        b: 0,
        w: 0,
        rd: 0
      }
      //Logic
      for (let skill of skills) {
        let char = state[skill.caster.team].chars[skill.caster.char]
        let skillCost = char.skills.filter(x => x.id === skill.skillId)[0].cost

        cost.g += skillCost.g
        cost.r += skillCost.r
        cost.b += skillCost.b
        cost.w += skillCost.w
        cost.rd += skillCost.rd
      }
      //Return
      let costTotal = cost.g + cost.r + cost.b + cost.w + cost.rd
      let exchangeTotal = exchange.g + exchange.r + exchange.b + exchange.w
      let receiveTotal = receive.g + receive.r + receive.b + receive.w
      return {
        g: energy.g - cost.g - exchange.g + receive.g,
        r: energy.r - cost.r - exchange.r + receive.r,
        b: energy.b - cost.b - exchange.b + receive.b,
        w: energy.w - cost.w - exchange.w + receive.w,
        total: total - costTotal - exchangeTotal + receiveTotal
      }
    },
    ...mapState('game', {
      now: state => state.now
    })
  },
  methods: {
    redeem: function() {
      // this.$refs.redeem.open()
      this.$store.commit('game/modal', { type: 'REDEEM', value: true })
    },
    exchange: function() {
      let check =
        this.$store.getters['game/exchange'].receive === '' ? true : false
      if (this.energy.total >= 5 && check) {
        // this.$refs.exchange.open()
        this.$store.commit('game/modal', { type: 'EXCHANGE', value: true })
      }
    },
    undo: function() {
      let action = this.$store.getters['game/action']
      let turnid = this.$store.getters['game/turnid']
      console.log(action, turnid)
      if (action.filter(x => x.turnid === turnid).length === 0) {
        this.$store.commit('game/exchange', { type: 'RESET' })
      }
    },
    timer: function() {
      let self = this
      let interval = setInterval(() => {
        // console.log('hi')
        self.currentTime = self.currentTime - 1
        if (self.currentTime < 0) {
          self.currentTime = 0
          clearInterval(interval)
        }
        // console.log(self.currentTime)
      }, 1000)
    }
  }
}
</script>
