<template>
  <div
    :class="$q.platform.is.desktop ? 'row justify-between panel' : 'column justify-between panel'"
  >
    <control />
    <description />
  </div>
</template>

<script>
import control from './control'
import description from './description'

export default {
  name: 'GamePanel',
  props: ['team'],
  components: {
    control,
    description
  },
  data() {
    return {
      opened: true
    }
  },
  computed: {
    state: function() {
      return this.$store.getters['game/state']
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      return this.team === meta.ally ? '' : 'items-end'
    }
  }
}
</script>

<style scoped lang="stylus">
.panel {
  // height: 100px;
  padding-top: 20px;

  @media screen and (max-width: 770px) {
    padding-top: 0px;
  }
}
</style>
