<style lang="stylus">
.redeem {
  padding: 10px;
}

.redeem p {
  font-size: 14px;
}

.redeem__img {
  padding: 5px;
  height: 50px;
  width: 50px;
}

.modal__redeem > .modal-content {
  // height: 100%;
  // width: 100%;
  // background: transparent;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  @media screen and (max-width: 770px) {
    width: 100%;
  }

  .energy__wrap > button {
    background: #fff;
    border: none;
    margin: 0 5px;
    width: 25px;
    font-size: 14px;
    height: 25px;
    border-radius: 2px;
  }
}

.mb-10 {
  margin-bottom: 10px;
}

.energy__wrap {
  margin-bottom: 2px;
}

.redeem__drag {
  margin-bottom: 5px;
}
</style>


<template>
  <q-modal minimized v-model="opened" class="column text-center modal__redeem" @hide="cancel">
    <div class="redeem">
      <p class="mb-10">
        Choose
        <b>{{redeem.rd}}</b> Random Energies
      </p>
      <div class="energy__wrap">
        <span class="energy__g"></span>
        {{energy.g - redeem.g}}
        <button
          @click="plus('g')"
          :disabled="energy.g - redeem.g === 0 || redeem.rd === 0"
        >+</button>
        <button @click="minus('g')" :disabled="redeem.g === 0">-</button>
        {{redeem.g}}
      </div>
      <div class="energy__wrap">
        <span class="energy__r"></span>
        {{energy.r - redeem.r}}
        <button
          @click="plus('r')"
          :disabled="energy.r - redeem.r === 0 || redeem.rd === 0"
        >+</button>
        <button @click="minus('r')" :disabled="redeem.r === 0">-</button>
        {{redeem.r}}
      </div>
      <div class="energy__wrap">
        <span class="energy__b"></span>
        {{energy.b - redeem.b}}
        <button
          @click="plus('b')"
          :disabled="energy.b - redeem.b === 0 || redeem.rd === 0"
        >+</button>
        <button @click="minus('b')" :disabled="redeem.b === 0">-</button>
        {{redeem.b}}
      </div>
      <div class="energy__wrap">
        <span class="energy__w"></span>
        {{energy.w - redeem.w}}
        <button
          @click="plus('w')"
          :disabled="energy.w - redeem.w === 0 || redeem.rd === 0"
        >+</button>
        <button @click="minus('w')" :disabled="redeem.w === 0">-</button>
        {{redeem.w}}
      </div>
      <div class="redeem__drag">
        <draggable v-model="action">
          <img
            v-for="(item, index) in action"
            :key="index"
            :src="image(item.caster.team,item.caster.char,item.skillId)"
            class="redeem__img"
          />
        </draggable>
      </div>
      <div class="row justify-around">
        <q-btn color="primary" @click="end" label="End Turn" />
        <q-btn color="secondary" @click="opened = false" label="Cancel" />
      </div>
    </div>
  </q-modal>
</template>

<script>
import draggable from 'vuedraggable'

export default {
  name: 'GameRedeem',
  data() {
    return {}
  },
  components: {
    draggable
  },
  computed: {
    opened: {
      get() {
        return this.$store.getters['game/modal'].redeem
      },
      set(value) {
        this.$store.commit('game/modal', { type: 'REDEEM', value })
      }
    },
    action: {
      get() {
        return this.$store.getters['game/action']
      },
      set(value) {
        this.$store.commit('game/action', value)
      }
    },
    redeem: function() {
      //Define from Getters
      let state = this.$store.getters['game/state']
      let redeem = this.$store.getters['game/redeem']
      let action = this.$store.getters['game/action']
      //Define
      let redeemTotal = redeem.g + redeem.r + redeem.b + redeem.w
      let skills = action.filter(x => x.turnid === state.turnid)
      let random = 0
      //Logic
      for (let skill of skills) {
        let char = state[skill.caster.team].chars[skill.caster.char]
        let skillCost = char.skills.filter(x => x.id === skill.skillId)[0].cost
        random += skillCost.rd
      }
      //Return
      return {
        g: redeem.g,
        r: redeem.r,
        b: redeem.b,
        w: redeem.w,
        rd: random - redeemTotal
      }
    },
    energy: function() {
      //Define from Getters
      let state = this.$store.getters['game/state']
      let meta = this.$store.getters['game/meta']
      let action = this.$store.getters['game/action']
      //Exchange
      let exchangeOffer = this.$store.getters['game/exchange'].offer
      let exchangeReceive = this.$store.getters['game/exchange'].receive
      let exchange = { ...exchangeOffer }
      let receive = {
        g: 0,
        r: 0,
        b: 0,
        w: 0
      }
      if (exchangeReceive !== '') {
        receive[exchangeReceive] = receive[exchangeReceive] + 1
      }
      //Define
      let energy = state[meta.ally].energy
      let total = energy.g + energy.r + energy.b + energy.w
      let skills = action.filter(x => x.turnid === state.turnid)
      let cost = {
        g: 0,
        r: 0,
        b: 0,
        w: 0,
        rd: 0
      }
      //Logic
      for (let skill of skills) {
        let char = state[skill.caster.team].chars[skill.caster.char]
        let skillCost = char.skills.filter(x => x.id === skill.skillId)[0].cost

        cost.g += skillCost.g
        cost.r += skillCost.r
        cost.b += skillCost.b
        cost.w += skillCost.w
        cost.rd += skillCost.rd
      }
      //Return
      let costTotal = cost.g + cost.r + cost.b + cost.w + cost.rd
      let exchangeTotal = exchange.g + exchange.r + exchange.b + exchange.w
      let receiveTotal = receive.g + receive.r + receive.b + receive.w
      return {
        g: energy.g - cost.g - exchange.g + receive.g,
        r: energy.r - cost.r - exchange.r + receive.r,
        b: energy.b - cost.b - exchange.b + receive.b,
        w: energy.w - cost.w - exchange.w + receive.w,
        total: total - costTotal - exchangeTotal + receiveTotal
      }
    }
  },
  methods: {
    image: function(team, char, skillId) {
      let state = this.$store.getters['game/state']
      let picture = state[team].chars[char].skills.filter(
        x => x.id === skillId
      )[0].picture
      return picture !== '' ? picture : 'https://i.imgur.com/irRmTaG.png'
    },
    plus: function(energy) {
      let redeem = this.$store.getters['game/redeem']
      redeem[energy] += 1
      let payload = {
        type: 'MUTATE',
        pkg: redeem
      }
      this.$store.commit('game/redeem', payload)
    },
    minus: function(energy) {
      let redeem = this.$store.getters['game/redeem']
      redeem[energy] -= 1
      let payload = {
        type: 'MUTATE',
        pkg: redeem
      }
      this.$store.commit('game/redeem', payload)
    },
    cancel: function() {
      let payload = {
        type: 'MUTATE',
        pkg: {
          g: 0,
          r: 0,
          b: 0,
          w: 0
        }
      }
      this.$store.commit('game/redeem', payload)
      this.opened = false
    },
    open: function() {
      this.opened = true
    },
    end: function() {
      if (this.redeem.rd !== 0) {
        return
      }
      let action = this.$store.getters['game/active'].concat(
        this.$store.getters['game/action']
      )
      let payload = {
        action: action,
        redeem: this.$store.getters['game/redeem'],
        exchange: this.$store.getters['game/exchange'],
        room: this.$route.params.room
      }
      console.log(payload)
      this.$socket.emit('battle', payload)
      this.opened = false
      this.$store.commit('game/calculating')
    }
  }
}
</script>