<style lang="stylus">
.result {
  padding: 20px;
}

.result__title {
  margin-bottom: 15px;
}

.result__winner {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 15px;
}

.modal__result > .modal-content {
  // height: 100%;
  // width: 100%;
  // background: transparent;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  @media screen and (max-width: 770px) {
    width: 100%;
  }
}
</style>

<template>
  <q-modal minimized no-backdrop-dismiss v-model="finish" class="column text-center modal__result">
    <div class="result">
      <p class="result__title">Game Ended</p>
      <p class="result__winner">{{player}} Wins!</p>
      <q-btn @click="exit" color="primary">Exit Game</q-btn>
    </div>
  </q-modal>
</template>

<script>
export default {
  name: 'GameResult',
  data() {
    return {
      opened: false
    }
  },
  computed: {
    state: function() {
      return this.$store.getters['game/state']
    },
    winner: function() {
      return this.$store.getters['game/winner']
    },
    finish: {
      get: function() {
        let finish = this.$store.getters['game/modal'].finish
        console.log(finish)
        return finish
      },
      set: function() {}
    },
    meta: function() {
      return this.$store.getters['game/meta']
    },
    win: function() {
      return this.winner === this.meta.ally ? true : false
    },
    lose: function() {
      return this.winner === this.meta.enemy ? true : false
    },
    player: function() {
      if (this.finish) {
        return this.state[this.winner].name
      }
    }
  },
  methods: {
    exit: function() {
      let room = this.$route.params.room
      this.$router.push('/')
      this.$store.commit('game/reset')
      this.$store.dispatch('chat/reset')
      this.$socket.emit('leave', {
        room: room
      })
    }
  }
}
</script>