<template>
  <div :class="layout.wrapper">
    <div class="status" v-for="(item, index) of queue(char, team)" :key="'queue'+index">
      <img :src="item.picture !== '' ? item.picture : 'https://i.imgur.com/irRmTaG.png'" />
      <q-tooltip :anchor="layout.tooltipAnchor" :self="layout.tooltipSelf">
        <p class="tooltip">{{item.char}}'s {{item.skill}}</p>
      </q-tooltip>
    </div>
    <div class="status" v-for="(item, index) of status" :key="'status'+index">
      <span class="status--counter" v-if="item.type === 'charges'">{{item.amount}}</span>
      <span
        class="status--counter"
        v-if="item.type !== 'charges' && item.isStack[0].value"
      >{{item.stack}}</span>
      <img :src="item.picture !== '' ? item.picture : 'https://i.imgur.com/irRmTaG.png'" />
      <q-tooltip :anchor="layout.tooltipAnchor" :self="layout.tooltipSelf">
        <p
          v-for="(desc, index) of descriptions(item.parent, item.caster.char, item.caster.team)"
          :key="index"
          class="tooltip"
        >{{desc}}</p>
      </q-tooltip>
    </div>
  </div>
</template>

<style scoped lang="stylus">
.status--counter {
  position: absolute;
  color: #fff;
  font-weight: 400;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  width: 100%;
  height: 100%;
  text-align: center;
  cursor: default;

  @media screen and (max-width: 770px) {
    font-size: 12px;
  }
}

.status--wrapper {
  height: 20px;
  margin-bottom: 2px;

  @media screen and (max-width: 770px) {
    height: 15px;
  }
}

.status {
  width: 20px;
  height: 20px;
  border: 1px solid #222;
  margin: 0px 2px;
  position: relative;

  @media screen and (max-width: 415px) {
    border: 0px solid #222;
  }

  @media screen and (max-width: 770px) {
    border: 0px solid #222;
    width: 15px;
    height: 15px;
  }
}

.status img {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.tooltip {
  font-size: 14px;
  margin-bottom: 0px;
}
</style>

<script>
import _ from 'lodash'

export default {
  name: 'GameStatus',
  props: ['team', 'char'],
  components: {},
  data() {
    return {}
  },
  computed: {
    state: function() {
      return this.$store.getters['game/state']
    },
    status: function() {
      let status = this.state[this.team].chars[this.char].status
      //For Calibrate Charge
      let charge = status.onCharge
        .map(x => {
          return {
            ...x,
            parent: x.id,
            caster: {
              char: this.char,
              team: this.team
            }
          }
        })
        .filter(x => x.amount > 0)
      //Concat
      let allStatus = _.concat(
        status.onAttack,
        status.onReceive,
        status.onSkill,
        status.onState,
        charge
      )
      allStatus = _.uniqBy(allStatus, v =>
        [v.parent, v.caster.char, v.caster.team].join()
      )
      return allStatus
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      let layoutLeft = {
        wrapper: 'row status--wrapper',
        tooltipAnchor: 'bottom left',
        tooltipSelf: 'top left'
      }
      let layoutRight = {
        wrapper: 'row reverse status--wrapper',
        tooltipAnchor: 'bottom right',
        tooltipSelf: 'top right'
      }
      return this.team === meta.ally ? layoutLeft : layoutRight
    }
  },
  methods: {
    queue: function(char, team) {
      let action = this.$store.getters['game/action']
      let meta = this.$store.getters['game/meta']
      let self = this
      let details = self.state[team].chars[char]
      //Char Dead
      if (!details.alive) {
        return false
      }
      //Logic
      let invul = details.status.onState.some(
        x => x.type === 'invul' && x.active
      )
      let disable = details.status.onState.some(
        x => x.type === 'disable' && x.active
      )
      let queue = action.filter(x => {
        let skill = self.state[x.caster.team].chars[
          x.caster.char
        ].skills.filter(s => s.id === x.skillId)[0]
        let targeting = skill.target
        if (x.turnid !== this.state.turnid) {
          return false
        }

        //Evaluation
        if (x.target.char === char && x.target.team === team) {
          return true
        } else if (
          ['all enemies', 'random enemy'].includes(targeting) &&
          x.target.team === team
        ) {
          if (invul === false) {
            return true
          }
          if (invul === true && disable === true) {
            return true
          }
        } else if (
          ['all allies', 'random ally'].includes(targeting) &&
          x.target.team === team
        ) {
          return true
        } else if (
          ['other allies'].includes(targeting) &&
          x.target.team === team &&
          x.caster.char !== char
        ) {
          return true
        } else if (
          ['self and enemy', 'self and ally'].includes(targeting) &&
          ((x.target.char === char && x.target.team === team) ||
            (x.caster.char === char && x.caster.team === team))
        ) {
          return true
        } else if (targeting === 'all') {
          if (x.target.team === meta.enemy && invul === false) {
            return true
          } else if (team === meta.ally) {
            return true
          }
          return false
        } else if (
          ['enemy and all allies'].includes(targeting) &&
          x.caster.team === team
        ) {
          return true
        }
        return false
      })

      return queue.map(x => {
        let char = this.state[x.caster.team].chars[x.caster.char]
        let skill = char.skills.filter(s => s.id === x.skillId)[0]
        return {
          picture: skill.picture,
          skill: skill.name,
          char: char.name
        }
      })
    },
    descriptions: function(parent, char, team) {
      let status = this.state[this.team].chars[this.char].status
      let allStatus = _.concat(
        status.onAttack,
        status.onReceive,
        status.onSkill,
        status.onState
      )
      allStatus = allStatus
        .concat(status.onCharge.filter(x => x.amount > 0))
        .filter(
          x =>
            (x.parent === parent &&
              x.caster.char === char &&
              x.caster.team === team) ||
            x.id === parent
        )
      let description = allStatus.map(x => {
        let type = x.type
        let duration = x.duration === -1 ? 'infinite' : x.duration
        let sentence = ''
        if (x.isWatch) {
          sentence = 'Watch: '
        }
        switch (type) {
          case 'allow':
            sentence += `Allow for ${duration} turns`
            break
          case 'dr':
            sentence += `Damage Reduction ${x.val} for ${duration} turns`
            break
          case 'dd':
            sentence += `Destructible Defense ${x.current} for ${duration} turns`
            break
          case 'boost':
            sentence += `Boost ${x.val} for ${duration} turns`
            break
          case 'stun':
            sentence += `Stunned for ${duration} turns`
            break
          case 'damage':
            sentence += `Damage ${x.val} for ${duration} turns`
            break
          case 'heal':
            sentence += `Heal ${x.val} for ${duration} turns`
            break
          case 'energy':
            sentence += `Energy reduced ${x.val} for ${duration} turns`
            break
          case 'invul':
            sentence += `Invulnerable for ${duration} turns`
            break
          case 'buff':
            sentence += `Damage Increase ${x.val} for ${duration} turns`
            break
          case 'nerf':
            sentence += `Damage Decrease ${x.val} for ${duration} turns`
            break
          case 'ignore':
            sentence += `Ignore for ${duration} turns`
            break
          case 'state':
            sentence += `State for ${duration} turns`
            break
          case 'disable':
            sentence += `Disable for ${duration} turns`
            break
          case 'transform':
            sentence += `Transform for ${duration} turns`
            break
          case 'cooldown':
            sentence += `Cooldown ${x.orientation.detail} for ${duration} turns`
            break
          case 'charge':
            sentence += `Will gain ${x.val} charge for ${duration} turn`
            break
          case 'charges':
            sentence += `${x.name} have ${x.amount} charges`
            break
          case 'mark':
            sentence += `Mark for ${duration}`
            break
          case 'cant die':
            sentence += `Can't be killed for ${duration} turn`
            break
          case 'counter':
            sentence += `Waiting for counter for ${duration} turn`
            break
          case 'redirect':
            sentence += `Will redirect for ${duration} turn`
            break
          case 'countered':
            sentence += `Countered`
            break
          case 'remove':
            sentence += `Remove something for ${duration} turn`
            break
          default:
            return sentence
        }
        return sentence
      })
      return description
    }
  }
}
</script>