<style lang="stylus">
.surrender {
  padding: 20px;
}

.surrender__title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
}

.modal__wrapper > .modal-content {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;

  @media screen and (max-width: 770px) {
    width: 100%;
  }
}
</style>

<template>
  <q-modal minimized no-backdrop-dismiss v-model="opened" class="column text-center modal__wrapper">
    <div class="surrender">
      <p class="surrender__title">Are you sure you want to surrender?</p>
      <q-btn @click="surrender" color="red q-mr-md">Surrender</q-btn>
      <q-btn @click="cancel" color="primary">Cancel</q-btn>
    </div>
  </q-modal>
</template>

<script>
export default {
  name: 'GameSurrender',
  data() {
    return {}
  },
  computed: {
    opened: function() {
      return this.$store.getters['game/modal'].surrender
    }
  },
  methods: {
    surrender: function() {
      this.$socket.emit('surrender', {
        room: this.$route.params.room
      })
      this.$store.commit('game/modal', { type: 'SURRENDER', value: false })
    },
    cancel: function() {
      this.$store.commit('game/modal', { type: 'SURRENDER', value: false })
    }
  }
}
</script>