<template>
  <div :class="layout">
    <char v-for="(char, index) in state[team].chars" :team="team" :char="index" :charId="char.id" :key="index"></char>
  </div>
</template>

<script>
import char from './char'

export default {
  name: 'GameTeam',
  props: ['team'],
  components: {
    char
  },
  data() {
    return {}
  },
  computed: {
    state: function() {
      return this.$store.getters['game/state']
    },
    layout: function() {
      let meta = this.$store.getters['game/meta']
      return this.team === meta.ally ? '' : 'items-end'
    }
  }
}
</script>

<style>
</style>
