<template>
  <q-page padding>
    <!-- content -->
    <p>Create a new Arena</p>
    <q-input v-model="name" float-label="Arena Name"></q-input>
    <q-input
      v-model="description"
      type="textarea"
      float-label="Description"
    ></q-input>
    <q-input v-model="logo" float-label="Arena Logo"></q-input>
    <q-btn label="Create" color="primary" @click="create"></q-btn>

    <p class="q-mt-lg text-bold">Your Arenas</p>
    <div
      v-for="(item, index) in arenas"
      :key="index"
      class="row justify-between q-my-sm content-center items-center"
    >
      <p>{{ item.name }}</p>
      <q-btn label="Select" @click="selectArena(item)"></q-btn>
    </div>
  </q-page>
</template>

<script>
import axios from 'axios'

export default {
  // name: 'PageName',
  name: 'BuilderArena',
  created: function() {
    axios.defaults.headers.common['Authorization'] =
      'JWT ' + localStorage.getItem('jwtToken')

    this.getArena()
  },
  data: function() {
    return {
      name: '',
      logo: '',
      description: '',
      arenas: []
    }
  },
  methods: {
    create: function() {
      axios
        .post(process.env.API + '/arena/create', {
          name: this.name,
          description: this.description,
          logo: this.logo
        })
        .then(res => {
          if (res.data.success === 'ok') {
            this.$q.notify({
              message: 'Arena Created',
              type: 'positive',
              position: 'top'
            })

            this.name = ''
            this.description = ''
            this.getArena()
          }
        })
    },
    getArena: function() {
      axios.get(process.env.API + '/arena/get').then(res => {
        this.arenas = res.data
      })
    },
    selectArena: function(arena) {
      this.$store.commit('builder/arena', {
        type: 'SELECT',
        pkg: {
          arena: arena
        }
      })
      this.$router.push('/admin/char')
    }
  }
}
</script>

<style></style>
