<template>
  <q-page class="q-pa-sm row">
    <div class="column col-6">
      <div class="row justify-between q-my-sm">
        <q-btn
          label="Change Arena"
          color="primary"
          @click="$router.push('/admin')"
        ></q-btn>
      </div>
      <div class="row justify-between q-my-sm">
        <p>Character Builder</p>
        <q-btn
          label="Submit Character"
          color="primary"
          @click="submit"
          icon="save"
        />
      </div>
      <q-tabs v-model="selectedTab">
        <!-- Tabs - notice slot="title" -->
        <q-tab default slot="title" name="tab-1" label="Create" />
        <q-tab slot="title" :disable="disable" name="tab-2" label="EDIT" />
        <q-tab slot="title" :disable="disable" name="tab-3" label="Skills" />
        <q-tab slot="title" :disable="disable" name="tab-4" label="Effects" />
        <q-tab slot="title" :disable="disable" name="tab-5" label="Result" />

        <!-- Targets -->
        <q-tab-pane name="tab-1">
          <create @enable="enable" />
        </q-tab-pane>
        <q-tab-pane name="tab-2">
          <char />
        </q-tab-pane>
        <q-tab-pane name="tab-3">
          <skills />
        </q-tab-pane>
        <q-tab-pane name="tab-4">
          <effects />
        </q-tab-pane>
        <q-tab-pane name="tab-5">
          <result />
        </q-tab-pane>
      </q-tabs>
    </div>
    <div class="column q-pa-sm col-6">
      <json-viewer :value="results" :expand-depth="1" boxed></json-viewer>
      <q-input
        v-model="lowcaps"
        type="textarea"
        float-label="Lowercase Sentence"
        :min-rows="7"
      />
      <p>{{ lowcaps | lowercaps }}</p>
      <p>{{ lowcaps | upercaps }}</p>
    </div>
  </q-page>
</template>

<style>
.width-100 {
  width: 100% !important;
  padding: 20px;
}
.q-field {
  margin-bottom: 10px;
}
.q-card {
  box-shadow: none;
}
.q-tab-pane {
  padding: 0px;
}
</style>

<script>
import axios from 'axios'
import create from 'components/builder/create'
import char from 'components/builder/char'
import skills from 'components/builder/skills'
import effects from 'components/builder/effects'
import result from 'components/builder/result'

import JsonViewer from 'vue-json-viewer'

export default {
  name: 'Builder',
  components: {
    create,
    char,
    skills,
    effects,
    result,
    JsonViewer
  },
  created: function() {
    this.$axios.defaults.headers.common['Authorization'] =
      'JWT ' + localStorage.getItem('jwtToken')

    this.getArena()
  },
  data: function() {
    return {
      disable: true,
      selectedTab: 'tab-1',
      lowcaps: ''
    }
  },
  computed: {
    results: {
      get: function() {
        return this.$store.getters['builder/char']
      },
      set: function(value) {}
    }
  },
  filters: {
    lowercaps: function(value) {
      if (value === '') {
        return ''
      }
      let sentences = value.split('. ')
      console.log(sentences)
      let lowcapsSentence = sentences.map(x => {
        let sentence = x.toLowerCase()
        let first = sentence.charAt(0).toUpperCase()
        return first + sentence.slice(1)
      })
      return lowcapsSentence.join('. ')
    },
    upercaps: function(value) {
      if (value === '') {
        return ''
      }
      let sentences = value.split(' ')
      console.log(sentences)
      let lowcapsSentence = sentences.map(x => {
        let sentence = x.toLowerCase()
        let first = sentence.charAt(0).toUpperCase()
        return first + sentence.slice(1)
      })
      return lowcapsSentence.join(' ')
    }
  },
  methods: {
    getArena: function() {
      this.$axios.get(process.env.API + '/arena/get').then(res => {
        // this.arenas = res.data
        this.$store.commit('builder/arenas', {
          type: 'LOAD',
          pkg: {
            arenas: res.data
          }
        })
      })
    },
    enable: function() {
      this.disable = false
      this.selectedTab = 'tab-2'
      window.scrollTo(0, 0)
    },
    selectThirdTab() {
      // we select third tab which has `name` set to 'tab-3'
      this.selectedTab = 'tab-2'
    },
    submit: function() {
      console.log('hi')
      let self = this
      axios
        .post(process.env.API + '/save', { char: this.results })
        .then(res => {
          console.log(res)
          let payload = {
            type: 'CHAR_UPDATE',
            pkg: { ...this.results, _id: res.data.id }
          }
          this.$store.commit('builder/char', payload)
          self.$q.notify({
            message: 'Data successfully submitted',
            type: 'positive',
            position: 'top'
          })
        })
      return
    }
  }
}
</script>
