<template>
  <q-page class="flex flex-center home--background">
    <div class="column items-center">
      <img src="https://i.imgur.com/5SdKVB8.png" class="logo" />
      <img
        @click="enter"
        :src="isHover === false ? button : buttonHover"
        @mouseover="isHover = !isHover"
        @mouseout="isHover = !isHover"
        class="enter"
      />
      <q-btn color="white" text-color="black" label="Tester" @click="testing"></q-btn>
    </div>
  </q-page>
</template>

<style scoped lang="stylus">
.home--background {
  background: url('https://i.imgur.com/rPu37ND.jpg') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo {
  width: 500px;

  @media screen and (max-width: 770px) {
    width: 300px;
  }
}

.enter {
  width: 200px;

  @media screen and (max-width: 770px) {
    width: 150px;
  }
}
</style>

<script>
import io from 'socket.io-client'
const socket = io(process.env.API, {
  query: 'auth_token=' + localStorage.getItem('jwtToken')
})
let router

export default {
  name: 'PageIndex',
  components: { search },
  data: function() {
    return {
      button: 'https://i.imgur.com/65DXg5y.png',
      buttonHover: 'https://i.imgur.com/m7I8pgH.png',
      isHover: false
    }
  },
  created: function() {
    router = this.$router
  },
  methods: {
    enter: function() {},
    testing: function() {
      let payload = {
        player: this.player
      }
      socket.emit('testing', payload)
      this.searching = true
    }
  }
}

socket.on('found', packet => {
  console.log('hi')
  let url = '/test/' + packet.room
  router.push(url)
})
</script>
