<template>
  <q-page class="flex flex-center home--background">
    <div class="column items-center">
      <div>
        <q-field label="Username">
          <q-input v-model="login.username" />
        </q-field>
        <q-field class="q-mb-md" label="Password">
          <q-input v-model="login.password" type="password" />
        </q-field>
        <q-btn class="q-mb-md" @click="submit">Login</q-btn>
        <p @click="$router.push('/register')">or Register Here</p>
      </div>
    </div>
  </q-page>
</template>

<style scoped lang="stylus">
.home--background {
}
</style>

<script>
export default {
  name: 'PageIndex',
  data: function() {
    return {
      login: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    submit(evt) {
      evt.preventDefault()
      this.$axios
        .post(process.env.API + `/api/auth/login/`, this.login)
        .then(response => {
          console.log('BBBB', response.data)
          localStorage.setItem('jwtToken', response.data.token)
          console.log('AAAA', response.data.usergroup)
          localStorage.setItem('usergroup', response.data.usergroup)
          this.$router.push('/arena')
        })
        .catch(e => {
          console.log(e)
          this.errors.push(e)
        })
    }
  }
}
</script>
