<template>
  <q-page class="flex flex-center home--background">
    <div class="column items-center">
      <div>
        <q-field label="Username">
          <q-input v-model="register.username"/>
        </q-field>
        <q-field class="q-mb-md" label="Password">
          <q-input v-model="register.password" type="password"/>
        </q-field>
        <q-btn class="q-mb-md" @click="submit">Register</q-btn>
        <p @click="$router.push('/')">or Login Here</p>
      </div>
    </div>
  </q-page>
</template>

<style scoped lang="stylus">
.home--background {
}
</style>

<script>
export default {
  name: 'PageIndex',
  data: function() {
    return {
      register: {
        username: '',
        password: ''
      }
    }
  },
  methods: {
    submit(evt) {
      evt.preventDefault()
      this.$axios
        .post(process.env.API + `/api/auth/register/`, this.register)
        .then(response => {
          // alert('Registered successfully')
          console.log(response)
          if (response.data.success) {
            this.$router.push('/')
          }
        })
        .catch(e => {
          console.log(e)
          this.errors.push(e)
        })
    }
  }
}
</script>
