<style scoped lang="stylus">
.options {
  // .l--container {
  // padding: 10px;
  // height: 250px;
  // }
  .l--btn {
    padding: 15px;
    background: rgba(0, 0, 0, 0.25);
    border: 1px solid #222;
    color: #fff;
    // width: 100%;
    margin: 0 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);

    &:hover {
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
    }
  }
}

.selection {
  padding: 10px;

  .l--container {
    padding: 10px;
    background: rgb(255, 255, 255);
    border-top: 5px solid #2222;
    border-bottom: 5px solid #2222;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    height: 260px;
    overflow-y: scroll;
  }

  .l--char {
    // padding: 2px;
    .l--img {
      width: 55px;
      height: 55px;
      border-radius: 5px;
      border: 1px solid #222;

      @media screen and (max-width: 770px) {
        width: 45px;
        height: 45px;
      }
    }
  }

  .profile {
    .l--avatar {
      padding: 5px;

      img {
        width: 75px;
        height: 75px;
        border: 1px solid #222;

        @media screen and (max-width: 770px) {
          width: 45px;
          height: 45px;
        }
      }
    }

    .l--detail {
      padding: 5px;
      font-size: 12px;
      color: #888;
      flex: 1;

      .l--info {
        margin-bottom: 1px;
        width: 100%;
      }

      .l--mb {
        margin-bottom: 5px;
      }

      .l--italic {
        font-style: italic;
      }

      .l--name {
        font-weight: 600;
        color: #222;
        font-size: 14px;
      }

      .l--bold {
        font-weight: 600;
        color: #222;
      }
    }
  }

  .l--selected {
    overflow-x: hidden;
    overflow-y: hidden;
    max-height: 55px;

    @media screen and (max-width: 770px) {
      max-height: 45px;
    }

    div.l--char:nth-child(4) {
      display: none;
    }

    .l--drop {
      margin: 0 2px;
      border-radius: 5px;
      background-image: url('https://i.imgur.com/EB6t4nN.jpg');
      background-size: 55px 55px;
      // background: #222;
      height: 55px;
      width: 55px;

      @media screen and (max-width: 770px) {
        background-size: 45px 45px;
        width: 45px;
        height: 45px;
      }
    }
  }
}

.characters {
  padding: 10px;

  .l--container {
    padding: 10px;
    height: 260px;
    background: rgb(255, 255, 255);
    border-top: 5px solid #2222;
    border-bottom: 5px solid #2222;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    overflow-y: scroll;
  }

  .l--char {
    padding: 2px;

    .l--img {
      width: 55px;
      height: 55px;
      border-radius: 5px;
      border: 1px solid #222;

      @media screen and (max-width: 770px) {
        width: 45px;
        height: 45px;
      }
    }
  }
}

.background {
  background: url('https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2017/03/fuuka-wallpaper.jpg?itok=xxZnQQcr') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.selection__container {
  max-width: 770px;
}
</style>

<template>
  <q-page class="row flex-wrap flex-center background">
    <div class="column flex-center selection__container">
      <div class="options row justify-center">
        <div class="l--btn" @click="testing">Test Game</div>
        <!-- <div class="l--btn">Ladder Game</div> -->
        <!-- <div class="l--btn">Quick Game</div> -->
        <div class="l--btn" @click="search">
          {{ searching ? 'Searching...' : 'Find Game' }}
        </div>
        <div class="l--btn" @click="logout">Logout</div>
      </div>
      <div class="row">
        <div class="characters col-8">
          <div class="l--container">
            <div class="row justify-center" v-if="allChar.length > 0">
              <draggable
                class="dragArea list-group row justify-center"
                :list="allChar"
                :sort="false"
                :group="{ name: 'char', pull: 'clone' }"
                @change="log"
                @add="onAddChar"
                draggable=".l--drag"
              >
                <div
                  v-for="(char, index) in showChar"
                  :key="index"
                  :class="selectCheck(char, 'wrapper')"
                >
                  <img class="l--img" :src="selectCheck(char)" />
                </div>
              </draggable>
            </div>
          </div>
        </div>
        <div class="selection column justify-between col-4">
          <div class="l--container column justify-center">
            <div class="profile row">
              <div class="l--avatar">
                <img
                  src="https://vignette.wikia.nocookie.net/soularenableach/images/5/51/Transporting_evasion.jpg/revision/latest?cb=20140202223454"
                />
              </div>
              <div class="l--detail">
                <div class="l--info l--name">Leciel</div>
                <div class="l--info l--mb">Genin</div>
                <div class="l--info row justify-between">
                  Rank
                  <span class="l--bold">1</span>
                </div>
                <div class="l--info row justify-between">
                  Record
                  <span class="l--bold">10 - 0</span>
                </div>
                <div class="l--info row justify-between">
                  Streak
                  <span class="l--bold">+2</span>
                </div>
              </div>
            </div>
            <div class="l--selected row">
              <draggable
                class="dragArea list-group row justify-center l--drop"
                :list="select.one"
                group="char"
                @add="onAdd"
              >
                <div
                  v-for="(char, index) in showSelect('one')"
                  :key="index"
                  class="l--char"
                >
                  <img
                    class="l--img"
                    :src="
                      char.picture !== ''
                        ? char.picture
                        : 'https://i.imgur.com/irRmTaG.png'
                    "
                  />
                </div>
              </draggable>
              <draggable
                class="dragArea list-group row justify-center l--drop"
                :list="select.two"
                group="char"
                @add="onAdd"
              >
                <div
                  v-for="(char, index) in showSelect('two')"
                  :key="index"
                  class="l--char"
                >
                  <img
                    class="l--img"
                    :src="
                      char.picture !== ''
                        ? char.picture
                        : 'https://i.imgur.com/irRmTaG.png'
                    "
                  />
                </div>
              </draggable>
              <draggable
                class="dragArea list-group row justify-center l--drop"
                :list="select.three"
                group="char"
                @add="onAdd"
              >
                <div
                  v-for="(char, index) in showSelect('three')"
                  :key="index"
                  class="l--char"
                >
                  <img
                    class="l--img"
                    :src="
                      char.picture !== ''
                        ? char.picture
                        : 'https://i.imgur.com/irRmTaG.png'
                    "
                  />
                </div>
              </draggable>
            </div>
            <q-select
              filled
              v-model="model"
              :options="options"
              label="Filled"
              v-show="false"
            />
          </div>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
import draggable from 'vuedraggable'
import _ from 'lodash'
import uniqid from 'uniqid'

import io from 'socket.io-client'
const socket = io(process.env.API, {
  query: 'auth_token=' + localStorage.getItem('jwtToken')
})

import { LocalStorage, SessionStorage } from 'quasar'

let router

export default {
  name: 'Selection',
  components: {
    draggable
  },
  created: function() {
    router = this.$router

    let self = this
    this.$axios.get(process.env.API + '/char/all/complete').then(res => {
      console.log(res.data)
      self.allChar = res.data.map(x => {
        let data = JSON.parse(x.data)
        return {
          name: x.name,
          id: x._id,
          picture: data.picture,
          arena: x.arena
        }
      })
      self.chars = _.cloneDeep(self.allChar)
    })

    if (LocalStorage.has('select.one')) {
      this.select.one = LocalStorage.get.item('select.one')
    }
    if (LocalStorage.has('select.two')) {
      this.select.two = LocalStorage.get.item('select.two')
    }
    if (LocalStorage.has('select.three')) {
      this.select.three = LocalStorage.get.item('select.three')
    }
  },
  data: function() {
    return {
      allChar: [],
      chars: [],
      model: 'Select Squad',
      options: [{ label: 'Select Squad', value: 'Select Squad' }],
      select: {
        one: [],
        two: [],
        three: []
      },
      searching: false
    }
  },
  computed: {
    showChar() {
      let result = _.cloneDeep(this.allChar)
      let amount = 6
      let remainder = result.length % amount
      let placeholder = amount - remainder
      // if (remainder !== 0) {
      //   for (let i = 1; i <= placeholder; i++) {
      //     result.push({
      //       name: '',
      //       id: '',
      //       picture: 'https://i.imgur.com/EB6t4nN.jpg'
      //     })
      //   }
      // }
      return result
    }
  },
  methods: {
    showSelect(key) {
      let result = _.cloneDeep(this.select[key])
      // if (result.length === 0) {
      //   result.push({
      //     name: '',
      //     id: '',
      //     picture: 'https://i.imgur.com/EB6t4nN.jpg'
      //   })
      // }
      return result
    },
    testing: function() {
      let select = _.concat(this.select.one, this.select.two, this.select.three)
      if (select.length < 3) {
        return false
      }
      let payload = {
        player: this.player,
        chars: select
      }
      console.log('test', process.env.API)
      socket.emit('testing', payload)
    },
    selectCheck: function(char, type) {
      let checkOne = this.select.one.some(x => x.id === char.id)
      let checkTwo = this.select.two.some(x => x.id === char.id)
      let checkThree = this.select.three.some(x => x.id === char.id)
      if (checkOne || checkTwo || checkThree) {
        return type === 'wrapper'
          ? 'l--char'
          : 'https://i.imgur.com/EB6t4nN.jpg'
      }
      let picture =
        char.picture !== '' ? char.picture : 'https://i.imgur.com/irRmTaG.png'
      return type === 'wrapper' ? 'l--char l--drag' : picture
    },
    log: function(evt) {
      // window.console.log(evt)
    },
    onAdd: function(evt) {
      this.select.one = _.uniqBy(this.select.one, v => v.id).slice(0, 1)
      this.select.two = _.uniqBy(this.select.two, v => v.id).slice(0, 1)
      this.select.three = _.uniqBy(this.select.three, v => v.id).slice(0, 1)
      LocalStorage.set('select.one', this.select.one)
      LocalStorage.set('select.two', this.select.two)
      LocalStorage.set('select.three', this.select.three)
    },
    onAddChar: function(evt) {
      // window.console.log(evt)
      this.allChar = _.cloneDeep(this.chars)
    },
    logout() {
      this.$axios
        .post(process.env.API + `/api/auth/logout`)
        .then(res => {
          console.log(res)
          localStorage.removeItem('jwtToken')
          this.$router.push('/')
        })
        .catch(e => {
          console.log(e)
          this.errors.push(e)
          if (e.response.status === 401) {
            this.$router.push('/')
          }
        })
    },
    search: function() {
      console.log('search')
      let select = _.concat(this.select.one, this.select.two, this.select.three)
      if (select.length < 3) {
        return false
      }
      this.searching = true
      let playerName = uniqid.time()
      let payload = {
        player: playerName,
        chars: select
      }
      localStorage.setItem('player', playerName)
      socket.emit('search', payload)
    }
  }
}

// let jwt = localStorage.getItem('jwtToken')
// console.log(jwt)
// socket.on('connect', function() {
//   socket
//     .emit('authenticate', { token: jwt }) //send the jwt
//     .on('authenticated', function() {
//       //do other things
//     })
//     .on('unauthorized', function(msg) {
//       console.log('unauthorized: ' + JSON.stringify(msg.data))
//       throw new Error(msg.data.type)
//     })
// })

socket.on('found', packet => {
  console.log('hi')
  let url = ''
  if (packet.testing) {
    url = '/test/' + packet.room + '?old=true'
  } else {
    url = '/game/' + packet.room + '?old=true'
  }
  router.push(url)
})
</script>
