<template>
  <q-page class="row flex-center game--background">
    <result></result>
    <div class="loading" v-if="!loaded">Loading your arena...</div>
    <div class="game--width" v-if="loaded">
      <monitor></monitor>
      <div class="row justify-between team__layout">
        <team :team="meta.ally"></team>
        <team :team="meta.enemy"></team>
      </div>
      <panel></panel>
    </div>
    <div class="column q-pa-sm col-4" v-show="settings.json">
      <json-viewer :value="all" :expand-depth="1" boxed></json-viewer>
    </div>
  </q-page>
</template>

<style lang="stylus">
.game--background {
  // background: url('https://i.imgur.com/pj0h7aO.jpg') no-repeat center center;
  // fixed;
  // background: url('https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2017/03/fuuka-wallpaper.jpg?itok=xxZnQQcr') no-repeat center center;
  background: #222222 url('https://i.imgur.com/g92hCfo.png') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background: #222;
  @media screen and (max-width: 770px) {
    padding: 0px;
  }
}

.game--width {
  background: #ffffff url('https://images5.alphacoders.com/100/1003363.jpg') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 770px;
  height: 550px;
  padding-top: 25px;
  border-radius: 5px;

  @media screen and (max-width: 770px) {
    height: 100vh;
    padding: 10px;
    border-radius: 0px;
  }
}

.team__layout {
  padding: 0 10px;
}

.loading {
  padding: 7px 5px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.25);
  border: 1px solid #222;
  color: #fff;
  cursor: default;
}

.energy__g {
  display: inline-block;
  background-color: rgb(0, 255, 42);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__r {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__b {
  display: inline-block;
  background-color: rgb(0, 94, 255);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__w {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__rd {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}
</style>

<script>
import io from 'socket.io-client'
const socket = io(process.env.API, {
  query: 'auth_token=' + localStorage.getItem('jwtToken')
})
import monitor from 'components/game/monitor'
import team from 'components/game/team'
import panel from 'components/game/panel'
import result from 'components/game/result'

import JsonViewer from 'vue-json-viewer'

let store, route

export default {
  name: 'GameIndex',
  components: {
    monitor,
    team,
    panel,
    result,
    JsonViewer
  },
  created: function() {
    store = this.$store
    route = this.$route

    //Make Connection
    socket.emit('initiate', {
      player: 'Tester 1',
      room: this.$route.params.room
    })
  },
  data() {
    return {}
  },
  computed: {
    loaded: function() {
      return this.$store.getters['game/load']
    },
    settings: function() {
      return this.$store.getters['game/settings']
    },
    meta: function() {
      return this.$store.getters['game/meta']
    },
    all: {
      get: function() {
        return this.$store.getters['game/all']
      }
    }
  }
}

socket.on('initiate', res => {
  console.log(res)
  let team = res.state.turn % 2 === 0 ? 'even' : 'odd'
  store.commit('game/load', true)
  store.commit('game/using', res.state[team].using)
  store.commit('game/state', res.state)
  store.commit('game/meta', {
    ...res.meta,
    ally: res.state.turn % 2 === 0 ? 'even' : 'odd',
    enemy: res.state.turn % 2 !== 0 ? 'even' : 'odd'
  })
  store.commit('game/exchange', { type: 'RESET' })
  store.commit('game/redeem', { type: 'RESET' })
  store.commit('game/buffer', { type: 'RESET' })
  store.commit('game/modal', { type: 'RESET' })
})

socket.on('result', res => {
  console.log(res)
  let team = res.state.turn % 2 === 0 ? 'even' : 'odd'
  store.commit('game/meta', {
    ...res.meta,
    ally: res.state.turn % 2 === 0 ? 'even' : 'odd',
    enemy: res.state.turn % 2 !== 0 ? 'even' : 'odd'
  })
  store.commit('game/load', true)
  store.commit('game/using', res.state[team].using)
  store.commit('game/state', res.state)
  store.commit('game/exchange', { type: 'RESET' })
  store.commit('game/redeem', { type: 'RESET' })
  store.commit('game/buffer', { type: 'RESET' })
  store.commit('game/modal', { type: 'RESET' })
})
</script>
