<style lang="stylus">
.arenas {
  width: 100%;
  max-width: 350px;
  background: rgba(34, 34, 34, 0.9);
  border-radius: 5px;
}

.input {
  input {
    // background: #fff;
    color: #fff;
  }
}

.button {
  background: #fff;
}

.arena__title{
  text-align: center;
  color: #fff;
  font-weight: 600;
  padding: 20px 10px 10px 10px;
}
.arena {
  background-color: #fff;
  border-radius: 5px;
  img{
    max-width: 150px;
  }
}
.arena__box{
  padding: 10px;
}
.arena__img{
  width: 100%;
  height: 80px;
  padding: 10px;
}
.arena__name{
  background-image: linear-gradient(to top right, #0b5d9c, #006fc4);
  width: 100%;
  color: #fff;
  text-align: center;
  padding: 10px;
  font-size: 14px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
</style>

<template>
  <div class="flex column justify-center items-center">
    <div class="arenas">
      <p class="arena__title">Choose Your Arena</p>
      <div v-for="(arena, index) in arenas" :key="index" class="arena__box">
        <div
          class="arena flex column justify-center items-center"
          @click="chooseArena(arena)"
        >
          <div class="arena__img flex column justify-center items-center">
            <img :src="arena.logo" />
          </div>
          <p class="arena__name">{{ arena.name }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountLogin',
  components: {},
  created: function() {
    this.getArena()
  },
  data() {
    return {
      arenas: []
    }
  },
  computed: {},
  methods: {
    getArena: function() {
      this.$axios.get(process.env.API + '/arena/get').then(res => {
        this.arenas = res.data
      })
    },
    chooseArena: function(arena) {
      this.$store.commit('lobby/arena', {
        type: 'CHOOSE',
        pkg: {
          name: arena.name,
          _id: arena._id,
          logo: arena.logo
        }
      })

      this.$router.push('/lobby')
    }
  }
}
</script>
