<template>
  <div class="flex column justify-center">
    <result></result>
    <div class="loading column" v-if="!loaded" @click="reload">
      <span class="loading__msg">Loading your arena...</span>
      <span class="loading__refresh">Click to Refresh</span>
    </div>
    <div class v-if="loaded">
      <monitor></monitor>
      <div class="row justify-between team__layout">
        <team :team="meta.ally"></team>
        <team :team="meta.enemy"></team>
      </div>
      <panel v-if="$q.platform.is.desktop"></panel>
      <mobile v-if="$q.platform.is.mobile"></mobile>
    </div>
  </div>
</template>

<style lang="stylus">
.loading {
  padding: 10px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.6);
  border: 1px solid #222;
  color: #fff;
  cursor: default;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;

  .loading__msg {
    margin-bottom: 5px;
  }

  .loading__refresh {
    font-size: 14px;
  }
}
</style>

<script>
import monitor from 'components/game/monitor'
import team from 'components/game/team'
import panel from 'components/game/panel'
import mobile from 'components/game/mobile'
import result from 'components/game/result'

export default {
  name: 'GameTester',
  components: {
    monitor,
    team,
    panel,
    mobile,
    result
  },
  created: function() {
    //Make Connection
    this.$socket.emit('initiate', {
      room: this.$route.params.room
    })
  },
  data() {
    return {}
  },
  computed: {
    loaded: function() {
      return this.$store.getters['game/load']
    },
    settings: function() {
      return this.$store.getters['game/settings']
    },
    meta: function() {
      return this.$store.getters['game/meta']
    }
  },
  methods: {
    reload: function() {
      location.reload()
    }
  },
  sockets: {
    initiate: function(res) {
      console.log(res)
      let team = res.state.turn % 2 === 0 ? 'even' : 'odd'
      this.$store.commit('game/load', true)
      this.$store.commit('game/using', res.state[team].using)
      this.$store.commit('game/state', res.state)
      this.$store.commit('game/meta', res.meta)
      this.$store.commit('game/exchange', { type: 'RESET' })
      this.$store.commit('game/redeem', { type: 'RESET' })
      this.$store.commit('game/buffer', { type: 'RESET' })
      this.$store.commit('game/modal', { type: 'RESET' })
    },
    result: function(res) {
      console.log(res)
      let team = res.state.turn % 2 === 0 ? 'even' : 'odd'
      this.$store.commit('game/load', true)
      this.$store.commit('game/using', res.state[team].using)
      this.$store.commit('game/state', res.state)
      this.$store.commit('game/exchange', { type: 'RESET' })
      this.$store.commit('game/redeem', { type: 'RESET' })
      this.$store.commit('game/buffer', { type: 'RESET' })
      this.$store.commit('game/modal', { type: 'RESET' })
    },
    msg: function(packet) {
      this.$store.dispatch('chat/message', { message: packet })
    },
    spectators: function(packet) {
      console.log('spectators', packet)
      this.$store.dispatch('lobby/activities', {
        type: 'SPECTATORS',
        activities: packet
      })
    }
  }
}
</script>
