<style lang="stylus">
.wrapper {
  width: 100%;
  max-width: 300px;
}

.input {
  input {
    // background: #fff;
    color: #fff;
  }
}

.button {
  background: #fff;
}

.link {
  color: #fff;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
</style>

<template>
  <div class="flex column justify-center items-center">
    <div class="wrapper">
      <q-field class="input">
        <q-input float-label="Username" v-model="form.username" :dark="true" />
      </q-field>
      <q-field class="q-mb-md">
        <q-input
          float-label="Password"
          v-model="form.password"
          type="password"
          :dark="true"
        />
      </q-field>
      <div class="flex column items-start">
        <q-btn class="q-mb-md button" @click="submit">Login</q-btn>
        <p @click="$router.push('/register')" class="link">or Register Here</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountLogin',
  components: {},
  created: function () {},
  data() {
    return {
      form: {
        username: '',
        password: '',
      },
    }
  },
  computed: {},
  methods: {
    submit(evt) {
      evt.preventDefault()
      this.$axios
        .post(process.env.API + `/api/auth/login/`, this.form)
        .then((response) => {
          //Plant Token
          localStorage.setItem('jwtToken', response.data.token)
          localStorage.setItem('usergroup', response.data.usergroup)

          //Conect Socket
          //Update Query, Disconnect, and Reconnect
          let query = 'auth_token=' + localStorage.getItem('jwtToken')
          this.$socket.io.opts.query = query
          this.$socket.disconnect()
          this.$socket.connect()

          //Go to Lobby
          this.$router.push('/lobby')
        })
        .catch((e) => {
          console.log(e)
          this.errors.push(e)
        })
    },
  },
}
</script>
