<style lang="stylus">
.wrapper {
  width: 100%;
  max-width: 300px;
}

.input {
  .q-if-inner {
    font-size: 14px !important;
  }

  input {
    // background: #fff;
    color: #fff;
    font-size: 14px !important;
    height: 14px !important;
  }
}

.button {
  background: #fff;
}

.link {
  color: #fff;
  cursor: pointer;
  font-size: 14px;

  &:hover {
    text-decoration: underline;
  }
}
</style>

<template>
  <div class="flex column justify-center items-center">
    <div class="wrapper">
      <q-field helper="To login with. Unchangeable. Unique." class="input">
        <q-input float-label="Username" v-model="form.username" :dark="true" />
      </q-field>
      <q-field helper="Will appear ingame. Changeable. Not unique." class="input">
        <q-input float-label="Display Name" v-model="form.displayname" :dark="true" />
      </q-field>
      <q-field class="input">
        <q-input float-label="Email" v-model="form.email" :dark="true" />
      </q-field>
      <q-field class="q-mb-md">
        <q-input float-label="Password" v-model="form.password" type="password" :dark="true" />
      </q-field>
      <div class="flex column items-start">
        <q-btn class="q-mb-sm button" @click="submit">Register</q-btn>
        <p @click="$router.push('/')" class="link">or Login Here</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AccountRegister',
  components: {},
  created: function() {},
  data() {
    return {
      form: {
        username: '',
        displayname: '',
        email: '',
        password: ''
      }
    }
  },
  computed: {},
  methods: {
    submit(evt) {
      evt.preventDefault()
      this.$axios
        .post(process.env.API + `/api/auth/register/`, this.form)
        .then(response => {
          console.log(response)
          if (response.data.success) {
            this.$router.push('/')
          }
        })
        .catch(e => {
          console.log(e)
          this.errors.push(e)
        })
    }
  }
}
</script>
