<template>
  <div id="q-app">
    <router-view />
  </div>
</template>

<script>
export default {
  name: 'App',
  created: function() {
    this.$store.dispatch('game/startTime')
  }
}

if (process.env.PROD) {
  window.addEventListener('contextmenu', e => {
    e.preventDefault()
  })
}

function clickEffect(e) {
  var d = document.createElement('div')
  d.className = 'clickEffect'
  d.style.top = e.clientY + 'px'
  d.style.left = e.clientX + 'px'
  document.body.appendChild(d)
  d.addEventListener(
    'animationend',
    function() {
      d.parentElement.removeChild(d)
    }.bind(this)
  )
}
document.addEventListener('click', clickEffect)
</script>

<style lang="stylus">
/* @media screen and (min-width: 320px) and (max-width: 770px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */
input {
  border: none;
}

input:focus {
  outline: none;
}

div.clickEffect {
  position: fixed;
  box-sizing: border-box;
  border-style: solid;
  border-color: #00bfff;
  // border-radius: 50%;
  transform: rotate(45deg);
  animation: clickEffect 0.4s ease-out;
  z-index: 99999;
}

@keyframes clickEffect {
  0% {
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: -5px;
    border-width: 2.5px;
  }

  100% {
    opacity: 0.2;
    width: 30px;
    height: 30px;
    margin: -15px;
    border-width: 0.2px;
  }
}
</style>
