<template>
  <q-layout class="flex flex-center account__background">
    <q-page-container class="account__wrapper">
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  name: 'LayoutAccount',
  created: function() {},
  data() {
    return {}
  },
  methods: {}
}
</script>

<style lang="stylus">
.account__background {
  // background: url('https://i.imgur.com/pj0h7aO.jpg') no-repeat center center;
  // fixed;
  // background: url('https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2017/03/fuuka-wallpaper.jpg?itok=xxZnQQcr') no-repeat center center;
  background: #222222 url('https://i.imgur.com/g92hCfo.png') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background: #222;
  @media screen and (max-width: 770px) {
    padding: 0px;
  }
}

.account__wrapper {
  background: transparent url('') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 770px;
  height: 100vh;
  max-height: 550px;
  border-radius: 5px;

  @media screen and (max-width: 812px) {
    // height: 100vh;
    // padding: 10px;
    border-radius: 0px;
    max-width: 100%;
  }

  @media screen and (min-width: 320px) and (max-width: 770px) and (orientation: portrait) {
    max-height: 100%;

    > div {
      height: 100vw !important;
    }
  }
}

.account__wrapper > div {
  height: 100%;
  // max-height: 550px;
}

div {
  overflow: -moz-scrollbars-none;
}

div::-webkit-scrollbar {
  width: 0 !important;
}

html {
  user-select: none;
}

p {
  margin-bottom: 0px;
}
</style>
