<template>
  <q-layout view="hHh Lpr lFf">
    <!-- <chatbox/> -->
    <q-page-container>
      <router-view/>
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import chatbox from 'components/chatbox'

export default {
  name: 'LayoutGame',
  components: {
    chatbox
  },
  data() {
    return {
      // leftDrawerOpen: this.$q.platform.is.desktop
      leftDrawerOpen: false
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
.glossy {
  background: #222 !important;
  background-image: none !important;
}
</style>
