<template>
  <q-layout class="flex flex-center home__background">
    <div class="force_landscape">
      <p>
        Anime Arena is not supported for portait mode yet. Please use landscape
        mode :)
      </p>
    </div>
    <q-page-container
      class="home__wrapper force_game"
      :style="`background-image: url(${background})`"
    >
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { LocalStorage, SessionStorage } from 'quasar'

export default {
  name: 'LayoutHome',
  created: function() {
    this.getChars()
    this.$store.dispatch('lobby/teams', {
      type: 'LOAD'
    })
    this.$store.dispatch('lobby/profile', {
      type: 'LOAD'
    })
  },
  data() {
    return {}
  },
  computed: {
    background: function() {
      return this.$store.getters['lobby/profile'].background.lobby
    }
  },
  methods: {
    getChars: function() {
      this.$axios.get(process.env.API + '/char/all/complete').then(res => {
        let chars = res.data.map(x => {
          let data = JSON.parse(x.data)
          return {
            name: x.name,
            id: x._id,
            picture:
              data.picture === ''
                ? 'https://i.imgur.com/EB6t4nN.jpg'
                : data.picture,
            data: data,
            arena: x.arena
          }
        })

        this.$store.commit('lobby/chars', { type: 'LOAD', pkg: { chars } })
      })
    }
  }
}
</script>

<style lang="stylus">
// Force landscape
.force_landscape {
  display: none;
}

.force_game {
  display: block;
}

@media screen and (max-width: 700px) and (orientation: portrait) {
  .force_landscape {
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px;
  }

  .force_game {
    display: none;
  }
}

.home__background {
  // background: url('https://i.imgur.com/pj0h7aO.jpg') no-repeat center center;
  // fixed;
  // background: url('https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2017/03/fuuka-wallpaper.jpg?itok=xxZnQQcr') no-repeat center center;
  background: #222222 url('https://i.imgur.com/g92hCfo.png') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background: #222;
  @media screen and (max-width: 770px) {
    padding: 0px;
  }
}

.home__wrapper {
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  // background: #ffffff url('https://images5.alphacoders.com/103/1033113.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 770px;
  height: 100vh;
  max-height: 550px;
  border-radius: 5px;

  @media screen and (max-width: 812px) {
    // height: 100vh;
    // padding: 10px;
    border-radius: 0px;
    max-width: 100%;
  }

  @media screen and (min-width: 320px) and (max-width: 770px) and (orientation: portrait) {
    max-height: 100%;
    max-width: 100%;
  }
}

.home__wrapper > div {
  height: 100%;
  // max-height: 550px;
}

div {
  overflow: -moz-scrollbars-none;
}

// div::-webkit-scrollbar {
// width: 0 !important;
// }
div::-webkit-scrollbar-track {
  // -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // background-color: rgba(0, 0, 0, 0.8);
  background-color: transparent;
}

div::-webkit-scrollbar {
  width: 5px;
  // background-color: #F5F5F5;
  background-color: transparent;
}

div::-webkit-scrollbar-thumb {
  background-color: #006fc4;
  // border-radius: 5px;
}

html {
  user-select: none;
}

.energy {
  display: inline-block;
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }

  &.l--g {
    background-color: rgb(0, 255, 42);
  }

  &.l--r {
    background-color: rgb(255, 0, 0);
  }

  &.l--b {
    background-color: rgb(0, 94, 255);
  }

  &.l--w {
    background-color: rgb(255, 255, 255);
  }

  &.l--rd {
    background-color: rgb(0, 0, 0);
    border: 0.5px solid rgba(255, 255, 255, 0.4);
  }
}

p {
  margin-bottom: 0px;
}
</style>
