<template>
  <q-layout class="flex flex-center game__background">
    <div class="force_landscape">
      <p>Anime Arena is not supported for portait mode yet. Please use landscape mode :)</p>
    </div>
    <q-page-container
      class="game__wrapper force_game"
      :style="`background-image: url(${background})`"
    >
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { LocalStorage, SessionStorage } from 'quasar'

export default {
  name: 'LayoutGame',
  created: function() {
    this.$store.dispatch('lobby/profile', {
      type: 'LOAD'
    })
  },
  data() {
    return {}
  },
  computed: {
    background: function() {
      return this.$store.getters['lobby/profile'].background.ingame
    }
  },
  methods: {}
}
</script>

<style lang="stylus">
// Force landscape
.force_landscape {
  display: none;
}

.force_game {
  display: block;
}

@media screen and (max-width: 700px) and (orientation: portrait) {
  .force_landscape {
    display: block;
    color: #fff;
    text-align: center;
    padding: 5px;
  }

  .force_game {
    display: none;
  }
}

.game__background {
  // background: url('https://i.imgur.com/pj0h7aO.jpg') no-repeat center center;
  // fixed;
  // background: url('https://www.androidcentral.com/sites/androidcentral.com/files/styles/xlarge/public/article_images/2017/03/fuuka-wallpaper.jpg?itok=xxZnQQcr') no-repeat center center;
  background: #222222 url('https://i.imgur.com/g92hCfo.png') no-repeat center center;
  fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  // background: #222;
  @media screen and (max-width: 770px) {
    padding: 0px;
  }
}

.game__wrapper {
  background-color: #222222;
  background-repeat: no-repeat;
  background-position: center center;
  // background-attachment: fixed;
  // background: #ffffff url('https://images8.alphacoders.com/101/1018912.jpg') no-repeat center center;
  // fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  max-width: 770px;
  height: 100vh;
  max-height: 550px;
  border-radius: 5px;

  @media screen and (max-width: 812px) {
    // height: 100vh;
    // padding: 10px;
    border-radius: 0px;
    max-width: 100%;
  }

  @media screen and (min-width: 320px) and (max-width: 770px) and (orientation: portrait) {
    max-height: 100%;
  }
}

.game__wrapper > div {
  height: 100%;
  // max-height: 550px;
}

div {
  overflow: -moz-scrollbars-none;
}

div::-webkit-scrollbar {
  width: 0 !important;
}

html {
  user-select: none;
}

.team__layout {
  padding: 0 10px;
}

.energy__g {
  display: inline-block;
  background-color: rgb(0, 255, 42);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__r {
  display: inline-block;
  background-color: rgb(255, 0, 0);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__b {
  display: inline-block;
  background-color: rgb(0, 94, 255);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__w {
  display: inline-block;
  background-color: rgb(255, 255, 255);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

.energy__rd {
  display: inline-block;
  background-color: rgb(0, 0, 0);
  height: 10px;
  width: 10px;
  border: 0.5px solid #222;

  @media screen and (max-width: 770px) {
    width: 7px;
    height: 7px;
  }
}

p {
  margin-bottom: 0px;
}
</style>
