<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <chatbox/> -->
    <q-layout-drawer
      v-model="leftDrawerOpen"
      :content-class="$q.theme === 'mat' ? 'bg-grey-2' : null"
      mini
    >
      <q-list no-border link inset-delimiter>
        <q-item @click.native="$router.push('/lobby')">
          <q-item-side icon="home" />
        </q-item>
        <q-item @click.native="$router.push('/admin')">
          <q-item-side icon="add" />
        </q-item>        
        <q-item @click.native="$router.push('/selection')">
          <q-item-side icon="star" />
        </q-item>
      </q-list>
    </q-layout-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { openURL } from 'quasar'
import chatbox from 'components/chatbox'

export default {
  name: 'LayoutMain',
  components: {
    chatbox
  },
  data() {
    return {
      // leftDrawerOpen: this.$q.platform.is.desktop
      leftDrawerOpen: true
    }
  },
  methods: {
    openURL
  }
}
</script>

<style>
.glossy {
  background: #222 !important;
  background-image: none !important;
}
</style>
